.status__description-container 
  font-family: Arial, sans-serif
  margin: 20px


.status__description-title 
  font-size: 20px
  font-weight: bold
  margin-bottom: 10px


.status__description-list 
  display: flex
  flex-direction: column
  gap: 15px


.status__description-item 
  display: flex
  align-items: center
  gap: 15px


.status__description-item-dot 
  width: 20px
  height: 20px
  border-radius: 50%
  border: 2px solid transparent


.status__description-item-title 
  font-weight: bold
  font-size: 16px


.status__description-item-description 
  font-size: 14px
  color: #555


.status__description-item-dot--not-started 
  background-color: #FF5733 
  border-color: #C0392B    


.status__description-item-dot--pending 
  background-color: #FFC300 
  border-color: #F39C12     


.status__description-item-dot--completed 
  background-color: #2ECC71 
  border-color: #27AE60     

