@import ./../../../../styles/table-stats

.stats__table
  width: 30% !important

  .component__name
    cursor: pointer
    transition: ease-in-out all .3s
    &:hover
      background: var(--secondary1) !important
      color: var(--primary1)

.component__description
  font-size: 1em
  font-weight: 400
  color: var(--primary9)
  margin-top: 16px
.card__title
  margin-top: 32px
  &:first-child
    margin-top: 0