<button
  [type]="type"
  [disabled]="disabled || isLoading"
  [attr.aria-label]="ariaLabel"
  [ngClass]="buttonClasses"
  (click)="onClick($event)"
  (focus)="onFocus($event)"
  (blur)="onBlur($event)"
  (keydown)="onKeyDown($event)"
  (keyup)="onKeyUp($event)"
  (mouseenter)="onMouseEnter($event)"
  (mouseleave)="onMouseLeave($event)">
  <ng-content *ngIf="!isLoading"></ng-content>
  <ng-container *ngIf="isLoading">
    <span>Loading</span>
    <span class="spinner"></span>
  </ng-container>
</button>