<div class="settings__anchor" id="basics" data-value="Basics"></div>


  <div class="card profile-section">
    <div class="card-header">
      <h2>My Profile</h2>
    </div>
    <div class="card-content">
      <div class="settings__profile">

        <div class="settings__avatar" (click)="openChangeAvatarModal()">
          <img *ngIf="user.imageUrl == null" src="assets/images/avatar.jpg" alt="Avatar">
          <img *ngIf="user.imageUrl != null" [src]="staticUrl+user.imageUrl" alt="">
          <button class="settings__avatar-upload">
            <svg class="icon icon-edit">
              <use xlink:href="#icon-edit"></use>
            </svg>
          </button>
        </div>

        <ng-container *ngIf="isChangeAvatarModalOpen">
          <div class="avatar__modal_overlay" (click)="closeModal()"></div>
          <div class="avatar__modal">
            <div class="close-button-container">
              <button class="close-button" (click)="closeModal()">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z" />
                </svg>
              </button>
            </div>
            <div class="create__card card">
              <div class="file">
                <div class="file__label">User Avatar
                  <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed" data-position="right">
                    <svg class="icon icon-info">
                      <use xlink:href="#icon-info"></use>
                    </svg>
                  </div>
                </div>
                <div class="file__wrap">
                  <input class="upload-input" type="file" (change)="handleUpload($event)" />
                  <div class="file__box" *ngIf="!displayedImage">
                    <svg class="icon icon-upload">
                      <use xlink:href="#icon-upload"></use>
                    </svg>Click or drop image
                  </div>
                  <div class="files__box">
                    <div *ngIf="displayedImage != null" class="image__box">
                      <div class="image__clear" (click)="clearImage()">X</div>
                      <img [src]="displayedImage" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form__actions">
              <button class="button-small button" (click)="changeAvatar()"> Upload </button>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="form-content">
        <!-- Basic Information -->
        <div class="form-section">
          <h3 class="section-title">Personal Information</h3>
          <div class="field-group">
            <app-display-cell inpType="text" title="First Name" [updateObservable]="updateUserObservable.bind(this)"
              [val]="user.firstName" [object]="user"></app-display-cell>

            <app-display-cell inpType="text" title="Last Name" [updateObservable]="updateUserObservable.bind(this)"
              [val]="user.lastName" [object]="user"></app-display-cell>

            <app-display-cell inpType="date" title="birthday" [updateObservable]="updateUserObservable.bind(this)"
              [val]="user.birthday" [object]="user"></app-display-cell>
          </div>

        </div>

        <div class="form-section">
          <h3 class="section-title">Contact Information</h3>
          <div class="field">
            <div class="field__label">
              Email
              <div class="tooltip" title="Your Email Address">
                <svg class="icon icon-info">
                  <use xlink:href="#icon-info"></use>
                </svg>
              </div>
              <div class="tooltip" (click)="verifyEmail()"
                [title]="user.isEmailVerified ? 'Email Verified' : 'Email Not Verified'">
                <svg class="icon icon-check"
                  [ngClass]="{'verified': user.isEmailVerified, 'not-verified': !user.isEmailVerified}">
                  <use xlink:href="#icon-check"></use>
                </svg>
              </div>
              <div class="field__edit" (click)="editingEmail = true">
                <svg class="icon icon-edit">
                  <use xlink:href="#icon-edit"></use>
                </svg>
              </div>
            </div>
            <div class="field__information" *ngIf="!editingEmail">
              <ng-container *ngIf="user.email != null && user.email != ''">{{user.email | titlecase}}</ng-container>
              <ng-container *ngIf="user.email == null || user.email == ''"> not specified </ng-container>
            </div>
            <ng-container *ngIf="editingEmail">
              <app-modal [title]="'Update Email'" (closed)="editingEmail = false" [showFooter]="false">
                <app-profile-update-email (closeEvent)="editingEmail = false"
                  [userID]="user.id"></app-profile-update-email>
              </app-modal>
            </ng-container>

            <ng-container *ngIf="verifyingEmail">
              <app-modal [title]="'Verify Email'" (closed)="verifyingEmail = false" [showFooter]="false">
                <app-profile-verify-email (closeEvent)="verifyingEmail = false" [isLoading]="isSendingEmail"
                  [userID]="user.id" [email]="user.email"></app-profile-verify-email>
              </app-modal>
            </ng-container>
          </div>

          <div class="field">
            <div class="field__label">
              Phone
              <div class="tooltip" title="Your Phone Number">
                <svg class="icon icon-info">
                  <use xlink:href="#icon-info"></use>
                </svg>
              </div>
              <div class="tooltip" (click)="verifyPhone()"
                [title]="user.isPhoneNumberVerified ? 'Phone Verified' : 'Phone Not Verified'">
                <svg class="icon icon-check"
                  [ngClass]="{'verified': user.isPhoneNumberVerified, 'not-verified': !user.isPhoneNumberVerified}">
                  <use xlink:href="#icon-check"></use>
                </svg>
              </div>
              <div class="field__edit" (click)="editingPhone = true">
                <svg class="icon icon-edit">
                  <use xlink:href="#icon-edit"></use>
                </svg>
              </div>
            </div>
            <div class="field__information" *ngIf="!editingPhone">
              <ng-container *ngIf="user.phone != null && user.phone != ''">{{user.phone | titlecase}}</ng-container>
              <ng-container *ngIf="user.phone == null || user.phone == ''"> not specified </ng-container>
            </div>
            <ng-container *ngIf="verifyingPhone">
              <app-modal [title]="'Verify Phone'" (closed)="verifyingPhone = false" [showFooter]="false">
                <app-profile-verify-phone (closeEvent)="verifyingPhone = false" [isLoading]="isSendingPhoneSms"
                  [userID]="user.id" [phone]="user.phone" [email]="user.email"></app-profile-verify-phone>
              </app-modal>
            </ng-container>
            <ng-container *ngIf="editingPhone">
              <app-modal [title]="'Update Phone'" (closed)="editingPhone = false" [showFooter]="false">
                <app-profile-update-phone (closeEvent)="editingPhone = false" [email]="user.email"
                  [userID]="user.id"></app-profile-update-phone>
              </app-modal>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

  </div>