.filters
    display: flex
    cursor: pointer
    flex-wrap: wrap
    .card__filter_search
        width: 100%
        input

    

    .card__filter
        padding: 6px 12px
        border-radius: 6px
        margin-right: 5px
        transition: ease-in-out all .3s
        background: var(--primary2)
        &:hover
            background: var(--primary3)
        &.active
            background: yellow
