<form [formGroup]="form">
  <div class="field">
    <div class="field__label">City
      <div class="tooltip" title="The City where the charging station is.">
        <svg class="icon icon-info">
          <use xlink:href="#icon-info"></use>
        </svg>
      </div>
    </div>
    <app-search-input class="field__wrap"
      placeholder="City"
      [control]="getControl('city')"
      [options]="cities"></app-search-input>
  </div>
  
  <app-form-field
    class="field"
    title="Zip Code"
    inputType="text"
    description="The postal code for the address."
    placeholder="Enter Zip Code"
    [control]="getControl('zipCode')"
  ></app-form-field>

  <app-form-field
    class="field"
    title="Address"
    inputType="text"
    description="The full street address."
    placeholder="Enter Street Address"
    [control]="getControl('address')"
  ></app-form-field>

  

  <div class="form__actions">
    <button class="button button-stroke" (click)="previousStep()">Previous</button>
    <button [ngClass]="{'disabled' : form.invalid}" [disabled]="form.invalid" class="button button-primary ml-auto" (click)="saveInformations()">Next</button>
  </div>
</form>