<div class="title-purple card__title">
  Statistics
</div>


<div class="chargePoint-actions">
  <ng-container  *ngFor="let ocppAction of OCPPActions">
    <div *ngIf="ocppAction.requestable" (click)="openRequestHanlderModal(ocppAction)" class="button button-dark chargePoint-action">
      {{ocppAction.name}}
    </div>
  </ng-container>
</div>

<ng-container *ngIf="requestHandlerModalVisible">
  <app-request-handler [chargePointID]="chargePoint.chargePointId" (closeEvent)="requestHandlerModalVisible = false" [ocppAction]="currentOcppAction"></app-request-handler>
</ng-container>