
.chargePoint-actions
  flex: 0 0 100%
  flex-wrap: wrap
  display: flex
  .chargePoint-action
    flex: 0 0 30%
    margin-right: auto
    margin-top: 16px
@keyframes blink-animation 
  0% 
    opacity: 1
  50% 
    opacity: 0
  100% 
    opacity: 1
 

        