<div class="icon">
  <img src="assets/images/logos/logo.svg" alt="">
</div>
<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="login()">
    <div class="entry__fieldset">
      <app-form-field
        class="field"
        title="Email or Phone"
        placeholder="Enter your email or phone number"
        description="Your account's email address or phone number"
        [control]="getControl('identifier')"
        icon="icon-info"
      ></app-form-field>

      <app-form-field
        class="field"
        title="Password"
        placeholder="Enter your password"
        description="Your password"
        [control]="getControl('password')"
        inputType="password"
        icon="icon-info"
      ></app-form-field>

      <app-info-box message="{{errorMessage}}" [type]="'error'" *ngIf="errorMessage != null && errorMessage != ''">
      </app-info-box>

      <app-button 
        class="entry__button" 
        [disabled]="!form.valid" 
        (btnClick)="login()" 
        [variant]="'secondary'" 
        size="large"
        type="submit"
        [isLoading]="isLoading">
        Login
      </app-button>
    </div>
    <div routerLink="/auth/request-password" class="link">
      Forgot password?
    </div>
  </form>

  <div class="entry__top">
    <div class="entry__text">or Sign up with Open account</div>
    <div class="entry__btns">
      <button (click)="googleLogin()" class="button-google entry__button"><img src="assets/img/content/google.svg"
          alt="Google">Google</button>
    </div>
  </div>

  <div class="entry__note">This site is protected by reCAPTCHA and the Google Privacy Policy.</div>
  <div class="entry__info">Don’t have an account? <a routerLink="/auth/register">Sign up</a></div>
</div>