<div class="icon">
  <img src="assets/images/logos/logo.svg" alt="">
</div>
<div class="form-container">
  <form [formGroup]="form">
    <div class="login__fieldset">
      <!-- First Name -->
      <app-form-field
        class="field"
        title="First Name"
        placeholder="Enter your first name"
        description="Your given name"
        [control]="getControl('firstName')"
        icon="icon-info"
      ></app-form-field>
      
      <!-- Last Name -->
      <app-form-field
        class="field"
        title="Last Name"
        placeholder="Enter your last name"
        description="Your family name"
        [control]="getControl('lastName')"
        icon="icon-info"
      ></app-form-field>
      
      <!-- Email -->
      <app-form-field
        class="field"
        title="Email"
        placeholder="Your email"
        description="We'll send a verification link to this address"
        [control]="getControl('email')"
        icon="icon-mail"
      ></app-form-field>
      <div class="error" *ngIf="emailAlreadyExists">
        This Email already exists
      </div>
      
      <!-- Password -->
      <app-form-field
        class="field"
        title="Password"
        placeholder="Your Password"
        description="Must be 8+ characters with uppercase, number & special character"
        [control]="getControl('password')"
        inputType="password"
        icon="icon-lock"
      ></app-form-field>
      
      <!-- Confirm Password -->
      <app-form-field
        class="field"
        title="Confirm Password"
        placeholder="Confirm Password"
        description="Re-enter your password"
        [control]="getControl('confirmPassword')"
        inputType="password"
        icon="icon-lock"
      ></app-form-field>

      <div class="error" *ngIf="form.errors != null && form.errors['passwordMismatch'] && (form.dirty || form.touched) && getControl('confirmPassword').touched && getControl('password')">
        Passwords do not match.
      </div>
      

      <label class="terms-consent">
        <input type="checkbox" [formControl]="getControl('acceptTerms')">
        I accept the <a routerLink="/terms" target="_blank">Terms of use</a> and have read the
        <a routerLink="/privacy" target="_blank">Privacy policy</a>.
      </label>

      <app-button [isLoading]="isLoading" class="login__button" variant="secondary" [disabled]="!form.valid" (btnClick)="register()">
        Sign Up 
      </app-button>
    </div>
  </form>
  
  <div class="entry__top">
    <div class="entry__text">or Sign up with Open account</div>
    <div class="entry__btns">
      <button type="button" (click)="googleLogin()" class="button-google entry__button"><img src="assets/img/content/google.svg"
          alt="Google">Google</button>
    </div>
  </div>
  
  <div class="entry__note">This site is protected by reCAPTCHA and the Google Privacy Policy.</div>
  <div class="entry__info">Already have an account? <a routerLink="/auth/login">Sign in</a></div>
</div>