<div class="icon">
  <img src="assets/images/logos/logo.svg" alt="">
</div>
<div class="form-container">
  <form [formGroup]="form">
    <div class="login__fieldset">
      <div class="field field_icon"  [ngClass]="{'error': form.controls['firstName'].invalid && (form.controls['firstName'].dirty || form.controls['firstName'].touched)}">
        <div class="field__wrap">
          <input class="field__input" type="text" formControlName="firstName" placeholder="First Name">
          <div class="field__icon">
            <svg class="icon icon-info">
              <use xlink:href="#icon-info"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="field field_icon"  [ngClass]="{'error': form.controls['lastName'].invalid && (form.controls['lastName'].dirty || form.controls['lastName'].touched)}">
        <div class="field__wrap">
          <input class="field__input" type="text" formControlName="lastName" placeholder="Last Name">
          <div class="field__icon">
            <svg class="icon icon-info">
              <use xlink:href="#icon-info"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="field field_icon">
        <div class="field__wrap">
          <input class="field__input"  [ngClass]="{'error': form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)}" type="text" formControlName="email" placeholder="Your email">
          <div class="field__icon">
            <svg class="icon icon-mail">
              <use xlink:href="#icon-mail"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="field field_icon">
        <div class="field__wrap"  [ngClass]="{'error': form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)}">
          <input class="field__input" type="password" formControlName="password" placeholder="Your Password">
          <div class="field__icon">
            <svg class="icon icon-lock">
              <use xlink:href="#icon-lock"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="field field_icon">
        <div class="field__wrap" [ngClass]="{'error': form.controls['confirmPassword'].invalid && (form.controls['confirmPassword'].dirty || form.controls['confirmPassword'].touched)}">
          <input class="field__input" type="password" formControlName="confirmPassword" placeholder="Confirm Password">
          <div class="field__icon">
            <svg class="icon icon-lock">
              <use xlink:href="#icon-lock"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="field__error">
        {{errorMessage}}
      </div>
      <button class="button login__button" [ngClass]="{'disabled': !form.valid}" [disabled]="!form.valid" (click)="register()">
        <ng-container *ngIf="isLoading"> <app-svg-spinner></app-svg-spinner> </ng-container>
        <ng-container *ngIf="!isLoading"> Sign Up </ng-container>
      </button>
    </div>
  </form>

  <div class="entry__top">
    <div class="entry__text">or Sign up with Open account</div>
    <div class="entry__btns">
      <button class="button-stroke entry__button"><img src="assets/img/content/google.svg" alt="Google">Google</button>
    </div>
  </div>
  
  <div class="entry__note">This site is protected by reCAPTCHA and the Google Privacy Policy.</div>
  <div class="entry__info">Already have an account? <a routerLink="/auth/login">Sign in</a></div>
</div>