.icon
    width: 40%
    margin-left: auto
    margin-right: auto
    height: 100px
    display: flex
    position: relative
    img 
        top: 0
        left: 0
        position: absolute
        object-fit: contain
        height: 100%
        width: 100%
.title
    width: 100%
    text-align: center
    font-size: 2em
    font-weight: 500
    
.field__error
    margin-left: 9px
    color: red
    margin-top: 8px
    font-size: 18px
    font-weight: 500


// Form Styling
.form-container
    width: 65%
    margin-left: auto
    margin-right: auto
    .field__input
        border-radius: 4px
        font-size: 18px
        font-weight: 400
    .entry__button
        flex: 0 0 100% 
        margin: 16px 4px
    .entry__text
        text-align: center
        margin-top: 32px
    .login__button
      margin-top: 24px