<div class="title-green request__title">Clear Cache Request</div>
<div class="request__subtitle">Description</div>
<div class="request__description">
  Request a cache clear for the Authorization Cache of the charging station
</div>
<div class="request__container">
  <div class="form__actions">
    <button (click)="clearCacheRequest()" class="button button__primary button-small stop__btn">
      <ng-container *ngIf="isLoading">
        <app-svg-spinner></app-svg-spinner>
      </ng-container>
      <ng-container *ngIf="!isLoading">Clear Cache Request</ng-container>
    </button>
  </div>
</div>