

.component__criterias_container
  display: flex
  margin-top: 12px
  padding: 12px
  flex-wrap: wrap
  .component__criteria
    padding: 4px 6px
    background: var(--secondary2)
    color: var(--primary1)
    margin-right: 2px
    border-radius: 6px
    transition: ease-in-out all .3s
    cursor: pointer
    &:hover
      background: red


.variable__container
  display: flex
  overflow-x: scroll
  width: 100%
  .variable__name
    display: flex
    white-space: nowrap
    margin-right: 12px
    font-size: 10px