
<ng-container *ngIf="editingConnector == 0">
  <div class="head">
    <div class="head-name">
      Connector : <b>{{ connector.id }}</b>
    </div>
    <div class="head-actions">
      <button (click)="editConnector(connector.id)" class="button-stroke-blue button-edit button-small">Edit</button>
      <button (click)="deleteConnector(connector.id)" class="button-stroke-red button-edit button-small">Delete</button>
    </div>
  </div>
  
  
  <div class="card__display">
    <app-display-item 
      class="card__display_item"
      name="ID"
      tooltip="info"  
      value="{{connector.id}}"></app-display-item>
      
      <app-display-item 
      class="card__display_item"
      name="Connector ID"
      tooltip="info"  
      value="{{connector.connectorID}}"></app-display-item>
  
      <app-display-item 
      class="card__display_item"
      name="Connector Evse ID"
      tooltip="info"  
      value="{{connector.evseID}}"></app-display-item>
  
      <app-display-item 
      class="card__display_item"
      name="Flat Fee"
      tooltip="info"  
      value="{{connector.flatFee}}"></app-display-item>
  
      <app-display-item 
      class="card__display_item"
      name="Price Per Kwh"
      tooltip="info"  
      value="{{connector.pricePerKWh}}"></app-display-item>

      <app-display-item 
      class="card__display_item"
      name="Price Per Idle Minute"
      tooltip="info"  
      value="{{connector.pricePerIdleMinute}}"></app-display-item>
  
      <app-display-item 
      class="card__display_item"
      name="Price Per Minute"
      tooltip="info"  
      value="{{connector.pricePerMinute}}"></app-display-item>
  
      <app-display-item 
        class="card__display_item"
        name="Price Per Hour"
        tooltip="info"  
        value="{{connector.pricePerHour}}"></app-display-item>

      <app-display-item 
      class="card__display_item"
      name="Cost Per Kwh"
      tooltip="info"  
      value="{{connector.costPerKwh}}"></app-display-item>
  </div>
</ng-container>




<ng-container *ngIf="editingConnector != 0">
  <app-charge-point-edit-connector [connectorID]="editingConnector"></app-charge-point-edit-connector>
</ng-container>
