
.button-stroke
    margin-top: 36px
    color: white

.mb-8
    margin-bottom: 8px

.flex
    display: flex

.btn-cancel
    margin-left: auto
    color: black

.button
    margin-top: 36px

.charge-point-links-container
  display: flex
  flex-wrap: wrap

  .charge-point-link
    background: var(--primary2)
    transition: ease-in-out all .3s
    color: black
    font-weight: 600
    letter-spacing: 4px
    font-size: 18px
    border-radius: 4px
    margin-top: 16px
    flex: 0 0 30%
    margin-right: 2%
    padding: 12px 18px
    &:hover
      background: var(--primary3)


.actions__container
    margin-top: 24px