<div class="settings__anchor" id="account" data-value="Account"></div>
<div class="title-purple settings__title">Charge Points</div>
<div class="settings__fieldset" *ngIf="!isChargePointVisible">
  <div *ngIf="chargePoints.length > 0 && !cpfShow"> Choose a Charge Point to view it</div>
  <ng-container *ngIf="chargePoints.length > 0 && !cpfShow">
    <div class="charge-point-links-container" >
      <button *ngFor="let chargePoint of chargePoints" class="charge-point-link" (click)="showChargePoint(chargePoint.id)"> {{chargePoint.chargePointId}} </button>
    </div>  
  </ng-container>

  <ng-container *ngIf="chargePoints.length <= 0 && !cpfShow">
    <app-empty-card></app-empty-card>
  </ng-container>
  <ng-container *ngIf="cpfShow && chargingStationID != null && chargingStationID != undefined">
    <app-charging-station-add-charge-point
      [chargingStationID]="chargingStationID"
      (successEvent)="refresh()"
      (cancelEvent)="cpfShow = false"></app-charging-station-add-charge-point>
  </ng-container>

  <ng-container *ngIf="!cpfShow">
    <div>
      <button (click)="cpfShow = true" class="button">
        Add Charge Point
      </button>
    </div>
  </ng-container>
</div>

<div class="charge-point-container" *ngIf="isChargePointVisible">
  <app-charging-station-charge-point
    [chargePointID]="displayedChargePointID"
    (refreshEvent)="refresh()"></app-charging-station-charge-point>
</div>
