<div class="page__inner">
  <div class="page__container">
    <app-table-list 
      name="charging card"
      names="charging cards"
      [fields]="fields" 
      [data]="data"
      (next)="nextPage()"
      createLink="/charging-cards/create"
      (previous)="previousPage()"
      (deleteEvent)="delete($event)"
      (displayEvent)="display($event)"
      (updateEvent)="update($event)">
      <ng-template appTableCustomButton let-item>
        <button routerLink="/recharge-card/{{item.id}}" class="sidebar__add"> 
          <svg class="icon icon-payment">
              <use xlink:href="#icon-payment"></use>
          </svg>  
        </button>
      </ng-template>
    </app-table-list>
  </div>
</div>

