<!-- charge-point-details.component.html -->
<div *ngIf="chargePoint">
  <h2>{{ chargePoint.chargePointName }}</h2>
  <p>ID: {{ chargePoint.chargePointId }}</p>
  <p>Station ID: {{ chargePoint.chargeStationId }}</p>
  <p>Gateway: {{ chargePoint.chargePointGateway }}</p>
  <h3>Connectors</h3>
  <div *ngFor="let connector of chargePoint.connectors">
    <p>Connector ID: {{ connector.id }}, Type: {{ connector.connectorType }}</p>
  </div>
</div>

<div>
  <h4>Connecting the chargepoint to the gateway</h4>
  <button (click)="wsConnect()">connect</button>
</div>
<button (click)="authAcc()">Accepted</button>
<div *ngFor="let connector of chargePoint?.connectors">
  <div>
    <h4>Start Transaction Event (connector : {{connector.id}})</h4>

    <select [(ngModel)]="selectedStartTransactionTriggerReason">
      <option *ngFor="let reason of triggerReasons" [value]="reason">{{reason}}</option>
    </select>


    <select [(ngModel)]="selectedStartTransactionReason">
      <option *ngFor="let reason of reasons" [value]="reason">{{reason}}</option>
    </select>

    <button (click)="startTransaction(connector.id)">start Transaction</button>
  </div>
  <div>
    <h4>Status Notification Request (connector : {{connector.id}})</h4>
    <select [(ngModel)]="selectedConnectorStatus">
      <option *ngFor="let status of connectorStatuses" [value]="status">
        {{status}}
      </option>
    </select>
    
    <button (click)="statusNotificationRequest(connector.id)">statusNotificationRequest</button>
  </div>


  <div>
    <h4>Stop Transaction Event (connector : {{connector.id}})</h4>

    <select [(ngModel)]="selectedStopTransactionTriggerReason">
      <option *ngFor="let reason of triggerReasons" [value]="reason">{{reason}}</option>
    </select>


    <select [(ngModel)]="selectedStopTransactionReason">
      <option *ngFor="let reason of reasons" [value]="reason">{{reason}}</option>
    </select>

    <button (click)="stopTransaction(connector.id)">Stop Transaction</button>
  </div>


</div>