<!-- charge-point-details.component.html -->
<div *ngIf="chargePoint">
  <h2>{{ chargePoint.chargePointName }}</h2>
  <p>ID: {{ chargePoint.chargePointId }}</p>
  <p>Station ID: {{ chargePoint.chargeStationId }}</p>
  <p>Gateway: {{ chargePoint.chargePointGateway }}</p>
  <h3>Connectors</h3>
  <div *ngFor="let connector of chargePoint.connectors">
    <p>Connector ID: {{ connector.id }}, Type: {{ connector.connectorType }}</p>
  </div>
</div>

<!-- Connect button / with status -->
<div class="connect_div">
  <div class="status_div">
    <div class="status_point"></div>
    <p>
      <span>status : </span>
      <span>disconnected </span>
    </p>
  </div>
  <button mat-button (click)="wsConnect()">Connect</button>
</div>



<button mat-button (click)="authAcc()">Accepted</button>

<mat-accordion>
  <h2>Connectors : </h2>
  <ng-container *ngFor="let connector of chargePoint?.connectors">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          connector : {{connector.id}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-accordion>
        <!-- Start Transaction Request -->
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Start Transaction Request
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-start-transaction-request (StartTransactionEvent)="startTransaction($event, connector.id)"></app-start-transaction-request>
        </mat-expansion-panel>
      
        <!-- Update Transaction -->
        <mat-expansion-panel hideToggle *ngIf="connectorIdTransactionUid[connector.id]">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Update Transaction
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-update-transaction-request></app-update-transaction-request>
        </mat-expansion-panel>
      
        <!-- Stop Transaction -->
      <mat-expansion-panel hideToggle *ngIf="connectorIdTransactionUid[connector.id]">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Stop Transaction
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-stop-transaction-request (StopTransactionEvent)="stopTransaction($event, connector.id)" [transactionID]="connectorIdTransactionUid[connector.id]"></app-stop-transaction-request>
        </mat-expansion-panel>
      
        <!-- HeartBeat -->
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Heartbeat Request
            </mat-panel-title>
          </mat-expansion-panel-header>
          
        </mat-expansion-panel>
      
        <!-- Meter Values Request -->
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Meter values request
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-meter-values-request></app-meter-values-request>
        </mat-expansion-panel>
      
        <!-- Status Notification Request -->
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Status Notification Request
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-status-notification-request></app-status-notification-request>
        </mat-expansion-panel>
      
      </mat-accordion>
    </mat-expansion-panel>
  </ng-container>
</mat-accordion>



