<div class="title-purple card__title">
  Ratings
</div>

<app-preloader-container *ngIf="isLoading"></app-preloader-container>

<app-empty-card *ngIf="!isLoading && (ratings == null || ratings.length == 0)"></app-empty-card>

<div class="ratings__container" *ngIf="!isLoading && ratings !=null && ratings.length > 0">
  <div class="rating__container" *ngFor="let rating of ratings">
    <div class="rating__header">
      <div class="rating__user_avatar">
        <img src="/assets/images/avatar.jpg" alt="">
      </div>
      <div class="rating__user_name">
        {{rating.username}}
      </div>
      <div class="rating__score">
        <app-rating [score]="rating.score"></app-rating> 
      </div>
    </div>
    <div class="rating__comment">
      {{rating.comment}}
    </div>
  </div>

  <div class="pagination__container">
    <app-pagination
      [pagination]="pagination"
      (refreshEvent)="getChargePointRatings($event)"
      ></app-pagination>
  </div>
</div>  