<div class="title-purple card__title">
  Ratings
</div>

<app-preloader-container *ngIf="isLoading"></app-preloader-container>

<app-empty-card *ngIf="!isLoading && (ratings == null || ratings.length == 0)"></app-empty-card>

<div class="ratings__container" *ngIf="!isLoading && ratings !=null && ratings.length > 0">
  <div class="rating__container" *ngFor="let rating of ratings">
    <div class="rating__header">
      <div class="rating__user_avatar">
        <img src="/assets/images/avatar.jpg" alt="">
      </div>
      <div class="rating__user_name">
        {{rating.username}}
      </div>
      <div class="rating__score">
        <app-rating [score]="rating.score"></app-rating> 
        <br>
        <div class="rating__report" (click)="openReportModal(rating)">
          <svg class="icon icon-report">
            <use xlink:href="#icon-report"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="rating__comment">
      {{rating.comment}}
    </div>
  </div>

  <div class="pagination__container">
    <app-pagination
      [pagination]="pagination"
      (refreshEvent)="getChargePointRatings($event)"
      ></app-pagination>
  </div>
</div>  


<ng-container *ngIf="isReportModalVisible">
  <div class="request__modal_overlay" (click)="closeModal()"></div>
  <div class="request__modal" >
    <div class="close-button-container">
      <button class="close-button" (click)="closeModal()">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z"/></svg>
      </button>
    </div>
  </div>  
  <div class="modal__container">
    <div class="modal__title">
      Reporting Rating
    </div>
    <div class="modal__description">
      {{this.reportedRating.comment}}
    </div>
    <div class="field">
      <div class="field__label">Category
        <div class="tooltip" title="Category of the report of the rating">
          <svg class="icon icon-info">
            <use xlink:href="#icon-info"></use>
          </svg>
        </div>
      </div>
      <div class="field__wrap">
        <div class="field__wrap">
          <select [(ngModel)]="report.reportCategory"  class="select select_small" >
            <option value="Excellent"> Excellent </option>
            <option value="Good"> Good </option>
            <option value="Average"> Average </option>
            <option value="Poor"> Poor </option>
            <option value="Terrible"> Terrible </option>
            <option value="Inappropriate"> Inappropriate </option>
            <option value="Spam"> Spam </option>
            <option value="Other"> Other </option>
          </select>
        </div>
      </div>
  
    </div>

    <div class="field">
      <div class="field__label">Issue Description
        <div class="tooltip" title="Issue Description">
          <svg class="icon icon-info">
            <use xlink:href="#icon-info"></use>
          </svg>
        </div>
      </div>
      <div class="field__wrap">
        <div class="field__wrap">
          <input [(ngModel)]="report.issueDescription" placeholder="Issue Description" class="field__input" type="text" required>
        </div>
      </div>
  
    </div>

    <div class="form__actions">
      <button (click)="reportRating()" class="button button__primary button-small stop__btn">
        Report Rating
      </button>
    </div>
    
  </div>
</ng-container>