.info-box 
  display: flex
  align-items: center
  border-radius: 8px
  padding: 10px 14px
  font-size: 14px
  font-weight: 500
  margin: 8px 0
  

.icon
    fill: var(--red-700)
    width: 24px
    height: 24px
    margin-right: 12px


/* State styles */
.info-box.error 
  background: #fdecea
  color:  var(--red-700)
  border: 1px solid #f5c2c0


.info-box.warning 
  background: #fff8e1
  color: #f57c00
  border: 1px solid #ffe082


.info-box.primary 
  background: #e3f2fd
  color: #1976d2
  border: 1px solid #90caf9

