<div class="title-purple card__title">
  Statistics
</div>

<div class="card">
  <div class="stat">
    <div class="stat__list">
      <div class="stat__item">
        <div class="stat__icon" style="background-color: #B5E4CA;">
          <svg class="icon icon-activity">
            <use xlink:href="#icon-activity"></use>
          </svg>
        </div>
        <div class="stat__line">
          <div class="stat__details">
            <div class="stat__label">Charging Sessions Number
              <div class="tooltip" title="Small description stats">
                <svg class="icon icon-info">
                  <use xlink:href="#icon-info"></use>
                </svg>
              </div>
            </div>
            <div class="stat__counter">{{20 | number:'1.2-2'}}</div>
            <div class="stat__indicator">
              <div class="balance positive">
                <svg class="icon icon-arrow-top">
                  <use xlink:href="#icon-arrow-top"></use>
                </svg>{{20 | number:'1.2-2'}}
              </div><span>this week</span>
            </div>
          </div>
        </div>
      </div>
      <div class="stat__item">
        <div class="stat__icon" style="background-color: #CABDFF;">
          <svg class="icon icon-pie-chart">
            <use xlink:href="#icon-pie-chart"></use>
          </svg>
        </div>
        <div class="stat__line">
          <div class="stat__details">
            <div class="stat__label">Total Energy
              <div class="tooltip" title="Small description Balance">
                <svg class="icon icon-info">
                  <use xlink:href="#icon-info"></use>
                </svg>
              </div>
            </div>
            <div class="stat__counter">{{20 | number:'1.2-2' }}</div>
            <div class="stat__indicator">
              <div class="balance negative">
                <svg class="icon icon-arrow-top">
                  <use xlink:href="#icon-arrow-top"></use>
                </svg>{{20}}
              </div><span>this week</span>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
