.table__action
    position:initial    
    height: 34px
    width: 34px
    margin-left: 8px
    border: 1px solid var(--primary3)
    border-radius: 50%
    .icon
      height: 18px
      width: 18px
    &.connector__btn
        color: var(--primary7)
        fill: var(--primary7)
        border-color: var(--primary7)
        transition: ease-in-out all .4s
        svg
            fill: var(--primary7)
            transition: ease-in-out all .4s
        &:hover
            color: red
            border-color: red
            fill: red
            svg
                fill: red