<div class="page__inner">
  <div class="page__container">
    <div class="card">
      <div class="title-green settings__title">Recharge Card</div>
      <app-recharge-card [card]="card"></app-recharge-card>
      <div class="recharge_card_informations">
        <mat-tab-group>
          <mat-tab label="Recharge History">
            <div class="earning">
              <div class="earning__table">
                <div class="earning__row">
                  <div class="earning__col">Date</div>
                  <div class="earning__col">Status</div>
                  <div class="earning__col">Product sales count</div>
                  <div class="earning__col">Earnings</div>
                </div>
                <div class="earning__row">
                  <div class="earning__col">Fri, Apr 9</div>
                  <div class="earning__col">
                    <div class="status-yellow earning__status">Pending</div>
                  </div>
                  <div class="earning__col">28</div>
                  <div class="earning__col">$3,140.00
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Transaction History">
            <div class="earning">
              <div class="earning__table">
                <div class="earning__row">
                  <div class="earning__col">Date</div>
                  <div class="earning__col">Status</div>
                  <div class="earning__col">Product sales count</div>
                  <div class="earning__col">Earnings</div>
                </div>
                <div class="earning__row">
                  <div class="earning__col">Fri, Apr 9</div>
                  <div class="earning__col">
                    <div class="status-yellow earning__status">Pending</div>
                  </div>
                  <div class="earning__col">28</div>
                  <div class="earning__col">$3,140.00
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      
      
    </div>
  </div>
</div>