<app-dashboard-form-container title="New Partner" [items]="[
    { label: 'Dashboard', link: '/dashboard' },
    { label: 'Partners', link: '/dashboard/partners' },
    { label: 'Create' }
  ]">
  <div form>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="create__card card charge_point_form">
        <div class="create__group create__group3">
          <app-form-field class="field" title="Name" placeholder="Enter the partner's name"
            description="Name of the partner" [control]="getControl('name')" icon="icon-info"></app-form-field>

          <app-form-field class="field" title="Description" placeholder="Short description"
            description="Small description of the partner" [control]="getControl('description')"
            icon="icon-info"></app-form-field>

          <div class="field">
            <div class="field__label">Partner Type
              <div class="tooltip" title="Type of the partner">
                <svg class="icon icon-info">
                  <use xlink:href="#icon-info"></use>
                </svg>
              </div>
            </div>
            <div class="field__wrap">
              <div class="field__wrap">
                <select class="select" formControlName="type">
                  <option value="Vendor">Vendor</option>
                  <option value="ServiceProvider">ServiceProvider</option>
                  <option value="Reseller">Reseller</option>
                  <option value="Affiliate">Affiliate</option>
                  <option value="Investor">Investor</option>
                  <option value="Other">Other</option>
                </select>
              </div>
            </div>
          </div>

          <app-form-field class="field" title="Email" placeholder="Email address" description="Primary contact email"
            [control]="getControl('email')" icon="icon-info"></app-form-field>

          <app-form-field class="field" title="Secondary Email" placeholder="Email address"
            description="Secondary contact email" [control]="getControl('email2')" icon="icon-info"></app-form-field>

          <app-form-field class="field" title="Additional Email" placeholder="Email address"
            description="Additional contact email" [control]="getControl('email3')" icon="icon-info"></app-form-field>

          <app-form-field class="field" title="Phone" placeholder="Main phone number"
            description="Main Phone number of the partner" [control]="getControl('phone')"
            icon="icon-info"></app-form-field>

          <app-form-field class="field" title="Secondary Phone" placeholder="Secondary phone number"
            description="Secondary Phone number of the partner" [control]="getControl('phone2')"
            icon="icon-info"></app-form-field>

          <app-form-field class="field" title="Additional Phone" placeholder="Additional phone number"
            description="Additional Phone number of the partner" [control]="getControl('phone2')"
            icon="icon-info"></app-form-field>

          <app-search-input class="field"
            placeholder="City"
            title="City"
            description="The City where the charging station is."
            [control]="getControl('city')"
            [options]="cities"></app-search-input>

          <app-form-field class="field" title="Tax Identification Number" placeholder="Tax Identification Number"
            description="Tax Identification Number" [control]="getControl('taxIdentificationNumber')"
            icon="icon-info"></app-form-field>

          <app-form-field class="field" title="Address" placeholder="Address"
            description="Address" [control]="getControl('address')"
            icon="icon-info"></app-form-field>

          <app-form-field class="field" title="Registration Number" placeholder="Registration Number"
            description="Registration Number" [control]="getControl('registrationNumber')"
            icon="icon-info"></app-form-field>

          <app-form-field class="field" title="Bank Account Number" placeholder="Bank Account Number"
            description="Bank Account Number" [control]="getControl('bankAccountNumber')"
            icon="icon-info"></app-form-field>
            
        </div>
      </div>
      <div class="form__actions">
        <app-button class="ml-auto" [disabled]="form.invalid" [isLoading]="isLoading" [variant]="'secondary'"
          type="submit">
          Submit
        </app-button>
      </div>

    </form>
  </div>

</app-dashboard-form-container>