<!-- charge-point.component.html -->
<div>
  <select [(ngModel)]="chargePointId" >
    <option *ngFor="let item of chargePoints" (click)="getChargePointConnectors(item)"  value="{{item.chargePointId}}"> {{item.chargePointId}} </option>
  </select>
  <input [(ngModel)]="chargeStationId" placeholder="Charge Station ID" />
  <input [(ngModel)]="chargePointName" placeholder="Charge Point Name" />
  <!-- <div>
    <h3>Connectors</h3>
    <div *ngFor="let connector of connectors; let i = index">
      <p>
        ID: {{ connector.connectorId }}, Type: {{ connector.connectorType }}
        <button (click)="deleteConnector(i)">Delete Connector</button>
      </p>
    </div>
    <input #connectorId placeholder="Connector ID" />
    <input #connectorType placeholder="Connector Type" />
    <button (click)="addConnector(connectorId.value, connectorType.value)">Add Connector</button>
  </div> -->
  <button (click)="addOrUpdateChargePoint()">
    {{ editIndex === -1 ? 'Add Charge Point' : 'Update Charge Point' }}
  </button>
</div>

<div *ngIf="pointService.getChargePoints().length">
  <h2>Charge Points</h2>
  <div *ngFor="let point of pointService.getChargePoints(); let i = index">
    <p>
      ID: {{ point.chargePointId }}, Station ID: {{ point.chargeStationId }},
      Name: {{ point.chargePointName }}, Gateway: {{ point.chargePointGateway }},
      <button (click)="editChargePoint(i)">Edit</button>
      <button (click)="deleteChargePoint(i)">Delete</button>
      <button routerLink="/chargepoint/{{point.chargePointId}}">Simulator</button>
    </p>
    <div *ngFor="let connector of point.connectors">
      <p>-- Connector ID: {{ connector.connectorId }}, Type: {{ connector.connectorType }}</p>
    </div>
  </div>
</div>
