<div class="page__container">
  <div class="page__title h3">Statistics</div>
  <div class="card">
    <div class="income">
      <div class="income__list">
        <div class="income__item">
          <div class="income__icon" style="background-color: #B5E4CA;">
            <svg class="icon icon-activity">
              <use xlink:href="#icon-activity"></use>
            </svg>
          </div>
          <div class="income__line">
            <div class="income__details">
              <div class="income__label">Recharge Amount (EUR)
                <div class="tooltip" title="Small description stats">
                  <svg class="icon icon-info">
                    <use xlink:href="#icon-info"></use>
                  </svg>
                </div>
              </div>
              <div class="income__counter">{{recharge_orders_total_amount | number:'1.2-2'}}</div>
              <div class="income__indicator">
                <div class="balance positive">
                  <svg class="icon icon-arrow-top">
                    <use xlink:href="#icon-arrow-top"></use>
                  </svg>{{recharge_orders_amount_last_week | number:'1.2-2'}}
                </div><span>this week</span>
              </div>
            </div>
          </div>
        </div>
        <div class="income__item">
          <div class="income__icon" style="background-color: #CABDFF;">
            <svg class="icon icon-pie-chart">
              <use xlink:href="#icon-pie-chart"></use>
            </svg>
          </div>
          <div class="income__line">
            <div class="income__details">
              <div class="income__label">Recharge Orders
                <div class="tooltip" title="Small description Balance">
                  <svg class="icon icon-info">
                    <use xlink:href="#icon-info"></use>
                  </svg>
                </div>
              </div>
              <div class="income__counter">{{recharge_orders_total_amount | number:'1.2-2' }}</div>
              <div class="income__indicator">
                <div class="balance negative">
                  <svg class="icon icon-arrow-top">
                    <use xlink:href="#icon-arrow-top"></use>
                  </svg>{{recharge_orders_amount_last_week}}
                </div><span>this week</span>
              </div>
            </div>
          </div>
        </div>
        <div class="income__item">
          <div class="income__icon" style="background-color: #B1E5FC;">
            <svg class="icon icon-shopping-bag">
              <use xlink:href="#icon-shopping-bag"></use>
            </svg>
          </div>
          <div class="income__line">
            <div class="income__details">
              <div class="income__label">Total Energy (Kwh)
                <div class="tooltip" title="Small description Total value of sales">
                  <svg class="icon icon-info">
                    <use xlink:href="#icon-info"></use>
                  </svg>
                </div>
              </div>
              <div class="income__counter"> {{total_energy_consumed | number:'1.2-2'}} </div>
              <div class="income__indicator">
                <div class="balance positive">
                  <svg class="icon icon-arrow-top">
                    <use xlink:href="#icon-arrow-top"></use>
                  </svg>{{total_energy_consumed_last_week}}
                </div><span>this week</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page__row">
    <div class="page__col">
      <div class="card">
        <div class="card__head">
          <div class="title-purple card__title">Recharge Orders</div>
          <select class="select select_small">
            <option (click)="getRechargeOrdersOf('7days')">Last 7 days</option>
            <option (click)="getRechargeOrdersOf('30days')">This month</option>
            <option (click)="getRechargeOrdersOf('12months')">All time</option>
          </select>
        </div>
        <div class="card__chart card__chart_product-sales">
          <apx-chart style="display: block; height: 200px; width: 100%" [series]="rechargeOrdersChart.series" [chart]="rechargeOrdersChart.chart" [xaxis]="rechargeOrdersChart.xaxis" [stroke]="rechargeOrdersChart.stroke" [dataLabels]="rechargeOrdersChart.dataLabels" [colors]="rechargeOrdersChart.colors" [legend]="rechargeOrdersChart.legend" [grid]="rechargeOrdersChart.grid"></apx-chart>
        </div>
      </div>
    </div>
    <div class="page__col">
      <div class="card">
        <div class="card__head">
          <div class="title-blue card__title">Top Charging Stations</div>
        </div>
        <div class="countries">
          <div class="countries__list">
            <div *ngFor="let item of top10ChargingStationRevenues" class="countries__item">
              <div class="countries__flag">mo</div>
              <div class="countries__title">{{item.chargingStationID}}</div>
              <div class="countries__price">{{item.revenue | number:'1.2-2'}} DH</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="stats">
    <div class="stats__table">
      <div class="stats__row">
        <div class="stats__col">Start</div>
        <div class="stats__col">End</div>
        <div class="stats__col">Energy Consumed</div>
        <div class="stats__col">Amount</div>
      </div>
      <div class="stats__row" *ngFor="let item of latestTransactions">
        <div class="stats__col">{{item.startTime | date:'medium'}}</div>
        <div class="stats__col">
          <div class="status-yellow stats__status">{{item.stopTime | date:'medium'}}</div>
        </div>
        <div class="stats__col">{{item.meterStop - item.meterStart | number:'1.2-2'}}</div>
        <div class="stats__col">{{item.amount | number:'1.2-2'}} DH
        </div>
      </div>
      
    </div>
  </div>
</div>