<!-- inner-->
<div class="page__inner">
  <div class="page__container">
    <div class="page__title h3">New Charging Station</div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="create">
        <div class="create__row">
          <div class="create__col">
            <!-- Chargin station informations -->
            <div *ngIf="activeDiv === 1">
              <div class="create__card card">
                <div class="card__head">
                  <div class="title-green card__title">Name & description</div><a
                    class="button-stroke button-small card__button" href="products-dashboard.html">
                    <svg class="icon icon-arrow-left">
                      <use xlink:href="#icon-arrow-left"></use>
                    </svg><span>Back</span></a>
                </div>
                <div class="field">
                  <div class="field__label">Charging Station Name
                    <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                      <svg class="icon icon-info">
                        <use xlink:href="#icon-info"></use>
                      </svg>
                    </div>
                  </div>
                  <div class="field__wrap">
                    <input formControlName="chargingStationName" class="field__input" type="text" name="title" required>
                  </div>
                </div>

                <div class="field">
                  <div class="field__label">Network
                    <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                      <svg class="icon icon-info">
                        <use xlink:href="#icon-info"></use>
                      </svg>
                    </div>
                  </div>
                  <div class="field__wrap">
                    <div class="field__wrap">
                      <select class="select" formControlName="chargingStationNetwork">
                        <option value="private">Private</option>
                        <option value="public">Public</option>
                        <option value="partner">Partner</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="field">
                  <div class="field__label">Category
                    <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                      <svg class="icon icon-info">
                        <use xlink:href="#icon-info"></use>
                      </svg>
                    </div>
                  </div>
                  <div class="field__wrap">
                    <div class="field__wrap">
                      <select class="select" formControlName="chargingStationCategory">
                        <option>Purchase now</option>
                        <option>Purchase tomorrow</option>
                        <option>Buy later</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="field">
                  <div class="field__label">Charger quantity at location
                    <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                      <svg class="icon icon-info">
                        <use xlink:href="#icon-info"></use>
                      </svg>
                    </div>
                  </div>
                  <div class="field__wrap">
                    <div class="field__wrap">
                      <select class="select" formControlName="chargingStationChargerQuantity">
                        <option>Purchase now</option>
                        <option>Purchase tomorrow</option>
                        <option>Buy later</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="field">
                  <div class="field__label">Address
                    <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                      <svg class="icon icon-info">
                        <use xlink:href="#icon-info"></use>
                      </svg>
                    </div>
                  </div>
                  <div class="field__wrap">
                    <input formControlName="chargingStationAddress" class="field__input" type="text" name="title"
                      required>
                  </div>
                </div>

                <div class="create__group">
                  <div class="field">
                    <div class="field__label">Country
                      <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                        <svg class="icon icon-info">
                          <use xlink:href="#icon-info"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="field__wrap">
                      <app-search-input (optionSelected)="updateCountry($event)" [control]="countryControl"
                        [options]="countries"></app-search-input>
                    </div>
                  </div>
                  <div class="field">
                    <div class="field__label">State / Province
                      <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                        <svg class="icon icon-info">
                          <use xlink:href="#icon-info"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="field__wrap">
                      <app-search-input (optionSelected)="updateState($event)" [control]="stateControl"
                        [options]="['Option 1', 'Option 2', 'Option 3']"></app-search-input>
                    </div>
                  </div>
                  <div class="field">
                    <div class="field__label">City
                      <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                        <svg class="icon icon-info">
                          <use xlink:href="#icon-info"></use>
                        </svg>
                      </div>
                    </div>
                    <app-search-input (optionSelected)="updateCity($event)" [control]="cityControl"
                      [options]="['Option 1', 'Option 2', 'Option 3']"></app-search-input>
                  </div>
                  <div class="field">
                    <div class="field__label">Location Zip Code
                      <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                        <svg class="icon icon-info">
                          <use xlink:href="#icon-info"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="field__wrap">
                      <input formControlName="chargingStationZipCode" class="field__input" type="text" name="value2"
                        placeholder="Value" required>
                    </div>
                  </div>
                  <div class="field">
                    <div class="field__label">Latitude
                      <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                        <svg class="icon icon-info">
                          <use xlink:href="#icon-info"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="field__wrap">
                      <input formControlName="chargingStationLatitude" class="field__input" type="text" name="value2"
                        placeholder="Value" required>
                    </div>
                  </div>
                  <div class="field">
                    <div class="field__label">Longitude
                      <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                        <svg class="icon icon-info">
                          <use xlink:href="#icon-info"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="field__wrap">
                      <input formControlName="chargingStationLongitude" class="field__input" type="text" name="value2"
                        placeholder="Value" required>
                    </div>
                  </div>
                </div>
                <div class="create__group">
                  <div class="field">
                    <div class="field__label">Organisation
                      <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                        <svg class="icon icon-info">
                          <use xlink:href="#icon-info"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="field__wrap">
                      <div class="field__wrap">
                        <select class="select" formControlName="chargingStationOrganisation">
                          <option>Purchase now</option>
                          <option>Purchase tomorrow</option>
                          <option>Buy later</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="field">
                    <div class="field__label">Publish
                      <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                        <svg class="icon icon-info">
                          <use xlink:href="#icon-info"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="field__wrap">
                      <div class="field__wrap">
                        <select class="select" formControlName="chargingStationPublish">
                          <option>Purchase now</option>
                          <option>Purchase tomorrow</option>
                          <option>Buy later</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="field">
                    <div class="field__label">Parking Type
                      <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                        <svg class="icon icon-info">
                          <use xlink:href="#icon-info"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="field__wrap">
                      <div class="field__wrap">
                        <select class="select" formControlName="chargingStationParkingType">
                          <option>Purchase now</option>
                          <option>Purchase tomorrow</option>
                          <option>Buy later</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="field">
                    <div class="field__label">Status
                      <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                        <svg class="icon icon-info">
                          <use xlink:href="#icon-info"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="field__wrap">
                      <div class="field__wrap">
                        <select class="select" formControlName="chargingStationStatus">
                          <option value="available">Available</option>
                          <option value="under_maintenance">Under Maintenance</option>
                          <option value="offline">Offline</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="create__label">Compatibility
                  <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                    <svg class="icon icon-info">
                      <use xlink:href="#icon-info"></use>
                    </svg>
                  </div>
                </div>
                <div class="create__list" formGroupName="chargingStationAmenities">
                  <label class="checkbox">
                    <input formControlName="wifi" class="checkbox__input" type="checkbox" checked><span
                      class="checkbox__inner"><span class="checkbox__tick"></span><span
                        class="checkbox__text">Wifi</span></span>
                  </label>
                  <label class="checkbox">
                    <input formControlName="parking" class="checkbox__input" type="checkbox" checked><span
                      class="checkbox__inner"><span class="checkbox__tick"></span><span
                        class="checkbox__text">Parking</span></span>
                  </label>
                  <label class="checkbox">
                    <input formControlName="restaurants" class="checkbox__input" type="checkbox"><span
                      class="checkbox__inner"><span class="checkbox__tick"></span><span
                        class="checkbox__text">Restaurants</span></span>
                  </label>
                  <label class="checkbox">
                    <input formControlName="washroom" class="checkbox__input" type="checkbox"><span
                      class="checkbox__inner"><span class="checkbox__tick"></span><span
                        class="checkbox__text">Washroom</span></span>
                  </label>
                  <label class="checkbox">
                    <input formControlName="sittingArea" class="checkbox__input" type="checkbox"><span
                      class="checkbox__inner"><span class="checkbox__tick"></span><span class="checkbox__text">Sitting
                        Area</span></span>
                  </label>

                </div>
                <div class="create__card card">
                  <div class="card__head">
                    <div class="title-blue card__title">Images & CTA</div>
                  </div>
                  <div class="file">
                    <div class="file__label">Cover images
                      <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed"
                        data-position="right">
                        <svg class="icon icon-info">
                          <use xlink:href="#icon-info"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="file__wrap">
                      <input class="file__input" type="file" />
                      <div class="file__box">
                        <svg class="icon icon-upload">
                          <use xlink:href="#icon-upload"></use>
                        </svg>Click or drop image
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="activeDiv === 2">
              <div class="create__card card">
                <div class="card__head">
                  <div class="title-green card__title">Charge Points</div>
                </div>

                <div class="create__card card charge_point_form" formArrayName="chargePoints"
                  *ngFor="let control of chargePoints.controls; index as i">
                  <div class="create__group" [formGroupName]="i">
                    <div class="btn__remove_container">
                      <button class="btn__remove" (click)="removeChargePoint(i)">
                        <svg class="icon icon-trash icon__remove">
                          <use xlink:href="#icon-trash"></use>
                        </svg>
                      </button>
                    </div>
                    <div class="field">
                      <div class="field__label">Charge point ID
                        <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                          <svg class="icon icon-info">
                            <use xlink:href="#icon-info"></use>
                          </svg>
                        </div>
                      </div>
                      <div class="field__wrap">
                        <input class="field__input" type="text" formControlName="chargePointId" placeholder="Value"
                          required>
                      </div>
                    </div>
                    <div class="field">
                      <div class="field__label">Charge Point Name
                        <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                          <svg class="icon icon-info">
                            <use xlink:href="#icon-info"></use>
                          </svg>
                        </div>
                      </div>
                      <div class="field__wrap">
                        <input class="field__input" type="text" formControlName="chargePointName" placeholder="Value"
                          required>
                      </div>
                    </div>
                    <div class="field">
                      <div class="field__label">Charge Point Serial number
                        <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                          <svg class="icon icon-info">
                            <use xlink:href="#icon-info"></use>
                          </svg>
                        </div>
                      </div>
                      <div class="field__wrap">
                        <input class="field__input" type="text" formControlName="chargePointSerialNumber"
                          placeholder="Value" required>
                      </div>
                    </div>
                    <div class="field">
                      <div class="field__label">Charge Point Make
                        <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                          <svg class="icon icon-info">
                            <use xlink:href="#icon-info"></use>
                          </svg>
                        </div>
                      </div>
                      <div class="field__wrap">
                        <!-- the tower -->
                        <!-- the tower plus -->
                        <!-- wallbox -->
                        <!-- the tower DC -->
                        <input class="field__input" type="text" formControlName="chargePointMake" placeholder="Value"
                          required>
                      </div>
                    </div>
                    <div class="field">
                      <div class="field__label">Charge Point Status
                        <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                          <svg class="icon icon-info">
                            <use xlink:href="#icon-info"></use>
                          </svg>
                        </div>
                      </div>
                      <div class="field__wrap">
                        <div class="field__wrap">
                          <select class="select" formControlName="chargePointStatus">
                            <option>Purchase now</option>
                            <option>Purchase tomorrow</option>
                            <option>Buy later</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="create__card card charge_point_connector_form" formArrayName="chargePointConnectors"
                      *ngFor="let connectorCtrl of getChargePointConnectors(i).controls; let j=index">
                    <div class="btn__remove_container">
                      <button class="btn__remove" (click)="removeChargePointConnector(i,j)">
                        <svg class="icon icon-trash icon__remove">
                          <use xlink:href="#icon-trash"></use>
                        </svg>
                      </button>
                    </div>
                    <div class="create__group" [formGroupName]="j">
                        <div class="field">
                          <div class="field__label">Quantity
                            <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                              <svg class="icon icon-info">
                                <use xlink:href="#icon-info"></use>
                              </svg>
                            </div>
                          </div>
                          <div class="field__wrap">
                            <input class="field__input" type="text" formControlName="chargePointConnectorQuantity"
                              placeholder="Value" required>
                          </div>
                        </div>
                        <div class="field">
                          <div class="field__label">Type
                            <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                              <svg class="icon icon-info">
                                <use xlink:href="#icon-info"></use>
                              </svg>
                            </div>
                          </div>
                          <div class="field__wrap">
                            <input class="field__input" type="text" formControlName="chargePointConnectorType"
                              placeholder="Value" required>
                          </div>
                        </div>
                        <div class="field">
                          <div class="field__label">Speed
                            <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                              <svg class="icon icon-info">
                                <use xlink:href="#icon-info"></use>
                              </svg>
                            </div>
                          </div>
                          <div class="field__wrap">
                            <input class="field__input" type="text" formControlName="chargePointConnectorSpeed"
                              placeholder="Value" required>
                          </div>
                        </div>
                        <div class="field">
                          <div class="field__label">Power
                            <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                              <svg class="icon icon-info">
                                <use xlink:href="#icon-info"></use>
                              </svg>
                            </div>
                          </div>
                          <div class="field__wrap">
                            <input class="field__input" type="text" formControlName="chargePointConnectorPower"
                              placeholder="Value" required>
                          </div>
                        </div>
                        <div class="create__card card charge_point_connector_tarif" formArrayName="chargePointConnectorTarifs"
                        *ngFor="let tarifCtrl of getChargePointConnectorTarifs(i,j).controls; let k=index">
                        <div class="create__group" [formGroupName]="k">
                          <div class="btn__remove_container">
                            <button class="btn__remove" (click)="removeChargePointConnectorTarif(i,j,k)">
                              <svg class="icon icon-trash icon__remove">
                                <use xlink:href="#icon-trash"></use>
                              </svg>
                            </button>
                          </div>
                    
                    <div class="field">
                            <div class="field__label">Unit
                              <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                                <svg class="icon icon-info">
                                  <use xlink:href="#icon-info"></use>
                                </svg>
                              </div>
                            </div>
                            <div class="field__wrap">
                              <input class="field__input" type="text" formControlName="chargePointConnectorTarifUnit"
                                placeholder="Value" required>
                            </div>
                          </div>
                          <div class="field">
                            <div class="field__label">Quantity
                              <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                                <svg class="icon icon-info">
                                  <use xlink:href="#icon-info"></use>
                                </svg>
                              </div>
                            </div>
                            <div class="field__wrap">
                              <input class="field__input" type="text" formControlName="chargePointConnectorTarifQuantity"
                                placeholder="Value" required>
                            </div>
                          </div>
                          <div class="field">
                            <div class="field__label">Currency
                              <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                                <svg class="icon icon-info">
                                  <use xlink:href="#icon-info"></use>
                                </svg>
                              </div>
                            </div>
                            <div class="field__wrap">
                              <input class="field__input" type="text" formControlName="chargePointConnectorTarifCurrency"
                                placeholder="Value" required>
                            </div>
                          </div>
                        </div>
                      </div>
                      </div>
                      <button class="button mt-20" (click)="addChargePointConnectorTarif(i,j)">Add Tarif</button>
                    </div>
                    <button class="button" (click)="addChargePointConnector(i)">Add Connector</button>
                  </div>
                  <!-- charge point connectors -->
                </div>
                <button (click)="addChargePoint()" class="button-stroke">
                  Add Charge Point</button>
              </div>
            </div>
            <div *ngIf="activeDiv === 3">
              <h4>this is the preview</h4>
            </div>
            <div class="btns_group">
              <!--  Previous button  -->
              <button class="button-stroke btn_previous" (click)="showPreviousDiv()"> Previous step </button>
              <!--  next button  -->
              <button *ngIf="activeDiv <= 2" class="button btn_next" (click)="showNextDiv()"> Next step </button>
              <button class="button" type="submit"> Submit </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>