
<div class="request__container">
  <div class="field">
    <div class="field">
      <div class="field__label">Retries
        <div class="tooltip" title="This specifies how many times Charging Station must try\r\nto download the firmware before giving up. If this field is not\r\npresent, it is left to Charging Station to decide how many times it wants to retry.">
          <svg class="icon icon-info">
            <use xlink:href="#icon-info"></use>
          </svg>
        </div>
      </div>
      <div class="field__wrap">
        <div class="field__wrap">
          <input 
            [(ngModel)]="request.retries" 
            placeholder="Retries" 
            class="field__input" type="text" required>
        </div>
      </div>
  
    </div>

  </div>

  <div class="field">
    <div class="field">
      <div class="field__label">Request ID
        <div class="tooltip" title="The Id of the request.">
          <svg class="icon icon-info">
            <use xlink:href="#icon-info"></use>
          </svg>
        </div>
      </div>
      <div class="field__wrap">
        <div class="field__wrap">
          <input 
            [(ngModel)]="request.requestID" 
            placeholder="Request ID" 
            class="field__input" type="text" required>
        </div>
      </div>
  
    </div>

  </div>
  <div class="field">
    <div class="field">
      <div class="field__label">Retry Interval
        <div class="tooltip" title="The interval in seconds\r\nafter which a retry may be\r\nattempted. If this field is not\r\npresent, it is left to Charging\r\nStation to decide how long to wait\r\nbetween attempts.">
          <svg class="icon icon-info">
            <use xlink:href="#icon-info"></use>
          </svg>
        </div>
      </div>
      <div class="field__wrap">
        <div class="field__wrap">
          <input 
            [(ngModel)]="request.retryInterval" 
            placeholder="Retry Interval" 
            class="field__input" type="text" required>
        </div>
      </div>
  
    </div>

  </div>

  <div class="field">
    <div class="field">
      <div class="field__label">Location
        <div class="tooltip" title="URI defining the origin of the firmware">
          <svg class="icon icon-info">
            <use xlink:href="#icon-info"></use>
          </svg>
        </div>
      </div>
      <div class="field__wrap">
        <div class="field__wrap">
          <input 
            [(ngModel)]="request.firmware.location" 
            placeholder="Location" 
            class="field__input" type="text" required>
        </div>
      </div>
  
    </div>

  </div>

    <div class="field">
      <div class="field__label">Retrieve DateTime
        <div class="tooltip" title="Date and time at which the firmware shall be retrieved">
          <svg class="icon icon-info">
            <use xlink:href="#icon-info"></use>
          </svg>
        </div>
      </div>
      <div class="field__wrap">
        <div class="field__wrap">
          <input 
            [(ngModel)]="request.firmware.retrieveDateTime" 
            placeholder="Retrieve DateTime" 
            class="field__input" type="text" required>
        </div>
      </div>
  
    </div>

    <div class="field">
      <div class="field__label">Install DateTime
        <div class="tooltip" title="Firmware. Install. Date_ Time. (Date and time at which the firmware shall be installed.)">
          <svg class="icon icon-info">
            <use xlink:href="#icon-info"></use>
          </svg>
        </div>
      </div>
      <div class="field__wrap">
        <div class="field__wrap">
          <input 
            [(ngModel)]="request.firmware.installDateTime" 
            placeholder="Install DateTime" 
            class="field__input" type="text" required>
        </div>
      </div>
  
    </div>

    <div class="field">
      <div class="field__label">Signing Certificate
        <div class="tooltip" title="Certificate with which the firmware was signed (PEM encoded X.509 certificate)">
          <svg class="icon icon-info">
            <use xlink:href="#icon-info"></use>
          </svg>
        </div>
      </div>
      <div class="field__wrap">
        <div class="field__wrap">
          <input 
            [(ngModel)]="request.firmware.signingCertificate" 
            placeholder="Signing Certificate" 
            class="field__input" type="text" required>
        </div>
      </div>
  
    </div>

    <div class="field">
      <div class="field__label">Signature
        <div class="tooltip" title="Firmware, signature. (base64 enoded signature)">
          <svg class="icon icon-info">
            <use xlink:href="#icon-info"></use>
          </svg>
        </div>
      </div>
      <div class="field__wrap">
        <div class="field__wrap">
          <input 
            [(ngModel)]="request.firmware.signature" 
            placeholder="Signature" 
            class="field__input" type="text" required>
        </div>
      </div>
  
    </div>



  <!-- Location
RetrieveDateTime
InstallDateTime
SigningCertificate
Signature -->

<div class="form__actions">
  <button (click)="updateFirmware()" class="button button__primary button-small stop__btn">
    <ng-container *ngIf="isLoading">
      <app-svg-spinner></app-svg-spinner>
    </ng-container>
    <ng-container *ngIf="!isLoading">Update Firmware</ng-container>
    
  </button>
</div>
</div>