<div class="overlay"></div>
<!-- inner-->
<div class="page__inner">
  <div class="page__container">
    <div class="page__title h3">Home</div>

    <!-- Chargers Overview -->
    <div class="card">
      <div class="card__head">
        <div class="title-purple card__title">Charge Points Connectors Overview</div>
      </div>
      <div class="stock">
        <div class="stock__list">
          <div class="stock__item" style="background-color: #edf8f2;">
            <div class="stock__icon">
              <svg class="icon icon-activity">
                <use xlink:href="#icon-activity"></use>
              </svg>
            </div>
            <div class="stock__line">
              <div class="stock__details">
                <div class="stock__category">Available
                  <div class="tooltip" title="Small description">
                    <svg class="icon icon-info">
                      <use xlink:href="#icon-info"></use>
                    </svg>
                  </div>
                </div>
                <div class="stock__counter">128k</div>
                <div class="stock__indicator"> 
                  <div class="balance positive">
                    <svg class="icon icon-arrow-top">
                      <use xlink:href="#icon-arrow-top"></use>
                    </svg>37.8%
                  </div><span>this week</span>
                </div>
              </div>
            </div>
          </div>
          <div class="stock__item" style="background-color: #ecf9fe;">
            <div class="stock__icon">
              <svg class="icon icon-shopping-bag">
                <use xlink:href="#icon-shopping-bag"></use>
              </svg>
            </div>
            <div class="stock__line">
              <div class="stock__details">
                <div class="stock__category">Occupied
                  <div class="tooltip" title="Small description">
                    <svg class="icon icon-info">
                      <use xlink:href="#icon-info"></use>
                    </svg>
                  </div>
                </div>
                <div class="stock__counter">512</div>
                <div class="stock__indicator"> 
                  <div class="balance negative">
                    <svg class="icon icon-arrow-bottom">
                      <use xlink:href="#icon-arrow-bottom"></use>
                    </svg>37.8%
                  </div><span>this week</span>
                </div>
              </div>
            </div>
          </div>
          <div class="stock__item" style="background-color: #f2efff;">
            <div class="stock__icon">
              <svg class="icon icon-payment">
                <use xlink:href="#icon-payment"></use>
              </svg>
            </div>
            <div class="stock__line">
              <div class="stock__details">
                <div class="stock__category">Faulted
                  <div class="tooltip" title="Small description">
                    <svg class="icon icon-info">
                      <use xlink:href="#icon-info"></use>
                    </svg>
                  </div>
                </div>
                <div class="stock__counter">64k</div>
                <div class="stock__indicator"> 
                  <div class="balance positive">
                    <svg class="icon icon-arrow-top">
                      <use xlink:href="#icon-arrow-top"></use>
                    </svg>37.8%
                  </div><span>this week</span>
                </div>
              </div>
            </div>
          </div>
          <div class="stock__item" style="background-color: #f2efff;">
            <div class="stock__icon">
              <svg class="icon icon-payment">
                <use xlink:href="#icon-payment"></use>
              </svg>
            </div>
            <div class="stock__line">
              <div class="stock__details">
                <div class="stock__category">Unavailable
                  <div class="tooltip" title="Small description">
                    <svg class="icon icon-info">
                      <use xlink:href="#icon-info"></use>
                    </svg>
                  </div>
                </div>
                <div class="stock__counter">64k</div>
                <div class="stock__indicator"> 
                  <div class="balance positive">
                    <svg class="icon icon-arrow-top">
                      <use xlink:href="#icon-arrow-top"></use>
                    </svg>37.8%
                  </div><span>this week</span>
                </div>
              </div>
            </div>
          </div>
          <div class="stock__item" style="background-color: #f2efff;">
            <div class="stock__icon">
              <svg class="icon icon-payment">
                <use xlink:href="#icon-payment"></use>
              </svg>
            </div>
            <div class="stock__line">
              <div class="stock__details">
                <div class="stock__category">Reserved
                  <div class="tooltip" title="Small description">
                    <svg class="icon icon-info">
                      <use xlink:href="#icon-info"></use>
                    </svg>
                  </div>
                </div>
                <div class="stock__counter">64k</div>
                <div class="stock__indicator"> 
                  <div class="balance positive">
                    <svg class="icon icon-arrow-top">
                      <use xlink:href="#icon-arrow-top"></use>
                    </svg>37.8%
                  </div><span>this week</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="page__row">
      <div class="page__col">
        <app-card title="overview">
          <app-tabs-statistics></app-tabs-statistics>
        </app-card>
        <div class="card">
          <div class="card__head">
            <div class="title-purple card__title">Product views</div>
            <select class="select select_small">
              <option>Last 7 days</option>
              <option>This month</option>
              <option>All time</option>
            </select>
          </div>
          <div class="card__chart card__chart_product-views">
            <div id="product-views"></div>
          </div>
        </div>
        <div class="card">
          <div class="card__head">
            <div class="title-green card__title">Pro tips</div>
          </div>
          <div class="tips">
            <div class="tips__info">Need some ideas for the next product?</div>
            <div class="tips__list"><a class="tips__item" data-fancybox
                href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" data-caption="Use guidelines">
                <div class="tips__icon">
                  <svg class="icon icon-schedule">
                    <use xlink:href="#icon-schedule"></use>
                  </svg>
                </div>
                <div class="tips__details">
                  <div class="tips__title">Early access</div>
                  <div class="tips__line">
                    <div class="status-purple tips__status">New</div>
                    <div class="tips__user">
                      <div class="tips__avatar"><img src="img/content/avatar.jpg" alt="Avatar"></div>
                      <div class="tips__action">3 mins read</div>
                    </div>
                  </div>
                </div>
              </a><a class="tips__item" data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk"
                data-caption="Use guidelines">
                <div class="tips__icon">
                  <svg class="icon icon-arrow-right">
                    <use xlink:href="#icon-arrow-right"></use>
                  </svg>
                </div>
                <div class="tips__details">
                  <div class="tips__title">Asset use guidelines</div>
                  <div class="tips__line">
                    <div class="status-green-dark tips__status">Small label</div>
                    <div class="tips__user">
                      <div class="tips__avatar"><img src="img/content/avatar-3.jpg" alt="Avatar"></div>
                      <div class="tips__action">Time</div>
                    </div>
                  </div>
                </div>
              </a><a class="tips__item" data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk"
                data-caption="Use guidelines">
                <div class="tips__icon">
                  <svg class="icon icon-design">
                    <use xlink:href="#icon-design"></use>
                  </svg>
                </div>
                <div class="tips__details">
                  <div class="tips__title">Exclusive downloads</div>
                  <div class="tips__line">
                    <div class="tips__user">
                      <div class="tips__avatar"><img src="img/content/avatar-1.jpg" alt="Avatar"></div>
                      <div class="tips__action">2 mins read</div>
                    </div>
                  </div>
                </div>
              </a><a class="tips__item" data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk"
                data-caption="Use guidelines">
                <div class="tips__icon">
                  <svg class="icon icon-video-recorder">
                    <use xlink:href="#icon-video-recorder"></use>
                  </svg>
                </div>
                <div class="tips__details">
                  <div class="tips__title">Behind the scenes</div>
                  <div class="tips__line">
                    <div class="status-red-dark tips__status">Hot</div>
                    <div class="tips__user">
                      <div class="tips__avatar"><img src="img/content/avatar-2.jpg" alt="Avatar"></div>
                      <div class="tips__action">3 mins read</div>
                    </div>
                  </div>
                </div>
              </a><a class="tips__item" data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk"
                data-caption="Use guidelines">
                <div class="tips__icon">
                  <svg class="icon icon-phone">
                    <use xlink:href="#icon-phone"></use>
                  </svg>
                </div>
                <div class="tips__details">
                  <div class="tips__title">Asset use guidelines</div>
                  <div class="tips__line">
                    <div class="status-green-dark tips__status">Popular</div>
                    <div class="tips__user">
                      <div class="tips__avatar"><img src="img/content/avatar.jpg" alt="Avatar"></div>
                      <div class="tips__action">Time</div>
                    </div>
                  </div>
                </div>
              </a><a class="tips__item" data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk"
                data-caption="Use guidelines">
                <div class="tips__icon">
                  <svg class="icon icon-multiselect">
                    <use xlink:href="#icon-multiselect"></use>
                  </svg>
                </div>
                <div class="tips__details">
                  <div class="tips__title">Life & work updates</div>
                  <div class="tips__line">
                    <div class="tips__user">
                      <div class="tips__avatar"><img src="img/content/avatar-2.jpg" alt="Avatar"></div>
                      <div class="tips__action">3 mins read</div>
                    </div>
                  </div>
                </div>
              </a></div>
          </div>
        </div>
        <div class="card">
          <div class="card__head">
            <div class="title-blue card__title">Get more customers!</div>
          </div>
          <div class="media">
            <div class="media__content">50% of new customers explore products because the author sharing the work on the
              social media network. Gain your earnings right now! 🔥</div>
            <div class="media__btns"><a class="button-stroke media__button" href="https://www.facebook.com/ui8.net/"
                target="_blank">
                <svg class="icon icon-facebook">
                  <use xlink:href="#icon-facebook"></use>
                </svg><span>Facebook</span></a><a class="button-stroke media__button" href="https://twitter.com/ui8"
                target="_blank">
                <svg class="icon icon-twitter">
                  <use xlink:href="#icon-twitter"></use>
                </svg><span>Twitter</span></a><a class="button-stroke media__button"
                href="https://www.instagram.com/ui8net/" target="_blank">
                <svg class="icon icon-instagram">
                  <use xlink:href="#icon-instagram"></use>
                </svg><span>Instagram</span></a></div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
<div class="popup popup_product js-popup js-popup-product">
  <div class="popup__overlay js-popup-overlay"></div>
  <div class="popup__wrap js-popup-wrap">
    <div class="product js-product">
      <div class="product__control"><a class="button-white product__button" href="products-add.html">Edit product</a>
        <button class="product__close js-popup-close">
          <svg class="icon icon-close">
            <use xlink:href="#icon-close"></use>
          </svg>
        </button>
      </div>
      <div class="product__wrapper">
        <div class="product__details">
          <div class="product__overview">
            <div class="product__head">
              <div class="product__nav">
                <button class="product__link js-product-open active">Product</button>
                <button class="product__link js-product-comments">Comments</button>
              </div>
              <div class="product__btns">
                <button class="button-stroke product__favorite">
                  <svg class="icon icon-heart-fill">
                    <use xlink:href="#icon-heart-fill"></use>
                  </svg><span>32</span>
                </button>
                <button class="button product__buy"><span class="product__price">$89</span><span
                    class="product__inner">Download<span> now</span>
                    <svg class="icon icon-download">
                      <use xlink:href="#icon-download"></use>
                    </svg></span></button>
              </div>
            </div>
            <div class="product__title h4">Fleet - Travel shopping UI design kit</div>
            <div class="product__info">Elegant product mockup for your next project</div>
            <div class="product__line">
              <div class="product__author">
                <div class="product__avatar"><img src="img/content/avatar.jpg" alt="Avatar"></div>by <span>Chelsie
                  Haley</span>
              </div>
              <div class="product__rating">
                <svg class="icon icon-star-fill">
                  <use xlink:href="#icon-star-fill"></use>
                </svg>4.8<span class="product__counter">(87)</span>
              </div>
            </div>
            <div class="product__gallery">
              <div class="product__box"><a class="product__preview" href="img/content/photo-1.jpg"
                  data-fancybox="gallery" data-caption="Spectacular views of Queenstown"><img
                    src="img/content/photo-1.jpg" alt="Product"></a><a class="product__preview"
                  href="img/content/photo-2.jpg" data-fancybox="gallery"
                  data-caption="Spectacular views of Queenstown"><img src="img/content/photo-2.jpg" alt="Product"></a><a
                  class="product__preview" href="img/content/photo-1.jpg" data-fancybox="gallery"
                  data-caption="Spectacular views of Queenstown"><img src="img/content/photo-1.jpg" alt="Product"></a><a
                  class="product__preview" href="img/content/photo-2.jpg" data-fancybox="gallery"
                  data-caption="Spectacular views of Queenstown"><img src="img/content/photo-2.jpg" alt="Product"></a>
              </div><a class="button-white product__button" href="#">Show all preview</a>
            </div>
            <div class="product__row">
              <div class="product__col">
                <div class="title-red product__subtitle">Overview</div>
                <div class="product__content">
                  <p>Meet Node - a crypto NFT marketplace iOS UI design kit for Figma, Sketch, and Adobe XD. The kit
                    includes 126 stylish mobile screens in light and dark mode, a bunch of crypto 3D illustrations, 1
                    SaaS landing page with full premade breakpoints, and hundreds of components to help you ship your
                    next crypto, NFT product faster.</p>
                  <p>Types of screens included: onboarding, connect wallet, home feed, profile, upload, menu, search,
                    product detail, notification...</p>
                  <p>If you have any questions or requests, please feel free to leave them all in the comments section.
                  </p>
                </div>
              </div>
              <div class="product__col">
                <div class="title-purple product__subtitle">Features</div>
                <ul class="product__features">
                  <li>128 prebuilt screens</li>
                  <li>SaaS landing page ready</li>
                  <li>Global styleguide</li>
                  <li>Dark + light more ready</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="hit">
            <div class="hit__head">
              <div class="title-green hit__title">More like this</div><a class="button-stroke button-small hit__button"
                href="products-dashboard.html"><span>View all</span>
                <svg class="icon icon-arrow-right">
                  <use xlink:href="#icon-arrow-right"></use>
                </svg></a>
            </div>
            <div class="hit__wrapper">
              <div class="hit__slider js-slider-hit">
                <div class="summary">
                  <div class="summary__preview"><img srcSet="img/content/product-pic-1@2x.jpg 2x"
                      src="img/content/product-pic-1.jpg" alt="Product" />
                    <div class="summary__control">
                      <button class="summary__button">
                        <svg class="icon icon-edit">
                          <use xlink:href="#icon-edit"></use>
                        </svg>
                      </button>
                      <button class="summary__button">
                        <svg class="icon icon-trash">
                          <use xlink:href="#icon-trash"></use>
                        </svg>
                      </button>
                      <button class="summary__button" data-popup=".js-popup-product">
                        <svg class="icon icon-arrow-right">
                          <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="summary__line">
                    <div class="summary__title">Bento Matte 3D Illustration</div>
                    <div class="summary__price">$64
                    </div>
                  </div>
                  <div class="summary__rating">
                    <svg class="icon icon-star-fill">
                      <use xlink:href="#icon-star-fill"></use>
                    </svg>4.8
                    <div class="summary__counter">(87)
                    </div>
                  </div>
                </div>
                <div class="summary">
                  <div class="summary__preview"><img srcSet="img/content/product-pic-2@2x.jpg 2x"
                      src="img/content/product-pic-2.jpg" alt="Product" />
                    <div class="summary__control">
                      <button class="summary__button">
                        <svg class="icon icon-edit">
                          <use xlink:href="#icon-edit"></use>
                        </svg>
                      </button>
                      <button class="summary__button">
                        <svg class="icon icon-trash">
                          <use xlink:href="#icon-trash"></use>
                        </svg>
                      </button>
                      <button class="summary__button" data-popup=".js-popup-product">
                        <svg class="icon icon-arrow-right">
                          <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="summary__line">
                    <div class="summary__title">Node - Crypto iOS UI design kit</div>
                    <div class="summary__price">$123
                    </div>
                  </div>
                  <div class="summary__rating">
                    <svg class="icon icon-star-fill">
                      <use xlink:href="#icon-star-fill"></use>
                    </svg>4.9
                    <div class="summary__counter">(87)
                    </div>
                  </div>
                </div>
                <div class="summary">
                  <div class="summary__preview"><img srcSet="img/content/product-pic-3@2x.jpg 2x"
                      src="img/content/product-pic-3.jpg" alt="Product" />
                    <div class="summary__control">
                      <button class="summary__button">
                        <svg class="icon icon-edit">
                          <use xlink:href="#icon-edit"></use>
                        </svg>
                      </button>
                      <button class="summary__button">
                        <svg class="icon icon-trash">
                          <use xlink:href="#icon-trash"></use>
                        </svg>
                      </button>
                      <button class="summary__button" data-popup=".js-popup-product">
                        <svg class="icon icon-arrow-right">
                          <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="summary__line">
                    <div class="summary__title">TaskEz: Productivity App iOS UI Kit</div>
                    <div class="summary__empty">$0
                    </div>
                  </div>
                  <div class="summary__rating summary__rating_empty">
                    <svg class="icon icon-star-stroke">
                      <use xlink:href="#icon-star-stroke"></use>
                    </svg>No ratings
                  </div>
                </div>
                <div class="summary">
                  <div class="summary__preview"><img srcSet="img/content/product-pic-1@2x.jpg 2x"
                      src="img/content/product-pic-1.jpg" alt="Product" />
                    <div class="summary__control">
                      <button class="summary__button">
                        <svg class="icon icon-edit">
                          <use xlink:href="#icon-edit"></use>
                        </svg>
                      </button>
                      <button class="summary__button">
                        <svg class="icon icon-trash">
                          <use xlink:href="#icon-trash"></use>
                        </svg>
                      </button>
                      <button class="summary__button" data-popup=".js-popup-product">
                        <svg class="icon icon-arrow-right">
                          <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="summary__line">
                    <div class="summary__title">Bento Matte 3D Illustration</div>
                    <div class="summary__price">$64
                    </div>
                  </div>
                  <div class="summary__rating">
                    <svg class="icon icon-star-fill">
                      <use xlink:href="#icon-star-fill"></use>
                    </svg>4.8
                    <div class="summary__counter">(87)
                    </div>
                  </div>
                </div>
                <div class="summary">
                  <div class="summary__preview"><img srcSet="img/content/product-pic-2@2x.jpg 2x"
                      src="img/content/product-pic-2.jpg" alt="Product" />
                    <div class="summary__control">
                      <button class="summary__button">
                        <svg class="icon icon-edit">
                          <use xlink:href="#icon-edit"></use>
                        </svg>
                      </button>
                      <button class="summary__button">
                        <svg class="icon icon-trash">
                          <use xlink:href="#icon-trash"></use>
                        </svg>
                      </button>
                      <button class="summary__button" data-popup=".js-popup-product">
                        <svg class="icon icon-arrow-right">
                          <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="summary__line">
                    <div class="summary__title">Node - Crypto iOS UI design kit</div>
                    <div class="summary__price">$123
                    </div>
                  </div>
                  <div class="summary__rating">
                    <svg class="icon icon-star-fill">
                      <use xlink:href="#icon-star-fill"></use>
                    </svg>4.9
                    <div class="summary__counter">(87)
                    </div>
                  </div>
                </div>
                <div class="summary">
                  <div class="summary__preview"><img srcSet="img/content/product-pic-3@2x.jpg 2x"
                      src="img/content/product-pic-3.jpg" alt="Product" />
                    <div class="summary__control">
                      <button class="summary__button">
                        <svg class="icon icon-edit">
                          <use xlink:href="#icon-edit"></use>
                        </svg>
                      </button>
                      <button class="summary__button">
                        <svg class="icon icon-trash">
                          <use xlink:href="#icon-trash"></use>
                        </svg>
                      </button>
                      <button class="summary__button" data-popup=".js-popup-product">
                        <svg class="icon icon-arrow-right">
                          <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="summary__line">
                    <div class="summary__title">TaskEz: Productivity App iOS UI Kit</div>
                    <div class="summary__empty">$0
                    </div>
                  </div>
                  <div class="summary__rating summary__rating_empty">
                    <svg class="icon icon-star-stroke">
                      <use xlink:href="#icon-star-stroke"></use>
                    </svg>No ratings
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product__comments comments">
          <div class="comments__head">
            <div class="comments__title">
              <div class="comments__counter">4</div>Comments
            </div>
            <button class="comments__close js-comments-close">
              <svg class="icon icon-close">
                <use xlink:href="#icon-close"></use>
              </svg>
            </button>
          </div>
          <div class="editor">
            <div class="editor__label">Review this product?
              <div class="tooltip" title="You’re product owner">
                <svg class="icon icon-info">
                  <use xlink:href="#icon-info"></use>
                </svg>
              </div>
            </div>
            <div class="editor__wrap">
              <textarea class="editor__textarea js-editor"></textarea>
              <button class="button-small editor__button disabled">Comment</button>
            </div>
          </div>
          <div class="comments__list">
            <div class="comments__item">
              <div class="comments__avatar"><img src="img/content/avatar-1.jpg" alt="Avatar"></div>
              <div class="comments__details">
                <div class="comments__line">
                  <div class="comments__author">Stephon Schumm</div>
                  <div class="comments__time">2h</div>
                  <div class="comments__rating">5.0
                    <svg class="icon icon-star-fill">
                      <use xlink:href="#icon-star-fill"></use>
                    </svg>
                  </div>
                </div>
                <div class="comments__login">@ivawelch</div>
                <div class="comments__content">Purchased the pack and loaded it in Adobe xd (installed fonts as well),
                  some text and titles are off in some screens, is that a compatibility problem with the latest version
                  of xd?</div>
                <div class="comments__control">
                  <button class="comments__favorite">
                    <svg class="icon icon-heart">
                      <use xlink:href="#icon-heart"></use>
                    </svg>
                    <svg class="icon icon-heart-fill">
                      <use xlink:href="#icon-heart-fill"></use>
                    </svg>Like
                  </button>
                  <button class="comments__reply">
                    <svg class="icon icon-repeat">
                      <use xlink:href="#icon-repeat"></use>
                    </svg>Reply
                  </button>
                </div>
                <div class="answer">
                  <div class="answer__avatar"><img src="img/content/avatar.jpg" alt="Avatar" /></div>
                  <div class="answer__details">
                    <div class="answer__message">
                      <textarea class="answer__textarea" name="answer"
                        oninput="this.style.height = &quot;&quot;;this.style.height = this.scrollHeight + &quot;px&quot;"
                        placeholder="Leave something to reply" required="required"></textarea>
                    </div>
                    <div class="answer__btns">
                      <button class="button button-small answer__button disabled">Reply</button>
                      <button class="button-stroke button-small answer__button">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="comments__answer">
              <div class="comments__avatar"><img src="img/content/avatar.jpg" alt="Avatar"></div>
              <div class="comments__details">
                <div class="comments__line">
                  <div class="comments__author">Chelsie Haley</div>
                  <div class="comments__time">18h</div>
                  <div class="comments__rating">4.0
                    <svg class="icon icon-star-fill">
                      <use xlink:href="#icon-star-fill"></use>
                    </svg>
                  </div>
                </div>
                <div class="comments__content">Hi <strong>@ivawelch</strong>, let me check then tell you soon.</div>
                <div class="comments__control">
                  <button class="comments__favorite">
                    <svg class="icon icon-heart">
                      <use xlink:href="#icon-heart"></use>
                    </svg>
                    <svg class="icon icon-heart-fill">
                      <use xlink:href="#icon-heart-fill"></use>
                    </svg>Like
                  </button>
                  <button class="comments__reply">
                    <svg class="icon icon-repeat">
                      <use xlink:href="#icon-repeat"></use>
                    </svg>Reply
                  </button>
                </div>
                <div class="answer">
                  <div class="answer__avatar"><img src="img/content/avatar.jpg" alt="Avatar" /></div>
                  <div class="answer__details">
                    <div class="answer__message">
                      <textarea class="answer__textarea" name="answer"
                        oninput="this.style.height = &quot;&quot;;this.style.height = this.scrollHeight + &quot;px&quot;"
                        placeholder="Leave something to reply" required="required"></textarea>
                    </div>
                    <div class="answer__btns">
                      <button class="button button-small answer__button disabled">Reply</button>
                      <button class="button-stroke button-small answer__button">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="comments__item">
              <div class="comments__avatar"><img src="img/content/avatar-2.jpg" alt="Avatar"></div>
              <div class="comments__details">
                <div class="comments__line">
                  <div class="comments__author">Sabryna Mills</div>
                  <div class="comments__time">15h</div>
                  <div class="comments__rating">5.0
                    <svg class="icon icon-star-fill">
                      <use xlink:href="#icon-star-fill"></use>
                    </svg>
                  </div>
                </div>
                <div class="comments__login">@ivawelch</div>
                <div class="comments__content">Five stars. I love this product!</div>
                <div class="comments__control">
                  <button class="comments__favorite">
                    <svg class="icon icon-heart">
                      <use xlink:href="#icon-heart"></use>
                    </svg>
                    <svg class="icon icon-heart-fill">
                      <use xlink:href="#icon-heart-fill"></use>
                    </svg>Like
                  </button>
                  <button class="comments__reply">
                    <svg class="icon icon-repeat">
                      <use xlink:href="#icon-repeat"></use>
                    </svg>Reply
                  </button>
                </div>
                <div class="answer">
                  <div class="answer__avatar"><img src="img/content/avatar.jpg" alt="Avatar" /></div>
                  <div class="answer__details">
                    <div class="answer__message">
                      <textarea class="answer__textarea" name="answer"
                        oninput="this.style.height = &quot;&quot;;this.style.height = this.scrollHeight + &quot;px&quot;"
                        placeholder="Leave something to reply" required="required"></textarea>
                    </div>
                    <div class="answer__btns">
                      <button class="button button-small answer__button disabled">Reply</button>
                      <button class="button-stroke button-small answer__button">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="comments__item">
              <div class="comments__avatar"><img src="img/content/avatar-4.jpg" alt="Avatar"></div>
              <div class="comments__details">
                <div class="comments__line">
                  <div class="comments__author">Micaela Mayer</div>
                  <div class="comments__time">1 day ago</div>
                  <div class="comments__rating">5.0
                    <svg class="icon icon-star-fill">
                      <use xlink:href="#icon-star-fill"></use>
                    </svg>
                  </div>
                </div>
                <div class="comments__login">@ivawelch</div>
                <div class="comments__content">Purchased the pack and loaded it in Adobe xd (installed fonts as well),
                  some text and titles are off in some screens, is that a compatibility problem with the latest version
                  of xd?</div>
                <div class="comments__control">
                  <button class="comments__favorite">
                    <svg class="icon icon-heart">
                      <use xlink:href="#icon-heart"></use>
                    </svg>
                    <svg class="icon icon-heart-fill">
                      <use xlink:href="#icon-heart-fill"></use>
                    </svg>Like
                  </button>
                  <button class="comments__reply">
                    <svg class="icon icon-repeat">
                      <use xlink:href="#icon-repeat"></use>
                    </svg>Reply
                  </button>
                </div>
                <div class="answer">
                  <div class="answer__avatar"><img src="img/content/avatar.jpg" alt="Avatar" /></div>
                  <div class="answer__details">
                    <div class="answer__message">
                      <textarea class="answer__textarea" name="answer"
                        oninput="this.style.height = &quot;&quot;;this.style.height = this.scrollHeight + &quot;px&quot;"
                        placeholder="Leave something to reply" required="required"></textarea>
                    </div>
                    <div class="answer__btns">
                      <button class="button button-small answer__button disabled">Reply</button>
                      <button class="button-stroke button-small answer__button">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="comments__item">
              <div class="comments__avatar"><img src="img/content/avatar-3.jpg" alt="Avatar"></div>
              <div class="comments__details">
                <div class="comments__line">
                  <div class="comments__author">Daphne Goodwin</div>
                  <div class="comments__time">2 days ago</div>
                  <div class="comments__rating">5.0
                    <svg class="icon icon-star-fill">
                      <use xlink:href="#icon-star-fill"></use>
                    </svg>
                  </div>
                </div>
                <div class="comments__login">@ivawelch</div>
                <div class="comments__content">Purchased the pack and loaded it in Adobe xd (installed fonts as well),
                  some text and titles are off in some screens, is that a compatibility problem with the latest version
                  of xd?</div>
                <div class="comments__control">
                  <button class="comments__favorite">
                    <svg class="icon icon-heart">
                      <use xlink:href="#icon-heart"></use>
                    </svg>
                    <svg class="icon icon-heart-fill">
                      <use xlink:href="#icon-heart-fill"></use>
                    </svg>Like
                  </button>
                  <button class="comments__reply">
                    <svg class="icon icon-repeat">
                      <use xlink:href="#icon-repeat"></use>
                    </svg>Reply
                  </button>
                </div>
                <div class="answer">
                  <div class="answer__avatar"><img src="img/content/avatar.jpg" alt="Avatar" /></div>
                  <div class="answer__details">
                    <div class="answer__message">
                      <textarea class="answer__textarea" name="answer"
                        oninput="this.style.height = &quot;&quot;;this.style.height = this.scrollHeight + &quot;px&quot;"
                        placeholder="Leave something to reply" required="required"></textarea>
                    </div>
                    <div class="answer__btns">
                      <button class="button button-small answer__button disabled">Reply</button>
                      <button class="button-stroke button-small answer__button">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product__panel">
          <div class="product__avatar"><img src="img/content/avatar.jpg" alt="Avatar"></div>
          <div class="product__brand"><img src="img/content/figma.png" alt="Figma">
            <div class="product__number">3</div>
          </div>
          <button class="product__share" data-popup=".js-popup-share">
            <svg class="icon icon-share">
              <use xlink:href="#icon-share"></use>
            </svg>
          </button>
        </div><a class="product__next" href="#">
          <svg class="icon icon-arrow-right">
            <use xlink:href="#icon-arrow-right"></use>
          </svg></a>
      </div>
    </div>
  </div>
</div>
<div class="popup popup_share js-popup js-popup-share">
  <div class="popup__overlay js-popup-overlay"></div>
  <div class="popup__wrap js-popup-wrap">
    <div class="share">
      <div class="share__head">
        <div class="title-red share__title">Share this product</div>
      </div>
      <div class="share__field">
        <div class="share__icon">
          <svg class="icon icon-link">
            <use xlink:href="#icon-link"></use>
          </svg>
        </div>
        <input class="share__input" type="text" name="site" value="https://ui8.net/feel-travel">
        <button class="share__copy">Copy</button>
      </div>
      <div class="share__preview"><img src="img/content/photo-1.jpg" alt="Share"></div>
      <div class="share__btns"><a class="button-stroke share__button" href="https://www.facebook.com/ui8.net/"
          target="_blank">
          <svg class="icon icon-facebook">
            <use xlink:href="#icon-facebook"></use>
          </svg></a><a class="button-stroke share__button" href="https://twitter.com/ui8" target="_blank">
          <svg class="icon icon-twitter">
            <use xlink:href="#icon-twitter"></use>
          </svg></a><a class="button-stroke share__button" href="https://www.instagram.com/ui8net/" target="_blank">
          <svg class="icon icon-instagram">
            <use xlink:href="#icon-instagram"></use>
          </svg></a></div>
    </div>
    <button class="popup__close js-popup-close">
      <svg class="icon icon-close">
        <use xlink:href="#icon-close"></use>
      </svg>
    </button>
  </div>
</div>