<form [formGroup]="changePasswordForm">

  <!-- Old Password -->
  <app-form-field
    class="field"
    title="Old Password"
    placeholder="Old Password"
    description="Enter Your Old Password (current one)"
    [control]="getControl('oldPassword')"
    inputType="password"
    icon="icon-lock"
  ></app-form-field>

  <!-- Password -->
  <app-form-field
    class="field"
    title="New Password"
    placeholder="New Password"
    description="Must be 8+ characters with uppercase, number & special character"
    [control]="getControl('password')"
    inputType="password"
    icon="icon-lock"
  ></app-form-field>
  
  <!-- Confirm Password -->
  <app-form-field
    class="field"
    title="Confirm Password"
    placeholder="Confirm Password"
    description="Re-enter your password"
    [control]="getControl('confirmPassword')"
    inputType="password"
    icon="icon-lock"
  ></app-form-field>
</form>

<div class="error" *ngIf="changePasswordForm.errors != null && changePasswordForm.errors['passwordMismatch'] && (changePasswordForm.dirty || changePasswordForm.touched) && getControl('confirmPassword').touched && getControl('password')">
  Passwords do not match.
</div>

<div class="error" *ngIf="errorMessage != '' && errorMessage != null">
  {{errorMessage}}
</div>

<div class="form__actions">

  <app-button [disabled]="!changePasswordForm.valid" [isLoading]="isLoading" (btnClick)="changePassword()" variant="secondary">Save</app-button>
  <app-button [outlined]="true" [disabled]="isLoading" (btnClick)="cancel()" variant="secondary" class="ml-auto">Cancel</app-button>
  
</div>