// Charger navbar styling
.page__inner
  min-height: 0px
.charger__navbar
  display: flex
  flex: 0 0 100%
  width: 100%
  margin-bottom: 24px
  border-bottom: 1px solid var(--primary4)
  .charger__navbar-item
    padding: 12px
    color: var(--primary8)
    cursor: auto
    transition: ease-in-out all .2s
    font-size: 14px
    font-weight: 600
    &:not(.disabled)
      cursor: pointer
      &:hover
        color: black
    &.charger__navbar-item--active
      border-bottom: 2px solid var(--secondary2)
      color: black
    
  
.settings__container
  flex: 0 0 100%
  width: 100%

  
.settings
  flex: 0 0 64%
  flex-wrap: wrap
  max-width: 64%

.overview
  flex: 0 0 35%
  margin-left: auto
  background: white
  padding: 24px
  border-radius: 8px

.page__container
  flex-grow: 1
  flex-wrap: wrap
  flex-direction: row
  .page__title
    flex: 0 0 100%
