<app-small-card
  class="connector__status__item"
  title="Available"
  description="When a Connector becomes available for a new User (Operative)"
  [number]="availableConnectors"
></app-small-card>

<app-small-card
  class="connector__status__item"
  title="Unavailable"
  description="When a Connector becomes unavailable as the result of a Change Availability command or an event uponwhich the Charging Station transitions to unavailable at its discretion."
  [number]="unavailableConnectors"
></app-small-card>

<app-small-card
  class="connector__status__item"
  title="Occupied"
  description="When a Connector becomes occupied, so it is not available for a new EV driver. (Operative)"
  [number]="occupiedConnectors"
></app-small-card>

<app-small-card
  class="connector__status__item"
  title="Faulted"
  description="When a Connector (or the EVSE or the entire Charging Station it belongs to) has reported an error and is not
available for energy delivery. (Inoperative)"
  [number]="faultedConnectors"
></app-small-card>

<app-small-card
  class="connector__status__item"
  title="Reserved"
  description="When a Connector becomes reserved as a result of ReserveNow command (Operative)"
  [number]="reservedConnectors"
></app-small-card>
