<!-- page-->
<div class="page page_simple">
  <div class="entry">
    <div class="entry__wrapper"><a class="entry__logo" href="#"><img class="some-icon" src="img/logo-dark.png"
          alt="Core"><img class="some-icon-dark" src="img/logo-light.png" alt="Core"></a>
      <div class="h2 entry__title">Reset Password</div>
      <div class="entry__top">
        <div class="entry__text">Sign up with Open account</div>
      </div>
      <div class="entry__text">Or continue with email address</div>
      <form>
        <div class="entry__fieldset">
          <div class="field field_icon">
            <div class="field__wrap">
              <input class="field__input" type="text" [(ngModel)]="userForReset.email" placeholder="Your New Password">
              <div class="field__icon">
                <svg class="icon icon-mail">
                  <use xlink:href="#icon-mail"></use>
                </svg>
              </div>
            </div>
          </div>
          <div class="field field_icon">
            <div class="field__wrap">
              <input class="field__input" type="text" [(ngModel)]="userForReset.email" placeholder="Confirm Password">
              <div class="field__icon">
                <svg class="icon icon-mail">
                  <use xlink:href="#icon-mail"></use>
                </svg>
              </div>
            </div>
          </div>
          <button (click)="resetPassword()" class="button entry__button">Send Reset Link</button>
        </div>
      </form>
    </div>
  </div>
</div>