<div class="page__inner">
  <div class="page__container">
    <div class="page__title h3">Charge Point</div>
    <div class="settings">
      <div class="settings__menu">
        <button (click)="changeTab('InformationsTab')" class="settings__link"
          [ngClass]="{'active' : tabsEnum == 'InformationsTab'}">Informations</button>
        <button (click)="changeTab('ConnectorsTab')" class="settings__link"
          [ngClass]="{'active' : tabsEnum == 'ConnectorsTab'}">Connectors</button>
      </div>
      <div class="settings__wrapper">
        <select class="select">
          <option (click)="changeTab('InformationsTab')">Informations</option>
          <option (click)="changeTab('ConnectorsTab')">Connectors</option>
        </select>
        <div class="settings__list">
          <div class="settings__item" *ngIf="tabsEnum == 'InformationsTab'">
            <div class="settings__anchor" id="basics" data-value="Basics"></div>
            <div class="title-green settings__title">Informations</div>
            <div class="settings__profile">

            </div>
            <div class="settings__fieldset" *ngIf="chargePointLoaded">
              <app-display-cell (updatePropertyEvent)="update($event,'name')" title="name" val="{{chargePoint.name}}"></app-display-cell>
              <app-display-cell (updatePropertyEvent)="update($event,'serialNumber')" title="serialNumber" inpType="text" val="{{chargePoint.serialNumber}}"></app-display-cell>
              <app-display-cell (updatePropertyEvent)="update($event,'make')" title="make" inpType="text" val="{{chargePoint.make}}"></app-display-cell>
              <app-display-cell (updatePropertyEvent)="update($event,'status')" title="status" inpType="select_enum" enumName="ChargePointStatus" val="{{chargePoint.status}}"></app-display-cell>
              <app-display-cell (updatePropertyEvent)="update($event,'comment')" title="comment" inpType="text" val="{{chargePoint.comment}}"></app-display-cell>
              <app-display-cell (updatePropertyEvent)="update($event,'category')" title="category" inpType="select_enum" enumName="ChargePointCategory" val="{{chargePoint.category}}"></app-display-cell>
            </div>
          </div>
          <div class="settings__item" *ngIf="tabsEnum == 'ConnectorsTab'">
            <div class="settings__anchor" id="account" data-value="Account"></div>
            <div class="title-purple settings__title">Connectors</div>
            <div class="settings__fieldset">
              <ng-container *ngFor="let connector of connectors">
                <mat-accordion>
                  <mat-expansion-panel
                    class="expansion-panel"
                    (opened)="(true)"
                    (closed)="(false)"
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title class="flex">
                        <div>Connector : {{ connector.id }}</div>
                        <button (click)="deleteConnector(connector.id)" class="ml-auto" mat-button color="primary">delete</button>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                
                    <div class="card__display">
                      <div class="card__display_item">
                        <span class="item__title">
                          Connector Type
                          <div
                            class="tooltip"
                            title="Maximum 100 characters. No HTML or emoji allowed"
                          >
                            <svg class="icon icon-info">
                              <use xlink:href="#icon-info"></use>
                            </svg>
                          </div>
                        </span>
                        <br />
                        <span class="item__text">{{connector.connectorType}}</span>
                      </div>

                      <div class="card__display_item">
                        <span class="item__title">
                          Power
                          <div
                            class="tooltip"
                            title="Maximum 100 characters. No HTML or emoji allowed"
                          >
                            <svg class="icon icon-info">
                              <use xlink:href="#icon-info"></use>
                            </svg>
                          </div>
                        </span>
                        <br />
                        <span class="item__text">{{connector.power}}</span>
                      </div>

                      <div class="card__display_item">
                        <span class="item__title">
                          Speed
                          <div
                            class="tooltip"
                            title="Maximum 100 characters. No HTML or emoji allowed"
                          >
                            <svg class="icon icon-info">
                              <use xlink:href="#icon-info"></use>
                            </svg>
                          </div>
                        </span>
                        <br />
                        <span class="item__text">{{connector.speed}}</span>
                      </div>
                      
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </ng-container>
              
            </div>

          </div>

          

        </div>
      </div>
    </div>
  </div>
</div>