<div class="page__inner">
  <div class="page__container">
    <div class="page__title h3">Charge Point</div>
    <div class="settings">
      <div class="settings__menu">
        <button (click)="changeTab('InformationsTab')" class="settings__link"
          [ngClass]="{'active' : tabsEnum == 'InformationsTab'}">Informations</button>
        <button (click)="changeTab('ConnectorsTab')" class="settings__link"
          [ngClass]="{'active' : tabsEnum == 'ConnectorsTab'}">Connectors</button>
      </div>
      <div class="settings__wrapper">
        <select class="select">
          <option (click)="changeTab('InformationsTab')">Informations</option>
          <option (click)="changeTab('ConnectorsTab')">Connectors</option>
        </select>
        <div class="settings__list">
          <div class="settings__item" *ngIf="tabsEnum == 'InformationsTab'">
            <div class="settings__anchor" id="basics" data-value="Basics"></div>
            <div class="title-green settings__title">Informations</div>
            <div class="settings__profile">

            </div>
            <div class="settings__fieldset" *ngIf="chargePointLoaded">
              <app-display-cell (updatePropertyEvent)="update($event,'name')" title="name" val="{{chargePoint.name}}"></app-display-cell>
              <app-display-cell (updatePropertyEvent)="update($event,'serialNumber')" title="serialNumber" inpType="text" val="{{chargePoint.serialNumber}}"></app-display-cell>
              <app-display-cell (updatePropertyEvent)="update($event,'make')" title="make" inpType="text" val="{{chargePoint.make}}"></app-display-cell>
              <app-display-cell (updatePropertyEvent)="update($event,'status')" title="status" inpType="select_enum" enumName="ChargePointStatus" val="{{chargePoint.status}}"></app-display-cell>
              <app-display-cell (updatePropertyEvent)="update($event,'comment')" title="comment" inpType="text" val="{{chargePoint.comment}}"></app-display-cell>
              <app-display-cell (updatePropertyEvent)="update($event,'category')" title="category" inpType="select_enum" enumName="ChargePointCategory" val="{{chargePoint.category}}"></app-display-cell>
            </div>
          </div>
          <div class="settings__item" *ngIf="tabsEnum == 'ConnectorsTab'">
            <!-- <app-charge-point-connectors [chargePointID]="chargePoint.id" (reloadChargePoint)="getChargePointByID(chargePoint.id)" (deleteConnectorEvent)="deleteConnector($event)"  [connectors]="chargePoint.connectors"></app-charge-point-connectors> -->
          </div>

          

        </div>
      </div>
    </div>
  </div>
</div>