<div class="basereport__description-container">
  <div class="basereport__description-title">Base Report</div>
  <div class="basereport__description-list">
    <div class="basereport__description-item">
      <div class="basereport__description-item-title">ConfigurationInventory</div>
      <div class="basereport__description-item-description">Requests a comprehensive report of all available components and variables in the Charge Point.</div>
    </div>
    <div class="basereport__description-item">
      <div class="basereport__description-item-title">FullInventory</div>
      <div class="basereport__description-item-description">Requests a comprehensive report of all available components and variables in the Charge Point.</div>
    </div>
    <div class="basereport__description-item">
      <div class="basereport__description-item-title">SummaryInventory</div>
      <div class="basereport__description-item-description">Requests a summary report of the components and variables.</div>
    </div>
  </div>
</div>
