.basereport__description-container 
  font-family: Arial, sans-serif
  margin: 20px

.basereport__description-title 
  font-size: 24px
  font-weight: bold
  margin-bottom: 15px

.basereport__description-list 
  display: flex
  flex-direction: column
  gap: 15px

.basereport__description-item 
  display: flex
  align-items: center


.basereport__description-item-title 
  font-weight: bold
  margin-right: 10px

.basereport__description-item-description 
  color: #555
  font-size: 14px
  font-weight: 500
  font-family: 'Montserrat'

