<div class="page__inner">
  <div class="page__container page__container--large">
    <div class="page__title h3">
      Charge Point Realtime
      <app-charge-point-status [status]="status"></app-charge-point-status>
      <app-ocpp-version-badge *ngIf="chargePoint?.chargePointId" class="page__ocpp-badge" [chargePointId]="chargePoint.chargePointId"></app-ocpp-version-badge>
    </div>
    <app-breadcrumb [items]="[
      { label: 'Dashboard', link: '/dashboard' },
      { label: 'Connector Real Time', link: '/dashboard/connector-realtime/{{chargePointID}}' },
      { label: '#'+chargePointID }
      ]"></app-breadcrumb>
    <div class="charger__navbar">
      <button *ngIf="canOpenMenu(1)"  [ngClass]="{'charger__navbar-item--active': selectedMenuItem === 1}" (click)="selectMenuItem(1)" class="charger__navbar-item">Overview</button>
      <button *ngIf="canOpenMenu(2)"  [ngClass]="{'charger__navbar-item--active': selectedMenuItem === 2}" (click)="selectMenuItem(2)" class="charger__navbar-item">Pricing & Access</button>
      <button *ngIf="canOpenMenu(3)"  [ngClass]="{'charger__navbar-item--active': selectedMenuItem === 3}" (click)="selectMenuItem(3)" class="charger__navbar-item">Details & Settings</button>
      <button *ngIf="canOpenMenu(4)"  [disabled]="!disabledActions" [ngClass]="{'disabled':!disabledActions,'charger__navbar-item--active': selectedMenuItem === 4}" (click)="selectMenuItem(4)" class="charger__navbar-item">Actions</button>
      <button *ngIf="canOpenMenu(5)"  [ngClass]="{'charger__navbar-item--active': selectedMenuItem === 5}" (click)="selectMenuItem(5)" class="charger__navbar-item">OCPP Configuration</button>
      <button *ngIf="canOpenMenu(6)"  [ngClass]="{'charger__navbar-item--active': selectedMenuItem === 6}" (click)="selectMenuItem(6)" class="charger__navbar-item">Firmware</button>
      <button *ngIf="canOpenMenu(7)"  [ngClass]="{'charger__navbar-item--active': selectedMenuItem === 7}" (click)="selectMenuItem(7)" class="charger__navbar-item">Uptime Reports</button>
      <button *ngIf="canOpenMenu(8)"  [ngClass]="{'charger__navbar-item--active': selectedMenuItem === 8}" (click)="selectMenuItem(8)" class="charger__navbar-item">Logs</button>
      <button *ngIf="canOpenMenu(9)"  [ngClass]="{'charger__navbar-item--active': selectedMenuItem === 9}" (click)="selectMenuItem(9)" class="charger__navbar-item">Ratings</button>
      <button *ngIf="canOpenMenu(10)"  [ngClass]="{'charger__navbar-item--active': selectedMenuItem === 10}" (click)="selectMenuItem(10)" class="charger__navbar-item">Charging Sessions</button>
      <button *ngIf="canOpenMenu(11)"  [ngClass]="{'charger__navbar-item--active': selectedMenuItem === 11}" (click)="selectMenuItem(11)" class="charger__navbar-item">Transactions</button>
      <button *ngIf="canOpenMenu(12)"  [ngClass]="{'charger__navbar-item--active': selectedMenuItem === 12}" (click)="selectMenuItem(12)" class="charger__navbar-item">Configurations</button>
    </div>
    <div class="settings">
      

      <ng-container *ngIf="selectedMenuItem == getMenu('Overview')">
        <app-connector-realtime-overview *ngIf="chargePoint.id != null" [ChargePoint]="chargePoint" class="settings__container"></app-connector-realtime-overview>
      </ng-container>

      <ng-container *ngIf="selectedMenuItem == getMenu('PricingAccess')">
        <app-connector-realtime-pricing-access *ngIf="chargePoint.id != null" [ChargePoint]="chargePoint" class="settings__container"></app-connector-realtime-pricing-access>
      </ng-container>

      <ng-container *ngIf="selectedMenuItem == getMenu('DetailsSettings')">
        <app-connector-realtime-details-settings *ngIf="chargePoint != null" [chargePoint]="chargePoint" class="settings__container"></app-connector-realtime-details-settings>
      </ng-container>

      <ng-container *ngIf="selectedMenuItem == getMenu('Actions')">
        <app-connector-realtime-actions [chargePoint]="chargePoint" class="settings__container"></app-connector-realtime-actions>
      </ng-container>

      <ng-container *ngIf="selectedMenuItem == getMenu('OCPPConfiguration')">
        <app-connector-realtime-ocpp-configuration [chargePoint]="chargePoint" class="settings__container"></app-connector-realtime-ocpp-configuration>
      </ng-container>

      <ng-container *ngIf="selectedMenuItem == getMenu('Firmware')">
        <app-connector-realtime-firmware *ngIf="chargePoint != null" [chargePoint]="chargePoint"  class="settings__container"></app-connector-realtime-firmware>
      </ng-container>

      <ng-container *ngIf="selectedMenuItem == getMenu('UptimeReports')">
        <app-connector-realtime-uptime-reports [chargePointID]="chargePoint.id" class="settings__container"></app-connector-realtime-uptime-reports>
      </ng-container>

      <ng-container *ngIf="selectedMenuItem == getMenu('Logs')">
        <app-connector-realtime-logs *ngIf="chargePoint != null" [chargePoint]="chargePoint" class="settings__container"></app-connector-realtime-logs>
      </ng-container>

      <ng-container *ngIf="selectedMenuItem == getMenu('Ratings')">
        <app-connector-realtime-ratings *ngIf="chargePoint != null" [chargePointID]="chargePoint.id" class="settings__container"></app-connector-realtime-ratings>
      </ng-container>
      
      <ng-container *ngIf="selectedMenuItem == getMenu('ChargingSessions')">
        <app-connector-realtime-charging-sessions *ngIf="chargePoint != null" [chargePoint]="chargePoint" class="settings__container"></app-connector-realtime-charging-sessions>
      </ng-container>

      <ng-container *ngIf="selectedMenuItem == getMenu('Transactions')">
        <app-connector-realtime-transactions *ngIf="chargePoint != null" [chargePoint]="chargePoint" class="settings__container"></app-connector-realtime-transactions>
      </ng-container>

      <ng-container *ngIf="selectedMenuItem == getMenu('Configurations')">
        <app-connector-realtime-configurations *ngIf="chargePoint != null" [chargePoint]="chargePoint" class="settings__container"></app-connector-realtime-configurations>
      </ng-container>
      

      
    </div>

    <div class="overview" *ngIf="chargePoint">
      <app-connector-realtime-main-overview [chargePoint]="chargePoint"></app-connector-realtime-main-overview>
    </div>

    
  </div>
</div>





