<div class="overview js-tabs">
  <div class="overview__nav">
    <a class="overview__link js-tabs-link active" href="#">
      <div class="overview__icon" style="background-color: #B1E5FC;">
        <svg class="icon icon-shopping-bag">
          <use xlink:href="#icon-shopping-bag"></use>
        </svg>
      </div>
      <div class="overview__details">
        <div class="overview__subtitle">Total Energy
          <div class="tooltip" title="Small description">
            <svg class="icon icon-info">
              <use xlink:href="#icon-info"></use>
            </svg>
          </div>
        </div>
        <div class="overview__counter">{{totalEnergy | number : '1.0-0' }}</div>
      </div>
      <div class="balance background negative">
        <svg class="icon icon-arrow-bottom">
          <use xlink:href="#icon-arrow-bottom"></use>
        </svg>{{totalEnergyToday | number : '1.0-0'}}
      </div>
    </a>
    <a class="overview__link js-tabs-link" href="#">
      <div class="overview__icon" style="background-color: #CABDFF;">
        <svg class="icon icon-activity">
          <use xlink:href="#icon-activity"></use>
        </svg>
      </div>
      <div class="overview__details">
        <div class="overview__subtitle">Total Orders
          <div class="tooltip" title="Small description">
            <svg class="icon icon-info">
              <use xlink:href="#icon-info"></use>
            </svg>
          </div>
        </div>
        <div class="overview__counter">{{totalOrders | number : '1.0-0'}}</div>
      </div>
      <div class="balance background positive">
        <svg class="icon icon-arrow-top">
          <use xlink:href="#icon-arrow-top"></use>
        </svg>{{totalOrdersToday | number : '1.0-0'}}
      </div>
    </a>
    <a class="overview__link js-tabs-link" href="#">
      <div class="overview__icon" style="background-color: #CABDFF;">
        <svg class="icon icon-activity">
          <use xlink:href="#icon-activity"></use>
        </svg>
      </div>
      <div class="overview__details">
        <div class="overview__subtitle">Total Recharge (EUR)
          <div class="tooltip" title="Small description">
            <svg class="icon icon-info">
              <use xlink:href="#icon-info"></use>
            </svg>
          </div>
        </div>
        <div class="overview__counter">{{totalRechargeAmount | number : '1.0-0'}}</div>
      </div>
      <div class="balance background positive">
        <svg class="icon icon-arrow-top">
          <use xlink:href="#icon-arrow-top"></use>
        </svg>{{totalRechargeAmountToday | number : '1.0-0'}}
      </div>
    </a>
    <a class="overview__link js-tabs-link" href="#">
      <div class="overview__icon" style="background-color: #CABDFF;">
        <svg class="icon icon-activity">
          <use xlink:href="#icon-activity"></use>
        </svg>
      </div>
      <div class="overview__details">
        <div class="overview__subtitle">Total Revenue (EUR)
          <div class="tooltip" title="Small description">
            <svg class="icon icon-info">
              <use xlink:href="#icon-info"></use>
            </svg>
          </div>
        </div>
        <div class="overview__counter">256k</div>
      </div>
      <div class="balance background positive">
        <svg class="icon icon-arrow-top">
          <use xlink:href="#icon-arrow-top"></use>
        </svg>37.8%
      </div>
    </a>
  </div>
  <div class="overview__container">
    <div class="overview__item js-tabs-item" style="display: block;">
      <div class="users">
        <div class="users__head">
          <div class="users__info">Welcome <strong>857 customers</strong> with a personal message 😎</div><a
            class="button-stroke users__button" href="message-center.html">Send<span> message</span></a>
        </div>
        <div class="users__list"><a class="users__item" href="message-center.html">
            <div class="users__avatar"><img src="img/content/avatar.jpg" alt="Avatar"></div>
            <div class="users__title">Gladyce</div>
          </a><a class="users__item" href="message-center.html">
            <div class="users__avatar"><img src="img/content/avatar-1.jpg" alt="Avatar"></div>
            <div class="users__title">Elbert</div>
          </a><a class="users__item" href="message-center.html">
            <div class="users__avatar"><img src="img/content/avatar-2.jpg" alt="Avatar"></div>
            <div class="users__title">Joyce</div>
          </a><a class="users__all" href="customer-list.html">
            <div class="users__icon">
              <svg class="icon icon-arrow-right">
                <use xlink:href="#icon-arrow-right"></use>
              </svg>
            </div>
            <div class="users__text">View all</div>
          </a></div>
      </div>
    </div>
    <div class="overview__item js-tabs-item">
      <div class="overview__chart">
        <div > salut </div>
      </div>
    </div>
    <div class="overview__item js-tabs-item">
      <div class="overview__chart">
        <div > salut2 </div>
      </div>
    </div>
    <div class="overview__item js-tabs-item">
      <div class="overview__chart">
        <div id="oveview-income"></div>
      </div>
    </div>
  </div>
</div>