@import ./../../../../styles/table-stats
@import ./../../../../styles/connector-realtime
  
.card__title
  flex: 0 0 100%
  width: 100%
  display: flex
  .connector__dropdown
    margin-left: auto


.separator
  margin-top: 32px
  margin-bottom: 32px
  border: 1px solid var(--primary2)



.table__container
    flex: 0 0 100%