.image__container img {
    height: 100px;
}

.image__container p {
    font-size: 1.6em;
    margin-top: 64px;
}

.image__container span {
    color: #aeaeae;
}

.image__container{
    text-align: center;
}