.image__container
    text-align: center
    span 
        color: #aeaeae
    p 
        font-size: 1.6em
        margin-top: 64px
    img 
        height: 100px


.container
    display: flex
    align-items: center
    justify-content: center
    height: 100%
