<form [formGroup]="connectorForm">
  
  <app-form-field
    class="field"
    title="speed"
    description="tbd"
    [control]="getControl('speed')"
  ></app-form-field>

  <app-form-field
    class="field"
    title="Price Per Kwh"
    description="tbd"
    [control]="getControl('pricePerKWh')"
  ></app-form-field>

  <app-form-field
    class="field"
    title="Price Per Minute"
    description="tbd"
    [control]="getControl('pricePerMinute')"
  ></app-form-field>

  <app-form-field
    class="field"
    title="Price Per Hour"
    description="tbd"
    [control]="getControl('pricePerHour')"
  ></app-form-field>

  <div class="flex">
    <button (click)="cpfOnSubmit()" class="button">Create</button>
    <button (click)="cancelEvent.emit()" class="button-stroke btn-cancel">
      Cancel
    </button>
  </div>
</form>