<div class="page__inner">
  <div class="page__container">
    <app-table-list 
      name="charge point"
      names="charge points"
      [searchByAttributes]="['ChargePointId','Address']"
      routeName="charging-points"
      createLink="/dashboard/charging-points/create"
      [fields]="fields" 
      [filters]="filters"
      [deletable]="false"
      [getItemsObservable]="getChargePointsObservable.bind(this)"
      [updateItemObservable]="updateChargePointObservable.bind(this)"
      searchByPlaceHolder="Search by Name"
      (resetFiltersEvent)="resetFilters()"
      >
      <!-- filter body -->
      <ng-container filter__body>
        <div  class="filters__group">
        
          <div class="filters__item">
            <div class="filters__list">
              <div class="field">
                <div class="field__label">By City
                  <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                    <svg class="icon icon-info">
                      <use xlink:href="#icon-info"></use>
                    </svg>
                  </div>
                </div>
                <div class="field__wrap">
                  <div class="field__wrap">
                    <select class="select" [(ngModel)]="filters.city">
                      <option value="" selected>None</option>
                      <option value="{{city.name}}" *ngFor="let city of cities">{{city.name}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="field">
                <div class="field__label">By Category
                  <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                    <svg class="icon icon-info">
                      <use xlink:href="#icon-info"></use>
                    </svg>
                  </div>
                </div>
                <div class="field__wrap">
                  <div class="field__wrap">
                    <select class="select" [(ngModel)]="filters.category">
                      <option value="" selected>None</option>
                      <option value="Public">Public</option>
                      <option value="Private">Private</option>
                      <option value="Partner">Partner</option>
                    </select>
                  </div>
                </div>
              </div>

              
            </div>
          </div>
          
        </div>
      </ng-container>

      <ng-template appTableCustomButton let-item>
        <button class="sidebar__add table__action" routerLink="/dashboard/connector-realtime/{{item.id}}"> 
          <svg class="icon icon-payment">
              <use xlink:href="#icon-payment"></use>
          </svg>  
        </button>
      </ng-template>

      
    </app-table-list>
  </div>
</div>
