<form [formGroup]="form">
  <ng-container *ngFor="let key of objectKeys(form.controls)">
    <ng-container [ngSwitch]="getType(form.get(key))">
      <div *ngSwitchCase="'FormGroup'" [formGroupName]="key">
        <h3>{{ key }}</h3>
        <ng-container *ngFor="let subKey of objectKeys(form.get(key).controls)">
          <input type="text" [formControlName]="subKey">
        </ng-container>
      </div>
      <div *ngSwitchCase="'FormArray'" formArrayName="{{key}}">
        <h3>{{ key }}</h3>
        <div *ngFor="let control of form.get(key).controls; index as i">
          <div [formGroupName]="i">
            <ng-container *ngFor="let subKey of objectKeys(control.controls)">
              <input type="text" [formControlName]="subKey">
            </ng-container>
          </div>
        </div>
      </div>
      <div *ngSwitchDefault>
        <label>{{ key }}</label>
        <input type="text" [formControlName]="key">
      </div>
    </ng-container>
  </ng-container>
</form>
