<ng-container *ngFor="let item of objectKeys(requestType)">
  <!-- case of enum -->

  <ng-container *ngIf="requestType[item].type === 'enum'">
    <div class="field">
      <div class="field__label">{{requestType[item].name}}</div>
      <div class="field__wrap">
        <select [(ngModel)]="model[requestType[item].name]" id="">
          <option value="{{opt}}" *ngFor="let opt of requestType[item].value"> {{opt}} </option>
        </select>
      </div>
    </div>
  </ng-container>
    
  <!-- case of string -->
  <ng-container *ngIf="requestType[item].type === 'string'">
    <div class="field">
      <div class="field__label">{{requestType[item].name}}</div>
      <div class="field__wrap">
        <input [(ngModel)]="model[requestType[item].name]" type="text" placeholder="{{requestType[item].name}}">
      </div>
    </div>
  </ng-container>

  <!-- case of object -->
  <ng-container *ngIf="requestType[item].type === 'object'">
    <!-- call to recursive component -->
    <app-dynamic-form [requestType]="requestType[item].value"></app-dynamic-form>
  </ng-container>

  <!-- case of array -->
  <ng-container *ngIf="requestType[item].type === 'array'">
    <app-dynamic-form [requestType]="requestType[item].value"></app-dynamic-form>
  </ng-container>


</ng-container>

<button (click)="test()">test</button>
