<ng-container *ngIf="dynamicForm != null">
  <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
    <ng-container *ngFor="let control of dynamicForm.controls | keyvalue">
      <div class="">
        <label [for]="control.key">{{control.key}}</label>
      </div>
      <ng-container *ngIf="fieldTypes[control.key] === 'array';"> 
        <select [id]="control.key" [formControlName]="control.key">
          <option *ngFor="let option of requestType[control.key] | keyvalue" [value]="option.key">{{option.value}}</option>
        </select>
      </ng-container>
      <ng-container *ngIf="fieldTypes[control.key] === 'text';">
        <input [id]="control.key" [formControlName]="control.key" type="text">
      </ng-container>
      <ng-container *ngIf="fieldTypes[control.key] === 'object';">
        <div class="field__label">{{control.key}}</div>
        <app-dynamic-form [requestType]="requestType[control.key]" [formGroup]="getFormGroup(control.key)"></app-dynamic-form>
      </ng-container>
    </ng-container>
    <button type="submit">Submit</button>
  </form>
</ng-container>
