<div class="page page_simple">
  <div class="container">
    <a class="image__container">
      <img src="/assets/images/logos/logo.svg" alt="VoltaX">
    </a>

    <div class="form_title">Verify Your Phone</div>

    <form [formGroup]="form">
      <div class="entry__fieldset">
        <div class="field field_icon">
          <app-form-field
            class="field"
            title="Verification Code"
            placeholder="Enter Code"
            description="Enter the code sent to your phone number."
            [control]="getControl('code')"
            icon="phone"
          ></app-form-field>

          <div class="field__error" *ngIf="errorMessage != ''">
            {{ errorMessage }}
          </div>
        </div>

        <app-button 
          variant="secondary"
          [disabled]="!form.valid"
          [isLoading]="isLoading"
          [ngClass]="{'disabled': !form.valid}" 
          (click)="verify()" 
          class="entry__button">
          Verify
        </app-button>
      </div>
    </form>

    <div class="entry__note">
      This site is protected by reCAPTCHA and the Google Privacy Policy.
    </div>
  </div>
</div>
