

.details__container
  width: 100%
  display: flex

  .details-informations__container
    flex: 0 0 60%
    padding: 16px
    .details-informations__item
      margin-top: 12px
      .details-informations__item-name
        font-size: 1.1em
        font-weight: 600

      .details-informations__item-value
        font-size: 1em
        font-weight: 400
        color: var(--primary8)
  .details-location__container
    flex: 0 0 40%


.setting__container
  width: 100%
  padding: 8px 6px
  align-items: center
  border-radius: 16px
  border: 1px solid var(--primary4)
  display: flex
  margin-top: 32px
  .setting__logo
    flex: 0 0 20%
    padding: 0px 18px
  .setting__informations
    flex: 0 0 70%
    .setting__name
      font-size: 1em
      font-weight: 600
    .setting__description
      font-size: 0.9em
      font-weight: 400
      color: var(--primary8)
  .setting__toggle
    flex: 0 0 10%