@import ../../../../styles/settings

.details__container
  width: 100%
  display: flex

  .details-informations__container
    flex: 0 0 60%
    padding: 16px
    .details-informations__item
      margin-top: 12px
      .details-informations__item-name
        font-size: 1.1em
        font-weight: 600
        color: var(--primary9)

      .details-informations__item-value
        font-size: 1em
        font-weight: 400
        color: var(--primary8)
  .details-location__container
    flex: 0 0 40%
