<!-- inner-->
<div class="page__inner">
  <div class="page__container">
    <div class="page__title h3">New Report</div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="create">
        <div class="create__row">
          <div class="create__col">
              <div class="create__card card charge_point_form">
                  <div class="create__group create__group3" 
                    *ngIf="users != null && users.length > 0">
                  
                    <div class="field">
                      <div class="field__label">User
                        <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                          <svg class="icon icon-info">
                            <use xlink:href="#icon-info"></use>
                          </svg>
                        </div>
                      </div>
                      <app-search-input class="field__wrap"
                        (optionSelected)="updateUser($event)"
                        [control]="userControl"
                        [options]="users"></app-search-input>
                    </div>

                    <div class="field">
                      <div class="field__label">Charging Station
                        <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                          <svg class="icon icon-info">
                            <use xlink:href="#icon-info"></use>
                          </svg>
                        </div>
                      </div>
                      <app-search-input class="field__wrap"
                        (optionSelected)="updateChargingStation($event)"
                        [control]="chargingStationControl"
                        [options]="chargingStations"></app-search-input>
                    </div>

                    <div class="field">
                      <div class="field__label">ChargePoint
                        <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                          <svg class="icon icon-info">
                            <use xlink:href="#icon-info"></use>
                          </svg>
                        </div>
                      </div>
                      <app-search-input class="field__wrap"
                        (optionSelected)="updateChargePoint($event)"
                        [control]="chargePointControl"
                        [options]="chargePoints"></app-search-input>
                    </div>

                    <div class="field">
                      <div class="field__label">Connector
                        <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                          <svg class="icon icon-info">
                            <use xlink:href="#icon-info"></use>
                          </svg>
                        </div>
                      </div>
                      <app-search-input class="field__wrap"
                        (optionSelected)="updateConnector($event)"
                        [control]="connectorControl"
                        [options]="connectors"></app-search-input>
                    </div>

                    <div class="field">
                      <div class="field__label">Text
                        <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                          <svg class="icon icon-info">
                            <use xlink:href="#icon-info"></use>
                          </svg>
                        </div>
                      </div>
                      <div class="field__wrap">
                        <input 
                          class="field__input" 
                          type="text" 
                          formControlName="text" 
                          placeholder="Describe your problem"required>
                      </div>
                    </div>

                    <div class="field">
                      <div class="field__label">Rating
                        <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                          <svg class="icon icon-info">
                            <use xlink:href="#icon-info"></use>
                          </svg>
                        </div>
                      </div>
                      <div class="field__wrap">
                        <input 
                          class="field__input" 
                          type="number" 
                          formControlName="rating" 
                          placeholder="Describe your problem"required>
                      </div>
                    </div>
                    
                  </div>
                </div>
            </div>
            
          </div>
        </div>
        <div class="btns_group">
          <button class="button" type="submit"> Submit </button>
        </div>
    </form>
  </div>