@import '../../../../styles/display-page'

    
.create__col
    flex: 0 0 calc(100%)
    width: calc(100%)


.cancel-btn
    margin-left: 77%


.btns_group
    padding: 24px


.add_button, .recharge_card
    margin-top: 16px


.recharge_card
    margin-top: 32px
    display: block
    width: 100%
    max-width: 520px
