.card__display {
    background: #f4f4ff;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
}

.card__display_item {
    flex: 1 0 33%;
    padding: 34px;
    max-width: 33%;
}

.item__title {
    font-size: 24px;
}

.item__text {
    font-size: 18px;
    color: #797474;
}

.card__display_principal__item{
    flex : 1 0 99%;
    text-align: center;
padding: 20px;
background: #d9d9d9;
}