.card__display
    border-radius: 12px
    display: flex
    flex-wrap: wrap


.card__display_item 
    flex: 1 0 33%
    padding: 16px 0px
    max-width: 33%


.item__title 
    font-size: 16px
    font-weight: bold


.item__text 
    font-size: 12px
    color: #797474


.card__display_principal__item
    flex : 1 0 99%
    text-align: center
    padding: 20px
    background: #d9d9d9


.expansion-panel
    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.25), inset 0px -1px 1px rgba(0, 0, 0, 0.04), inset 0px 2px 0px rgba(255, 255, 255, 0.25)


.flex
    display: flex


.ml-auto
    margin-left: auto


.head
    width: 100%
    display: flex
    .head-name
        font-size: 2em
    .head-actions
        margin-left: auto
        .button-edit
            margin-right: 12px


