
<div class="head">
  <div class="head-name">
    Charge Point : <b>{{ chargePoint.chargePointId }}</b>
  </div>
  <div class="head-actions">
    <button routerLink="/dashboard/charge-points/{{chargePoint.id}}" class="button-stroke button-small button-edit">Edit</button>
    <button (click)="deleteChargePoint(chargePoint.id)" class="button-stroke-red button-edit button-small">Delete</button>
  </div>
</div>


<div class="card__display">

  <!-- serialNumber -->
  <div class="card__display_item">
    <span class="item__title">
      Serial Number
      <div
        class="tooltip"
        title="Maximum 100 characters. No HTML or emoji allowed"
      >
        <svg class="icon icon-info">
          <use xlink:href="#icon-info"></use>
        </svg>
      </div>
    </span>
    <br />
    <span class="item__text">{{ chargePoint.serialNumber }}</span>
  </div>

  <!-- make -->
  <div class="card__display_item">
    <span class="item__title">
      Make
      <div
        class="tooltip"
        title="Maximum 100 characters. No HTML or emoji allowed"
      >
        <svg class="icon icon-info">
          <use xlink:href="#icon-info"></use>
        </svg>
      </div>
    </span>
    <br />
    <span class="item__text">{{ chargePoint.make }}</span>
  </div>

  <!-- status -->
  <div class="card__display_item">
    <span class="item__title">
      Status
      <div
        class="tooltip"
        title="Maximum 100 characters. No HTML or emoji allowed"
      >
        <svg class="icon icon-info">
          <use xlink:href="#icon-info"></use>
        </svg>
      </div>
    </span>
    <br />
    <span class="item__text">{{ chargePointStatus }}</span>
  </div>

  <!-- comment -->
  <div class="card__display_item">
    <span class="item__title">
      Comment
      <div
        class="tooltip"
        title="Maximum 100 characters. No HTML or emoji allowed"
      >
        <svg class="icon icon-info">
          <use xlink:href="#icon-info"></use>
        </svg>
      </div>
    </span>
    <br />
    <span class="item__text">{{ chargePoint.comment }}</span>
  </div>

  <!-- username -->
  <div class="card__display_item">
    <span class="item__title">
      Username
      <div
        class="tooltip"
        title="Maximum 100 characters. No HTML or emoji allowed"
      >
        <svg class="icon icon-info">
          <use xlink:href="#icon-info"></use>
        </svg>
      </div>
    </span>
    <br />
    <span class="item__text">{{ chargePoint.username }}</span>
  </div>

  <!-- password -->
  <div class="card__display_item">
    <span class="item__title">
      Password
      <div
        class="tooltip"
        title="Maximum 100 characters. No HTML or emoji allowed"
      >
        <svg class="icon icon-info">
          <use xlink:href="#icon-info"></use>
        </svg>
      </div>
    </span>
    <br />
    <span class="item__text">{{ chargePoint.password }}</span>
  </div>

  <!-- clientCertThumb -->
  <div class="card__display_item">
    <span class="item__title">
      Client Certificate Thumb
      <div
        class="tooltip"
        title="Maximum 100 characters. No HTML or emoji allowed"
      >
        <svg class="icon icon-info">
          <use xlink:href="#icon-info"></use>
        </svg>
      </div>
    </span>
    <br />
    <span class="item__text">{{ chargePoint.clientCertThumb }}</span>
  </div>


  <div class="card__display_item">
    <span class="item__title">
      Category
      <div
        class="tooltip"
        title="Maximum 100 characters. No HTML or emoji allowed"
      >
        <svg class="icon icon-info">
          <use xlink:href="#icon-info"></use>
        </svg>
      </div>
    </span>
    <br />
    <span class="item__text">{{ chargePointCategory }}</span>
  </div>
</div>
