.container-action
    margin-right: auto
    margin-top: 16px
    margin-left: auto
    justify-content: center
    text-align: center
    display: flex
    align-items: center
    flex-wrap: wrap
    height: 150px
    background: var(--secondary5)
    border-radius: 12px
    cursor: pointer
    padding: 16px
    font-weight: 400
    transition: ease-in-out all .3s
    &:hover
      background: var(--secondary2)
    .icon
      height: 64px
      width: 64px
      fill: white
      flex: 0 0 100%