
<div class="request__container">
  <div class="field">
    <div class="field__label">Connector
      <div class="tooltip" title="The connector which you want to change the availability for">
        <svg class="icon icon-info">
          <use xlink:href="#icon-info"></use>
        </svg>
      </div>
    </div>
    <div class="field__wrap">
      <div class="field__wrap">
          <input [(ngModel)]="request.id" placeholder="message Id" class="field__input" type="text" required>
        </div>
    </div>

  </div>

  
  <div class="form__actions">
    <button (click)="clearDisplayMessageRequest()" class="button button__primary button-small stop__btn">
      <ng-container *ngIf="isLoading">
        <app-svg-spinner></app-svg-spinner>
      </ng-container>
      <ng-container *ngIf="!isLoading">Clear Display Message Request</ng-container>
      
    </button>
  </div>
</div>