<div class="title-green request__title">Clear Display Message Request</div>
<div class="request__subtitle">Description</div>
<div class="request__description">
  Asks the Charging Station to clear a display message that has been configured in the Charging Station to be cleared/removed
</div>
<div class="request__container">
  <app-form-field
    class="field"
    title="Message ID"
    placeholder="Message ID"
    description="Id of the message that SHALL be removed from the Charging Station. (integer)"
    [control]="getControl('id')"
    inputType="number"
  ></app-form-field>
  
  <div class="form__actions">
    <button 
      (click)="clearDisplayMessageRequest()" 
      [disabled]="requestForm.invalid"
      class="button button__primary button-small stop__btn"
      [ngClass]="{'disabled' : requestForm.invalid}">
      <ng-container *ngIf="isLoading">
        <app-svg-spinner></app-svg-spinner>
      </ng-container>
      <ng-container *ngIf="!isLoading">Clear Display Message Request</ng-container>
      
    </button>
  </div>
</div>