<!-- page-->
<div class="page page_simple">
  <div class="entry">
    <div class="entry__wrapper"><a class="entry__logo" href="#"><img class="some-icon" src="assets/img/logo.svg"
          alt="Core"><img class="some-icon-dark" src="assets/img/logo.svg" alt="Core"></a>
      <div class="h2 entry__title">Add Phone Number</div>
      
      <form [formGroup]="form">
        <div class="entry__fieldset">
          <div class="field field_icon" [ngClass]="{'error': form.controls['phone'].invalid && (form.controls['phone'].dirty || form.controls['phone'].touched)}">
            <div class="field__wrap" >
              <input class="field__input" type="phone" formControlName="phone" placeholder="Your phone">
              <div class="field__icon">
                <svg class="icon icon-mail">
                  <use xlink:href="#icon-mail"></use>
                </svg>
              </div>
            </div>
        </div>
        
        
        
          <button (click)="sendPhoneVerification()" class="button entry__button" href="index.html#header">Send Verification Code</button>
        </div>
      </form>
      <div class="entry__note">This site is protected by reCAPTCHA and the Google Privacy Policy.</div>
    </div>
  </div>
</div>