<!-- page-->
<div class="page page_simple">
  <div class="container" >
      <a class="image__container">
        <img src="/assets/images/logos/logo.svg" alt="Core">
      </a>
      <div class="form_title">Add Phone Number</div>
      <form [formGroup]="form">
        <div class="entry__fieldset">
          <div class="field field_icon">
            <app-form-field
              class="field"
              title="Phone"
              placeholder="Your Phone"
              description="Your personal phone number, it will be verified later."
              [control]="getControl('phone')"
              icon="phone"
            ></app-form-field>
            <div class="field__error" *ngIf="errorMessage != '' ">
              {{errorMessage }}
            </div>
          </div>

          <app-button variant="secondary" 
            [disabled]="!form.valid" 
            [isLoading]="isLoading"
            [ngClass]="{'disabled':!form.valid}" 
            (click)="sendPhoneVerification()" class="entry__button">
            Send Verification Code
          </app-button>
        </div>
      </form>
      <div class="entry__note">This site is protected by reCAPTCHA and the Google Privacy Policy.</div>

  </div>
</div>