.error
  color: red

.field__wrap
    app-svg-spinner
        position: absolute
        transform: translate(0,-50%)
        top: 50%
        right: 8px


.checkbox 
  display: block
  position: relative
  cursor: pointer
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) 

.checkbox__input 
  position: absolute
  top: 0
  left: 0
  opacity: 0 
.checkbox__inner 
  display: flex 
  .checkbox__inner
    &:hover .checkbox__tick 
      border-color: #2A85FF 
.checkbox__tick 
  position: relative
  flex-shrink: 0
  width: 24px
  height: 24px
  border-radius: 6px
  border: 2px solid rgba(111, 118, 126, 0.4)
  transition: all .2s 
  &:before 
    content: ""
    position: absolute
    top: 50%
    left: 50%
    -webkit-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)
    width: 17px
    height: 12px
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='12' viewBox='0 0 17 12'%3E%3Cpath d='M16.707.293a1 1 0 0 1 0 1.414l-8.586 8.586a3 3 0 0 1-4.243 0L.293 6.707A1 1 0 0 1 .735 5.02a1 1 0 0 1 .973.273l3.586 3.586a1 1 0 0 0 1.414 0L15.293.293a1 1 0 0 1 1.414 0z' fill='%23fcfcfc' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat 50% 50% / 100% auto
    opacity: 0
    transition: opacity .2s 
.checkbox__text 
  flex-grow: 1
  padding-left: 16px
  font-size: 15px
  line-height: 1.71429
  font-weight: 600
  color: #1A1D1F 
  body.dark .checkbox__text 
    color: #FCFCFC 

.checkbox__input:checked + .checkbox__inner .checkbox__tick 
  background: var(--secondary1)
  border-color: var(--secondary1) 

.checkbox__input
  &:checked + .checkbox__inner .checkbox__tick:before 
    opacity: 1

.checkbox_reverse .checkbox__inner 
  flex-direction: row-reverse 

.checkbox_reverse .checkbox__text 
  padding: 0 16px 0 0 


field__icon
  position: absolute
  top: 50%
  right: 12px
  transform: translateY(-50%)
  display: flex
  justify-content: center
  align-items: center
  
  svg
    width: 20px
    height: 20px
    color: rgba(111, 118, 126, 0.6)

.field__wrap
  position: relative

  input.field__input
    padding-right: 40px