<div class="field__error_container" [ngClass]="{ 'error': isInvalid || isError }">
  <app-field-label
    [title]="title"
    [description]="description"
    [control]="control"
  ></app-field-label>

  <div class="field__wrap">
    <!-- Text Input -->
    <input *ngIf="inputType === 'text'"
      class="field__input"
      type="text"
      [disabled]="disabled"
      [ngClass]="{'disabled' : disabled}"
      [formControl]="control"
      placeholder="{{placeholder}}"
    >
    
    <!-- Password Input -->
    <input *ngIf="inputType === 'password'"
      class="field__input"
      type="password"
      [formControl]="control"
      placeholder="{{placeholder}}"
    >
    
    <!-- Checkbox Input -->
    <label *ngIf="inputType === 'checkbox'" class="checkbox checkbox_reverse">
      <input
        type="checkbox"
        [formControl]="control"
        class="checkbox__input">
      <span class="checkbox__inner">
        <span class="checkbox__tick"></span>
      </span>
    </label>
    
    <!-- Select Input -->
    <select *ngIf="inputType === 'select'"
      class="select"
      [formControl]="control">
      <option *ngFor="let option of options"
        [value]="option.value">
        {{option.label}}
      </option>
    </select>
    
    <select *ngIf="inputType === 'select_enum'"
      class="select"
      [formControl]="control">
      <option *ngFor="let value of getEnumValues()" [value]="value">{{value.toString() | camelCaseToSpace}}</option>
    </select>
    
    <ng-container *ngIf="inputType == 'textarea'">
      <textarea
        [formControl]="control"
        placeholder="{{placeholder}}"
        class="field__input"
      ></textarea>
    </ng-container>
    
    <ng-container *ngIf="inputType == 'toggle'">
      <app-toggle [formControl]="control"></app-toggle>
    </ng-container>
    
    <ng-container *ngIf="inputType === 'datetime'">
      <p-calendar
        [formControl]="control"
        [showIcon]="true"
        [disabled]="disabled"
        [placeholder]="placeholder"
        inputStyleClass="field__input"
        [ngClass]="{'disabled' : disabled}"
        dateFormat="dd/mm/yy">
      </p-calendar>
    </ng-container>
    
    <!-- Icon -->
    <div class="field__icon" *ngIf="icon">
      <svg class="icon {{icon}}">
        <use [attr.href]="'#icon-' + icon"></use>
      </svg>
    </div>
    
    <app-svg-spinner *ngIf="loading"></app-svg-spinner>
  </div>

  <div class="error" *ngIf="control.invalid && control.touched">
    {{ getErrorMessage() }}
  </div>
</div>