<app-dashboard-details-container [title]="'Profile Settings'" [breadcrumbs]="[
  { label: 'Dashboard', link: '/dashboard' },
  { label: 'Profile' }
]">

  <!-- Loading state -->
  <div *ngIf="!userLoaded" class="loading-container">
    <app-svg-spinner></app-svg-spinner>
  </div>

  <!-- Content area -->
  <div *ngIf="userLoaded" class="content-area">
    <!-- Tabs navigation -->
    <div class="tabs-container">
      <div class="tabs">
        <button [ngClass]="{'active': tabsEnum === 'AccountInformationsTab'}"
          (click)="changeTab('AccountInformationsTab')" class="tab-button">
          Account Informations
        </button>
        <button [ngClass]="{'active': tabsEnum === 'SecurityTab'}" (click)="changeTab('SecurityTab')"
          class="tab-button">
          Security
        </button>
        <button [ngClass]="{'active': tabsEnum === 'RechargeCardsTab'}" (click)="changeTab('RechargeCardsTab')"
          class="tab-button">
          Recharge Cards
        </button>
        <button [ngClass]="{'active': tabsEnum === 'PaymentCardsTab'}" (click)="changeTab('PaymentCardsTab')"
          class="tab-button">
          Payment Cards
        </button>
        <button [ngClass]="{'active': tabsEnum === 'NotificationSettingsTab'}"
          (click)="changeTab('NotificationSettingsTab')" class="tab-button">
          Notification Settings
        </button>
      </div>
    </div>

    <!-- Tab content -->
    <div class="tab-content">
      <!-- Account informations Tab -->
      <div *ngIf="tabsEnum === 'AccountInformationsTab'" class="information-tab">
        <app-account-informations></app-account-informations>
      </div>

      <!-- Account Security Tab -->
      <div *ngIf="tabsEnum === 'SecurityTab'" class="information-tab">
        <app-profile-security [userID]="user.id"></app-profile-security>
      </div>

      <!-- User Recharge Cards Tab -->
      <div *ngIf="tabsEnum === 'RechargeCardsTab'" class="information-tab">
        <app-recharge-cards [userID]="user.id"></app-recharge-cards>
      </div>

      <!-- Payments Card Tab -->
      <div *ngIf="tabsEnum === 'PaymentCardsTab'" class="information-tab">
        <app-debit-cards [userID]="user.id"></app-debit-cards>

      </div>

      <!-- Notification Settings Tab -->
      <div *ngIf="tabsEnum === 'NotificationSettingsTab'" class="information-tab">
        <app-notification-settings></app-notification-settings>

      </div>


    </div>
  </div>
</app-dashboard-details-container>