.field__information{
    font-size: 24px;
    color: #959595;
}

.field__edit{
    position: relative;
    display: inline-block;
    margin-left: 4px;
    cursor: pointer;
}

.field__error{
    margin-left: 9px;
    color: red;
    font-size: 14px;
    font-weight: bold;
    margin-top: 8px;
}
