<div class="page__inner">
  <div class="page__container">
    <div class="page__title h3">Settings</div>
    <div class="settings">
      <div class="settings__menu">
        <button (click)="changeTab('AccountInformationsTab')" class="settings__link"
          [ngClass]="{'active' : tabsEnum == 'AccountInformationsTab'}">Account Informations</button>
        <button (click)="changeTab('SecurityTab')" class="settings__link"
          [ngClass]="{'active' : tabsEnum == 'SecurityTab'}">Security</button>
        <button (click)="changeTab('RechargeCardsTab')" class="settings__link"
          [ngClass]="{'active' : tabsEnum == 'RechargeCardsTab'}">Recharge Cards</button>
        <button (click)="changeTab('PaymentCardsTab')" class="settings__link"
          [ngClass]="{'active' : tabsEnum == 'PaymentCardsTab'}">Payment Cards</button>
          <button (click)="changeTab('NotificationSettingsTab')" class="settings__link"
          [ngClass]="{'active' : tabsEnum == 'NotificationSettingsTab'}">Notification Settings</button>
      </div>
      <div class="settings__wrapper">
        <select class="select">
          <option (click)="changeTab('AccountInformationsTab')">Account Informations</option>
          <option (click)="changeTab('SecurityTab')">Security</option>
          <option (click)="changeTab('RechargeCardsTab')">Recharge Cards</option>
          <option (click)="changeTab('PaymentCardsTab')">Payment Cards</option>
        </select>
        <div class="settings__list">
          <div class="settings__item" *ngIf="tabsEnum == 'AccountInformationsTab'">
            <div class="settings__anchor" id="basics" data-value="Basics"></div>
            <div class="title-green settings__title">Profile Informations</div>
            <div class="settings__profile">
              
              <div class="settings__avatar">
                
                <img src="assets/img/content/avatar.jpg" alt="Avatar">
                <button class="settings__remove">
                  <svg class="icon icon-close">
                    <use xlink:href="#icon-close"></use>
                  </svg>
                </button>
              </div>
              <div class="settings__file">
                
                <!-- <input type="file">
                <button class="button settings__button" type="button">
                  <svg class="icon icon-add">
                    <use xlink:href="#icon-add"></use>
                  </svg><span>Upload new picture</span>
                </button> -->
              </div>
              <div class="filters">
                <button class="button-square-stroke button-small filters__head">
                  <svg class="icon icon-filter">
                    <use xlink:href="#icon-filter"></use>
                  </svg>
                </button>
                <div class="filters__body">
                  <div class="filters__top">
                    <div class="title-red filters__title">Upload New Picture</div>
                    <button class="filters__close">
                      <svg class="icon icon-close">
                        <use xlink:href="#icon-close"></use>
                      </svg>
                    </button>
                  </div>
                  <div class="card">
                    
                    <div class="file">
                      
                      <div class="file__wrap">
                        <input #file class="file__input" [(ngModel)]="profilePicture" type="file" />
                        <div class="file__box">
                          <svg class="icon icon-upload">
                            <use xlink:href="#icon-upload"></use>
                          </svg>Click or drop image
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="filters__btns">
                    <button class="button-stroke filters__button">Reset</button>
                    <button (click)="uploadPicture(file.files)" class="button filters__button">Apply</button>
                  </div>
                </div>
                <div class="filters__overlay"></div>
              </div>
              <button class="button-stroke settings__button">Remove</button>
            </div>
            <div class="settings__fieldset" *ngIf="user.id != null && user.id != 0">
              <app-display-cell 
                inpType="text" 
                title="firstName" 
                [updateObservable]="updateUserObservable.bind(this)"
                [val]="user.firstName"
                [object]="user"></app-display-cell>

              <app-display-cell 
                inpType="text" 
                title="lastName" 
                [updateObservable]="updateUserObservable.bind(this)"
                [val]="user.lastName"
                [object]="user"></app-display-cell>
                
              
              <div class="field">
                <div class="field__label">Email
                  <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                    <svg class="icon icon-info">
                      <use xlink:href="#icon-info"></use>
                    </svg>
                  </div>
                  <div class="field__edit" (click)="editingEmail = true">
                    <svg class="icon icon-edit">
                      <use xlink:href="#icon-edit"></use>
                    </svg>
                  </div>
                </div>
                <div class="field__information" *ngIf="!editingEmail">
                  {{user.email | titlecase}}
                </div>
                <div class="field__wrap" *ngIf="editingEmail">
                  <input class="field__input" type="email" name="email">
                </div>
              </div>
              <div class="field">
                <div class="field__label">Phone
                  <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                    <svg class="icon icon-info">
                      <use xlink:href="#icon-info"></use>
                    </svg>
                  </div>
                  <div class="field__edit" (click)="editingPhone = true">
                    <svg class="icon icon-edit">
                      <use xlink:href="#icon-edit"></use>
                    </svg>
                  </div>
                </div>
                <div class="field__information" *ngIf="!editingPhone">
                  {{user.phone | titlecase}}
                </div>
                <div class="field__wrap" *ngIf="editingPhone">
                  <input class="field__input" type="text" name="location">
                </div>
              </div>
            </div>
          </div>
          <div class="settings__item" *ngIf="tabsEnum == 'SecurityTab'">
            <app-profile-security [userID]="user.id"></app-profile-security>
          </div>
          <div class="settings__item" *ngIf="tabsEnum == 'RechargeCardsTab'">
            <app-recharge-cards [userID]="user.id"></app-recharge-cards>
          </div>
          <div class="settings__item" *ngIf="tabsEnum == 'PaymentCardsTab'">
            <app-debit-cards [userID]="user.id"></app-debit-cards>
          </div>
          <div class="settings__item" *ngIf="tabsEnum == 'NotificationSettingsTab'">
            <app-notification-settings></app-notification-settings>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>