.list__monitors
  display: flex
  flex-wrap: wrap
  margin-top: 12px
  .monitor__ID
    padding: 4px 8px
    background: var(--secondary5)
    margin-right: 6px
    border-radius: 6px
    transition: ease-in-out all .2s
    cursor: pointer
    &:hover
      background: red

.button__add
  margin-top: 12px