<!-- page-->
<div class="page page_simple">
  <div class="container">
      <a class="image__container">
        <img src="/assets/images/logos/logo.svg" alt="Core">
      </a>
      <div class="h2 entry__title">Reset Password</div>
      <div class="entry__text">Enter Your Email Address</div>
      <form [formGroup]="form">
        <div class="entry__fieldset">
          <div class="field field_icon">
            <div class="field__wrap">
              <input class="field__input" type="text" name="email" formControlName="email" placeholder="Your email">
              <div class="field__icon">
                <svg class="icon icon-mail">
                  <use xlink:href="#icon-mail"></use>
                </svg>
              </div>
            </div>
            <div class="field__error" *ngIf="errorMessage != '' ">
              {{errorMessage }}
            </div>
          </div>
          <button [disabled]="!form.valid" [ngClass]="{'disabled':!form.valid}" (click)="resetPasswordRequest()" class="button entry__button">
            <ng-container *ngIf="!isLoading">Send Reset Link</ng-container>
            <ng-container *ngIf="isLoading"> <app-svg-spinner></app-svg-spinner> </ng-container>
          </button>
        </div>
      </form>
  </div>
</div>