<!-- page-->
<div class="page page_simple">
  <div class="container">
      <a class="image__container">
        <img src="/assets/images/logos/logo.svg" alt="Core">
      </a>
      <div class="h2 entry__title">Reset Password</div>
      <form [formGroup]="form">
        <div class="entry__fieldset">
          <div class="field field_icon">
            <app-form-field
              class="field"
              title="Email"
              placeholder="Your email"
              description="We'll send a verification link to this address"
              [control]="getControl('email')"
              icon="icon-mail"
            ></app-form-field>
            <div class="field__error" *ngIf="errorMessage != '' ">
              {{errorMessage }}
            </div>
          </div>
          <button [disabled]="!form.valid" [ngClass]="{'disabled':!form.valid}" (click)="resetPasswordRequest()" class="button entry__button">
            <ng-container *ngIf="!isLoading">Send Reset Link</ng-container>
            <ng-container *ngIf="isLoading"> <app-svg-spinner></app-svg-spinner> </ng-container>
          </button>
        </div>
      </form>
  </div>
</div>