<!-- page-->
<div class="page page_simple">
  <app-request-password-mail-sent *ngIf="requestMailSent"></app-request-password-mail-sent>
  <div class="container" *ngIf="!requestMailSent">
      <a class="image__container">
        <img src="/assets/images/logos/logo.svg" alt="Core">
      </a>
      <div class="form_title">Reset Password</div>
      <form [formGroup]="form">
        <div class="entry__fieldset">
          <div class="field field_icon">
            <app-form-field
              class="field"
              title="Email"
              placeholder="Your email"
              description="We'll send a link to reset your password to your email if it exists."
              [control]="getControl('email')"
              icon="mail"
            ></app-form-field>
            <div class="field__error" *ngIf="errorMessage != '' ">
              {{errorMessage }}
            </div>
          </div>

          <app-button variant="secondary" 
            [disabled]="!form.valid" 
            [isLoading]="isLoading"
            [ngClass]="{'disabled':!form.valid}" 
            (click)="resetPasswordRequest()" class="entry__button">
            Send Reset Link
          </app-button>
        </div>
      </form>

      <div class="entry__top">
        <div class="entry__text">or sign in with your Google account</div>
        <div class="entry__btns">
          <button type="button" (click)="googleLogin()" class="button-google entry__button"><img
              src="assets/img/content/google.svg" alt="Google">Google</button>
        </div>
      </div>
  </div>
</div>