.reason
  padding: 2px 8px
  border-radius: 4px
  
.stopped-reason__deauthorized 
  color: #FF5733
  background-color: rgba(255, 87, 51, 0.2)
  border-color: #FF5733

.stopped-reason__emergency-stop 
  color: #C70039
  background-color: rgba(199, 0, 57, 0.2)
  border-color: #C70039

.stopped-reason__energy-limit-reached 
  color: #900C3F
  background-color: rgba(144, 12, 63, 0.2)
  border-color: #900C3F

.stopped-reason__ev-disconnected 
  color: #581845
  background-color: rgba(88, 24, 69, 0.2)
  border-color: #581845

.stopped-reason__ground-fault 
  color: #1F618D
  background-color: rgba(31, 97, 141, 0.2)
  border-color: #1F618D

.stopped-reason__immediate-reset 
  color: #48C9B0
  background-color: rgba(72, 201, 176, 0.2)
  border-color: #48C9B0

.stopped-reason__local 
  color: #F39C12
  background-color: rgba(243, 156, 18, 0.2)
  border-color: #F39C12

.stopped-reason__local-out-of-credit 
  color: #F1C40F
  background-color: rgba(241, 196, 15, 0.2)
  border-color: #F1C40F

.stopped-reason__master-pass 
  color: #2ECC71
  background-color: rgba(46, 204, 113, 0.2)
  border-color: #2ECC71

.stopped-reason__other 
  color: #8E44AD
  background-color: rgba(142, 68, 173, 0.2)
  border-color: #8E44AD

.stopped-reason__overcurrent-fault 
  color: #E74C3C
  background-color: rgba(231, 76, 60, 0.2)
  border-color: #E74C3C

.stopped-reason__power-loss 
  color: #34495E
  background-color: rgba(52, 73, 94, 0.2)
  border-color: #34495E

.stopped-reason__power-quality 
  color: #16A085
  background-color: rgba(22, 160, 133, 0.2)
  border-color: #16A085

.stopped-reason__reboot 
  color: #2980B9
  background-color: rgba(41, 128, 185, 0.2)
  border-color: #2980B9

.stopped-reason__remote 
  color: #D35400
  background-color: rgba(211, 84, 0, 0.2)
  border-color: #D35400

.stopped-reason__soc-limit-reached 
  color: #1ABC9C
  background-color: rgba(26, 188, 156, 0.2)
  border-color: #1ABC9C

.stopped-reason__stopped-by-ev 
  color: #9B59B6
  background-color: rgba(155, 89, 182, 0.2)
  border-color: #9B59B6

.stopped-reason__time-limit-reached 
  color: #E67E22
  background-color: rgba(230, 126, 34, 0.2)
  border-color: #E67E22

.stopped-reason__timeout 
  color: #F39C12
  background-color: rgba(243, 156, 18, 0.2)
  border-color: #F39C12

