.customer .card__head {
    margin-bottom: 44px;
}

.customer__wrapper{
    overflow-x: scroll;
}

@media only screen and (max-width: 1023px) {
    .customer .card__head {
        margin-bottom: 32px;
    }
}

@media only screen and (max-width: 767px) {
    .customer .card__head {
        flex-wrap: wrap;
        margin-bottom: 24px;
    }
}

.col_header{
    cursor: pointer;
}

.customer .card__head .form {
    margin-right: auto;
}

@media only screen and (max-width: 1023px) {
    .customer .card__head .form {
        width: 250px;
    }
}

@media only screen and (max-width: 767px) {
    .customer .card__head .form {
        width: 100%;
        margin: 0 0 16px;
    }
}

.customer .card__title {
    margin-right: 24px;
}

@media only screen and (max-width: 767px) {
    .customer .card__title {
        margin: 0 0 16px;
    }
}

.customer .filters {
    margin-left: 8px;
}

@media only screen and (max-width: 1023px) {
    .customer .filters {
        display: none;
    }
}

.customer__details {
    display: none;
}

.customer__wrapper {
    margin: 0 -12px;
}

@media only screen and (max-width: 1023px) {
    .customer__wrapper {
        margin: 0;
    }
}

.customer__table {
    display: table;
    width: 100%;
}

@media only screen and (max-width: 1023px) {
    .customer__table {
        display: block;
    }
}


.customer__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color .2s;
}

.customer__item:hover {
    color: #2A85FF;
}

.customer__item .customer__email {
    display: none;
}

@media only screen and (max-width: 1023px) {
    .customer__item .customer__email {
        display: block;
        font-size: 13px;
        line-height: 1;
        color: #9A9FA5;
    }
}

.customer__avatar {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    margin-right: 12px;
    border-radius: 50%;
    overflow: hidden;
}

.customer__avatar img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.customer__user {
    max-width: 160px;
    margin-bottom: 4px;
}

.customer__login {
    font-size: 13px;
    font-weight: 600;
    line-height: 1.23077;
    color: #6F767E;
}

@media only screen and (max-width: 1023px) {
    .customer__login {
        display: none;
    }
}

body.dark .customer__login {
    color: #9A9FA5;
}

.customer__email {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71429;
    color: #6F767E;
}

@media only screen and (max-width: 1023px) {
    .customer__col>.customer__email {
        display: none;
    }
}

.customer__lifetime {
    display: inline-flex;
    align-items: center;
}

@media only screen and (max-width: 767px) {
    .customer__lifetime {
        flex-direction: column;
        align-items: flex-end;
    }
}

.customer__price {
    display: inline-block;
    padding: 0 8px;
    border-radius: 6px;
    background: #EFEFEF;
    transition: backround .2s;
}

body.dark .customer__price {
    background: #272B30;
}

.customer .balance {
    margin-left: 8px;
}

@media only screen and (max-width: 767px) {
    .customer .balance {
        margin: 4px 0 0;
    }
}

.customer__foot {
    margin-top: 32px;
    text-align: center;
}

@media only screen and (max-width: 1023px) {
    .customer__foot {
        margin-top: 24px;
    }
}

.customer__foot .customer__button .loader {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    margin: 0 18px 0 8px;
}

@media only screen and (max-width: 1023px) {
    .customer.active .card__head {
        display: none;
    }
}

.customer.active .customer__inner {
    display: flex;
}

.customer.active .customer__container {
    flex-shrink: 0;
    width: 360px;
}

@media only screen and (max-width: 1419px) {
    .customer.active .customer__container {
        width: 350px;
    }
}

@media only screen and (max-width: 1259px) {
    .customer.active .customer__container {
        width: 320px;
    }
}

@media only screen and (max-width: 1023px) {
    .customer.active .customer__container {
        display: none;
    }
}

.customer.active .customer__row:hover {
    background: none;
}

body.dark .customer.active .customer__row:hover {
    background: none;
}

.customer.active .customer__col:not(:first-child):not(:nth-child(2)) {
    display: none;
}

.customer.active .customer__col:nth-child(2):after {
    right: 12px;
}

.customer.active .customer__details {
    display: block;
}


.customer__row {
    display: table-row;
}

@media only screen and (max-width: 1023px) {
    .customer__row:first-child {
        display: none;
    }
}

.customer__row:first-child .customer__col {
    padding: 0 12px 16px;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.23077;
    color: #6F767E;
}

.customer__row:not(:first-child) {
    transition: all .2s;
}

@media only screen and (max-width: 1023px) {
    .customer__row:not(:first-child) {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid #EFEFEF;
    }
}

body.dark .customer__row:not(:first-child) {
    border-color: #272B30;
}

@media only screen and (min-width: 1024px) {
    .customer__row:not(:first-child):hover {
        background: #F4F4F4;
    }

    body.dark .customer__row:not(:first-child):hover {
        background: #272B30;
    }

    .customer__row:not(:first-child):hover .price {
        background: #FCFCFC;
    }

    body.dark .customer__row:not(:first-child):hover .price {
        background: #111315;
    }
}

.customer__row:last-child .customer__col:after {
    display: none;
}

.customer__row.active {
    background: #EFEFEF !important;
}

body.dark .customer__row.active {
    background: #272B30 !important;
    box-shadow: inset 0px -2px 1px rgba(0, 0, 0, 0.05), inset 0px 1px 1px rgba(255, 255, 255, 0.08);
}

.customer__row.active .customer__col:first-child {
    border-radius: 12px 0 0 12px;
}

.customer__row.active .customer__col:nth-child(2) {
    padding-right: 40px;
    border-radius: 0 12px 12px 0;
}

.customer__row.active .customer__col:nth-child(2):before {
    content: "";
    position: absolute;
    top: 50%;
    right: 12px;
    width: 24px;
    height: 24px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath d='M8.293 17.293a1 1 0 0 0 1.414 1.414l-1.414-1.414zM15 12l.707.707a1 1 0 0 0 0-1.414L15 12zM9.707 5.293a1 1 0 1 0-1.414 1.414l1.414-1.414zm0 13.414l6-6-1.414-1.414-6 6 1.414 1.414zm6-7.414l-6-6-1.414 1.414 6 6 1.414-1.414z' fill='%236f767e'/%3E%3C/svg%3E") no-repeat 50% 50%/100% auto;
}

.customer__col {
    position: relative;
    display: table-cell;
    vertical-align: top;
    padding: 16px 12px;
    color: #1A1D1F;
}

@media only screen and (max-width: 1023px) {
    .customer__col {
        display: block;
        padding: 0;
    }
}

body.dark .customer__col {
    color: #FCFCFC;
}

.customer__col:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    background: #EFEFEF;
}

@media only screen and (max-width: 1023px) {
    .customer__col:after {
        display: none;
    }
}

body.dark .customer__col:after {
    background: #272B30;
}

.customer__col:first-child {
    width: 56px;
    border-radius: 8px 0 0 8px;
}

@media only screen and (max-width: 1023px) {
    .customer__col:first-child {
        display: none;
    }
}

.customer__col:first-child:after {
    left: 12px;
}

@media only screen and (max-width: 1023px) {
    .customer__col:nth-child(5) {
        margin-left: auto;
        padding-left: 16px;
    }
}

@media only screen and (max-width: 1023px) {

    .customer__col:nth-child(3),
    .customer__col:nth-child(4),
    .customer__col:nth-child(6),
    .customer__col:nth-child(7) {
        display: none;
    }
}

.customer__col:last-child {
    border-radius: 0 8px 8px 0;
}

.customer__col:last-child:after {
    right: 12px;
}

.pagination__btn{
    padding: 0px;
    border-radius: 0px;
}


.display__columns_options{
    position: absolute;
    background-color: white;
    z-index: 100;
    padding: 24px;
    border-radius: 8px;
}


.sidebar__add{
    position:initial;
    height: 34px;
    width: 34px;
    margin-left: 8px;
}

.sidebar__add svg{
    height: 16px;
    width: 16px;
}

.flex{
    display: flex;
    margin-top: 16px;
}