<div class="page__title h3">{{name | titlecase}}</div>
<div class="customer card">
  <div class="card__head">
    <div class="title-purple card__title">{{names | titlecase}}</div>
    <form class="form">
      <input class="form__input" type="text" [(ngModel)]="searchValue" name="search" placeholder="{{searchByPlaceHolder}}" required="required" autocomplete="off" (keyup)="search()" />

      <button class="form__button">
        <svg class="icon icon-search">
          <use xlink:href="#icon-search"></use>
        </svg>
      </button>
    </form>
    <div class="card__nav" *ngIf="createLink != ''">
      <button routerLink="{{createLink}}" class="card__link">New</button>
    </div>
    <div class="filters" [ngClass]="{'active': isActive}">
      <button class="button-square-stroke button-small filters__head" (click)="toggleActive($event)">
        <svg class="icon icon-filter">
          <use xlink:href="#icon-filter"></use>
        </svg>
      </button>
      <div class="filters__body">
        <div class="filters__body">
          <div class="filters__top">
            <div class="title-red filters__title">Filtering Charging Stations</div>
            <button class="filters__close" (click)="removeActive()">
              <svg class="icon icon-close">
                <use xlink:href="#icon-close"></use>
              </svg>
            </button>
          </div>
          <ng-content select="[filter__body]"></ng-content>
          
          
        </div>
      </div>
      <div class="filters__overlay" (click)="removeActive()"></div>
    </div>
    <div>
      <button (click)="displayMenu = !displayMenu" class="button-square-stroke button-small ">
        <svg class="icon icon-moon">
          <use xlink:href="#icon-moon"></use>
        </svg>
      </button>
      <div class="display__columns" *ngIf="displayMenu">
        <div class="display__columns_options">
          <div class="filters__label">Showing</div>
          <div class="filters__list">
            <label class="checkbox checkbox_reverse" *ngFor="let field of fields">
              <input value="{{fieldShown[field]}}" [(ngModel)]="fieldShown[field]" class="checkbox__input" type="checkbox">
              <span class="checkbox__inner">
                <span class="checkbox__tick"></span>
                <span class="checkbox__text">{{field | camelCaseToSpace}}</span>
              </span> 
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="customer__inner">
    <div class="customer__container">
      <div class="customer__wrapper">
        <div class="customer__table">
          <div class="customer__row">
            <ng-container *ngFor="let field of fields">
              <div *ngIf="fieldShown[field]" (click)="sort(field)" class="customer__col col_header">{{field | camelCaseToSpace}}</div>
            </ng-container>
            <div class="customer__col">Options</div>
          </div>
          <div class="customer__row" *ngFor="let item of data">
            <ng-container *ngFor="let field of fields">
              <div *ngIf="fieldShown[field]" class="customer__col">{{item[field.charAt(0).toLowerCase() + field.slice(1)] }}</div>
              
            </ng-container>
            <div class="customer__col options_col">
              <div class="flex">
                  <button (click)="delete(item.id)" class="sidebar__add"> 
                      <svg class="icon icon-trash">
                          <use xlink:href="#icon-trash"></use>
                      </svg>   
                  </button>
                  <button (click)="update(item.id)" class="sidebar__add"> 
                      <svg class="icon icon-edit">
                          <use xlink:href="#icon-edit"></use>
                      </svg> 
                  </button>
                  <button (click)="display(item.id)" class="sidebar__add"> 
                      <svg class="icon icon-info">
                          <use xlink:href="#icon-info"></use>
                      </svg>  
                  </button>
                  <!-- Custom button -->
                  <ng-container *ngIf="customButtonTemplate">
                      <ng-container *ngTemplateOutlet="customButtonTemplate.template; context: { $implicit: item }"></ng-container>
                  </ng-container>
              </div>
          </div>
          
            <!-- Additional Columns -->
          </div>

        </div>
      </div>
      <div class="customer__foot">
        <button class="button-stroke button-small customer__button pagination__btn " (click)="firstP()">
          <svg class="icon icon-arrow-left">
            <use xlink:href="#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="button-stroke button-small customer__button pagination__btn " (click)="previousPage()">
          <svg class="icon icon-arrow-next" style="transform: rotate(180deg);">
            <use xlink:href="#icon-arrow-next"></use>
          </svg>
        </button>
        <button class="button-stroke button-small customer__button pagination__btn" (click)="nextPage()">
          <svg class="icon icon-arrow-next">
            <use xlink:href="#icon-arrow-next"></use>
          </svg>
        </button>
        <button class="button-stroke button-small customer__button pagination__btn " (click)="lastP()">
          <svg class="icon icon-arrow-right">
            <use xlink:href="#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>