<div class="page__title h3">{{name | titlecase}}</div>
<div class="row card">
  <app-progress-bar *ngIf="isLoading"></app-progress-bar>
  <div class="card__head">
    <div class="title-purple card__title">{{names | titlecase}}</div>
    <form class="form">
      <input class="form__input" type="text" [(ngModel)]="searchValue" name="search" placeholder="{{searchByPlaceHolder}}" required="required" autocomplete="off" (keyup.enter)="search()" />

      <button class="form__button" (click)="search()">
        <svg class="icon icon-search">
          <use xlink:href="#icon-search"></use>
        </svg>
      </button>
    </form>
    <div class="card__nav" *ngIf="createLink != ''">
      <button routerLink="{{createLink}}" class="card__link">New</button>
    </div>
    <div class="filters" [ngClass]="{'active': isActive}">
      <button class="button-square-stroke button-small filters__head" (click)="toggleActive($event)">
        <svg class="icon icon-filter">
          <use xlink:href="#icon-filter"></use>
        </svg>
      </button>
      <div class="filters__body">
          <div class="filters__top">
            <div class="title-red filters__title">Filtering {{names}}</div>
            <button class="filters__close" (click)="removeActive()">
              <svg class="icon icon-close">
                <use xlink:href="#icon-close"></use>
              </svg>
            </button>
          </div>
          <ng-content select="[filter__body]"></ng-content>
          <div class="filters__btns">
            <button class="button-stroke filters__button" (click)="resetFilters()">Reset</button>
            <button class="button filters__button" (click)="applyFilters()">Apply</button>
          </div>
        </div>
      <div class="filters__overlay" (click)="removeActive()"></div>
    </div>
    <div>
      <button (click)="toggleMenu($event)" class="button-square-stroke button-small ">
        <svg class="icon icon-moon">
          <use xlink:href="#icon-moon"></use>
        </svg>
      </button>
      <div class="display__columns" *ngIf="displayMenu">
        <div class="display__columns_options">
          <div class="filters__label">Showing</div>
          <div class="filters__list">
            <label class="checkbox checkbox_reverse" *ngFor="let field of fields">
              <input value="{{fieldShown[field]}}" [(ngModel)]="fieldShown[field]" class="checkbox__input" type="checkbox">
              <span class="checkbox__inner">
                <span class="checkbox__tick"></span>
                <span class="checkbox__text">{{field | camelCaseToSpace}}</span>
              </span> 
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row__inner">

    <ng-container *ngIf="data == null || data.length == 0">
      <app-empty-card></app-empty-card>
    </ng-container>
    <div class="row__container" *ngIf="!isLoading && data != null && data.length > 0">
      <div class="row__wrapper">
        <div class="row__table">
          <div class="row__row">
            <ng-container *ngFor="let field of fields">
              <div *ngIf="fieldShown[field]" (click)="sort(field)" class="row__col col_header">{{field | camelCaseToSpace}} 
                <svg *ngIf="sortedColumn == field && sortedDirection == 'ASC'" class="icon icon-arrow-down">
                  <use xlink:href="#icon-arrow-down"></use>
                </svg> 
                <svg *ngIf="sortedColumn == field && sortedDirection == 'DESC'" class="icon icon-arrow-down" style="transform: rotate(180deg);">
                  <use xlink:href="#icon-arrow-down"></use>
                </svg>  
              </div>
            </ng-container>
            <div class="row__col">Options</div>
          </div>
            <div class="row__row" *ngFor="let item of data">
              <ng-container *ngFor="let field of fields">
                <!-- <div *ngIf="fieldShown[field] && fieldShown[field] instanceof Date" el class="row__col">this date</div> -->
                <div *ngIf="fieldShown[field]" class="row__col">{{formatValue(item, field)}}</div>
              </ng-container>
              <div class="row__col options_col">
                <div class="actions__container">
                    <button *ngIf="deletable" (click)="delete(item.id)" class="table__action delete-btn"> 
                        <svg class="icon icon-trash">
                            <use xlink:href="#icon-trash"></use>
                        </svg>   
                    </button>
                    <button (click)="display(item.id)" class="table__action display-btn"> 
                        <svg class="icon icon-info">
                            <use xlink:href="#icon-info"></use>
                        </svg>  
                    </button>
                    <ng-container *ngIf="customButtonTemplate">
                        <ng-container *ngTemplateOutlet="customButtonTemplate.template; context: { $implicit: item }"></ng-container>
                    </ng-container>
                </div>
            </div>
            </div>

         
          
          
          

        </div>
      </div>
      <div class="row__foot">
        
        <button 
          class="button-stroke pagination__btn" 
          [ngClass]="{'inactive' : currentPage == 1}"
          [disabled]="currentPage == 1"
          (click)="previousPage()"
          >
          <svg class="icon icon-arrow-next" style="transform: rotate(180deg);">
            <use xlink:href="#icon-arrow-next"></use>
          </svg>
        </button>

        <div class="pagination__pages">
          <div
            *ngFor="let page of paginationPages"
            class="pagination__link"
            [ngClass]="{'active' : currentPage == page}"
            (click)="goToPage(page)"
          >
            {{ page }}
          </div>
        </div>

        <button  
          class="button-stroke pagination__btn" 
          (click)="nextPage()" 
          [disabled]="currentPage == pagination.totalPages"
          [ngClass]="{'inactive' : currentPage == pagination.totalPages}"
          >
          <svg class="icon icon-arrow-next">
            <use xlink:href="#icon-arrow-next"></use>
          </svg>
        </button>
        
      </div>
    </div>
  </div>
</div>