<!-- charging-station.component.html -->
<div>
  <input [(ngModel)]="name" placeholder="Name" />
  <input [(ngModel)]="address" placeholder="Address" />
  <input [(ngModel)]="chargingStationID" placeholder="Station ID" />
  <button (click)="addOrUpdateStation()">
    {{ editIndex === -1 ? 'Add Station' : 'Update Station' }}
  </button>
</div>

<div *ngIf="stationService.getStations().length">
  <h2>Charging Stations</h2>
  <div *ngFor="let station of stationService.getStations(); let i = index">
    <p>
      Name: {{ station.name }}, Address: {{ station.address }}, Station ID: {{ station.chargingStationID }}
      <button (click)="editStation(i)">Edit</button>
      <button (click)="deleteStation(i)">Delete</button>
    </p>
  </div>
</div>
