<!-- page-->
<div class="container">
  <div class="image__container">
    <img src="assets/images/logos/logo.svg" alt="Core">
  </div>


  <ng-container *ngIf="emailVerifiedSuccess">
    <div class="h2 entry__title">Email Verified !</div>
    <div class="entry__top">
      <div class="entry__btns">
        <button class="button-stroke entry__button" [routerLink]="['/auth/phone-number']" [queryParams]="{email : email}">Verify phone number</button>
        <button class="button-stroke entry__button" routerLink="/my-dashboard">Go to Dashboard</button>
      </div>
    </div>
  </ng-container>


  <ng-container *ngIf="!emailVerifiedSuccess">
    <div class="h2 entry__title">Error :( </div>
    <div class="entry__top">
      <div class="entry__text">{{errorMessage}}</div>
    </div>
  </ng-container>
</div>
