<div class="title-green request__title">Reset Request</div>
<div class="request__subtitle">Description</div>
<div class="request__description">
  Request the charging station to reset itself.
</div>
<div class="request__container">
  

  <div class="field">
    <div class="field">
      <div class="field__label">Evse
        <div class="tooltip" title="The EVSE Identifier">
          <svg class="icon icon-info">
            <use xlink:href="#icon-info"></use>
          </svg>
        </div>
      </div>
      <div class="field__wrap">
        <div class="field__wrap">
          <select  class="select select_small" 
          [(ngModel)]="request.evseId" >
            <option  value=""> None </option>
            <option *ngFor="let evseID of evseIDs" [value]="evseID"> {{ evseID }} </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  
    <div class="field">
      <div class="field">
        <div class="field__label">Reset Type
          <div class="tooltip" title="Reset Type">
            <svg class="icon icon-info">
              <use xlink:href="#icon-info"></use>
            </svg>
          </div>
        </div>
        <div class="field__wrap">
          <div class="field__wrap">
            <select [(ngModel)]="request.type"  class="select select_small" >
              <option value="Immediate"> Immediate </option>
              <option value="OnIdle"> OnIdle </option>
            </select>
          </div>
        </div>
    
      </div>
  
    </div>

  
  <div class="form__actions">
    <button (click)="resetRequest()" class="button button__primary button-small stop__btn">
      <ng-container *ngIf="isLoading">
        <app-svg-spinner></app-svg-spinner>
      </ng-container>
      <ng-container *ngIf="!isLoading">Reset Request</ng-container>
      
    </button>
  </div>
</div>