
.upload-input
    position: absolute
    inset: 0
    opacity: 0
    cursor: pointer
    width: 100%
    z-index: 2

.file__wrap
    transition: ease-in-out all .4s
    background: white
    width: 100%
    &:hover
        background: yellow

.files__box
    display: flex
    height: 100%
    align-items: center
    justify-content: center
    width: 100%
    position: absolute
        
    .image__box
        flex: 0 0 100%
        margin-right: 12px
        margin-left: 12px
        position: relative
        overflow: hidden
        height: 98%
        margin-top: 1%
        .image__clear
            position: absolute
            top: 8px
            left: 8px
            height: 32px
            width: 32px
            display: flex
            align-items: center
            justify-content: center
            text-align: center
            padding: 8px
            border-radius: 50%
            background: var(--primary1)
            color: var(--primary9)
            transition: ease-in-out all .2s
            z-index: 5
            cursor: pointer
            &:hover
                background: var(--primary9)
                color: var(--primary1)
        img
            position: absolute
            top: 0
            left: 0
            object-fit: contain
            width: 100%
            height: 100%
            border-radius: 6px

