<app-dashboard-form-container title="Add Partner Logo" [items]="[
    { label: 'Dashboard', link: '/dashboard' },
    { label: 'Partners', link: '/dashboard/partners' },
    { label: 'Create' }
  ]">
  <div form>
    <div class="create__card card">
      <div class="file">
        <div class="file__wrap">
          <input class="upload-input" type="file" (change)="handleUpload($event)" />
          <div class="file__box" *ngIf="!displayedLogo">
            <svg class="icon icon-upload">
              <use xlink:href="#icon-upload"></use>
            </svg>Click or drop image
          </div>
          <div class="files__box">
            <div *ngIf="displayedLogo != null" class="image__box">
              <div class="image__clear" (click)="clearImage()">X</div>
              <img [src]="displayedLogo" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form__actions">
        <app-button 
          [outlined]="true"
          [variant]="'secondary'"
          (btnClick)="skip()">
        Skip</app-button>
        <app-button class="ml-auto" [variant]="'secondary'"
        (btnClick)="changeLogo()"
          type="submit">
          Submit
        </app-button>
      </div>
  </div>

</app-dashboard-form-container>