
.option-search-input{
    min-height: auto;
    padding: 8px 16px;
    background: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71429;
    color: #6F767E;
}

.list-search-input{
    opacity: 0;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    background: white;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 55px;
    border: 1px solid #f7f7f7;
    border-radius: 14px;
}

.show-opacity{
    opacity: 1 !important;
    z-index: 9 !important;
}

.select-option{
    cursor: pointer;
}