<div class="field__error_container" [ngClass]="{ 'error': isInvalid || isError }">

  <app-field-label
    [title]="title"
    [control]="control"
    [description]="description"
    ></app-field-label>
    
  <div class="field__wrap">
    <input
      #inputElem
      [(ngModel)]="searchString"
      (ngModelChange)="filterOptions()"
      (focus)="showSelect()"
      (focusout)="hideSelect()"
      class="field__input"
      [disabled]="disabled"
      [ngClass]="{'disabled':disabled}"
      type="text" placeholder="{{placeholder}}" required>
 
    <input
      [formControl]="control"
      (focus)="showSelect()"
      (focusout)="hideSelect()"
      class="field__input"
      type="text"
      [hidden]="true"
      required>
 
    <ul class="list-search-input" [ngClass]="{'show-opacity': showList}">
      <li *ngFor="let option of filteredOptions" (click)="selectOption(option, inputElem)"
        class="option-search-input select-option">
        {{ option.name }}
      </li>
      <li *ngIf="filteredOptions.length === 0" class="option-search-input no-results">
        No results found
      </li>
    </ul>
  </div>
 
  <div class="error" *ngIf="control.invalid && control.touched">
    {{ getErrorMessage() }}
  </div>
</div>