<div class="field__wrap">
  <input 
    #inputElem 
    [(ngModel)]="searchString"
    (ngModelChange)="filterOptions()"
    (focus)="showSelect()" 
    (focusout)="hideSelect()" 
    class="field__input"
    [disabled]="disabled"
    [ngClass]="{'disabled':disabled}"
    type="text" placeholder="{{placeholder}}" required>

  <input 
    [formControl]="control"
    (focus)="showSelect()" 
    (focusout)="hideSelect()" 
    class="field__input"
    type="text"
    [hidden]="true"
    required>

  <ul class="list-search-input" [ngClass]="{'show-opacity': showList}">
    <li *ngFor="let option of filteredOptions" (click)="selectOption(option, inputElem)"
      class="option-search-input select-option">
      {{ option.name }}
    </li>
  </ul>
</div>