<div class="page__inner">
  <div class="page__container">
    <div class="page__title h3">Settings</div>
    <div class="settings">
      <div class="settings__menu">
        <button (click)="changeTab('InformationsTab')" class="settings__link"
          [ngClass]="{'active' : tabsEnum == 'InformationsTab'}">Informations</button>
        <button (click)="changeTab('ChargePointsTab')" class="settings__link"
          [ngClass]="{'active' : tabsEnum == 'ChargePointsTab'}">Charge Points</button>
      </div>
      <div class="settings__wrapper">
        <select class="select">
          <option (click)="changeTab('InformationsTab')">Informations</option>
          <option (click)="changeTab('ChargePointsTab')">Charge Points</option>
        </select>
        <div class="settings__list">
          <div class="settings__item" *ngIf="tabsEnum == 'InformationsTab'">
            <div class="settings__anchor" id="basics" data-value="Basics"></div>
            <div class="title-green settings__title">Informations</div>
            <div class="settings__profile">
              
            </div>
            <div class="settings__fieldset">
              <app-display-cell title="name" val="{{chargingStation.name}}"></app-display-cell>
              <app-display-cell title="address" val="{{chargingStation.address}}"></app-display-cell>
              <app-display-cell title="network" val="{{chargingStation.network}}"></app-display-cell>
              <app-display-cell title="category" val="{{chargingStation.category}}"></app-display-cell>
              <app-display-cell title="chargerQuantity" val="{{chargingStation.chargerQuantity}}"></app-display-cell>
              <app-display-cell title="country" val="{{chargingStation.country}}"></app-display-cell>
              <app-display-cell title="state" val="{{chargingStation.state}}"></app-display-cell>
              <app-display-cell title="city" val="{{chargingStation.city}}"></app-display-cell>
              <app-display-cell title="latitude" val="{{chargingStation.latitude}}"></app-display-cell>
              <app-display-cell title="longitude" val="{{chargingStation.longitude}}"></app-display-cell>
              <app-display-cell title="organisation" val="{{chargingStation.organisation}}"></app-display-cell>
              <app-display-cell title="parkingType" val="{{chargingStation.parkingType}}"></app-display-cell>
              <app-display-cell title="status" val="{{chargingStation.status}}"></app-display-cell>
            </div>
          </div>
          <div class="settings__item" *ngIf="tabsEnum == 'ChargePointsTab'">
            <div class="settings__anchor" id="account" data-value="Account"></div>
            <div class="title-purple settings__title">Charge Points</div>
            <div class="settings__fieldset">
              <div class="card__display" *ngFor="let chargePoint of chargingStation.chargePoints">
                
                
                <!-- name -->
                <div class="card__display_item">
                  <span class="item__title"> Name 
                    <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                      <svg class="icon icon-info">
                        <use xlink:href="#icon-info"></use>
                      </svg>
                    </div>
                  </span> <br>
                  <span class="item__text">{{chargePoint.name}}</span>
                </div>

                <!-- serialNumber -->
                <div class="card__display_item">
                  <span class="item__title"> Serial Number 
                    <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                      <svg class="icon icon-info">
                        <use xlink:href="#icon-info"></use>
                      </svg>
                    </div>
                  </span> <br>
                  <span class="item__text">{{chargePoint.serialNumber}}</span>
                </div>

                <!-- make -->
                <div class="card__display_item">
                  <span class="item__title"> Make 
                    <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                      <svg class="icon icon-info">
                        <use xlink:href="#icon-info"></use>
                      </svg>
                    </div>
                  </span> <br>
                  <span class="item__text">{{chargePoint.make}}</span>
                </div>

                <!-- status -->
                <div class="card__display_item">
                  <span class="item__title"> Status 
                    <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                      <svg class="icon icon-info">
                        <use xlink:href="#icon-info"></use>
                      </svg>
                    </div>
                  </span> <br>
                  <span class="item__text">{{chargePoint.status}}</span>
                </div>

                <!-- comment -->
                <div class="card__display_item">
                  <span class="item__title"> Comment 
                    <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                      <svg class="icon icon-info">
                        <use xlink:href="#icon-info"></use>
                      </svg>
                    </div>
                  </span> <br>
                  <span class="item__text">{{chargePoint.comment}}</span>
                </div>

                <!-- username -->
                <div class="card__display_item">
                  <span class="item__title"> Username 
                    <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                      <svg class="icon icon-info">
                        <use xlink:href="#icon-info"></use>
                      </svg>
                    </div>
                  </span> <br>
                  <span class="item__text">{{chargePoint.username}}</span>
                </div>

                <!-- password -->
                <div class="card__display_item">
                  <span class="item__title"> Password 
                    <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                      <svg class="icon icon-info">
                        <use xlink:href="#icon-info"></use>
                      </svg>
                    </div>
                  </span> <br>
                  <span class="item__text">{{chargePoint.password}}</span>
                </div>

                <!-- clientCertThumb -->
                <div class="card__display_item">
                  <span class="item__title"> Client Certificate Thumb 
                    <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                      <svg class="icon icon-info">
                        <use xlink:href="#icon-info"></use>
                      </svg>
                    </div>
                  </span> <br>
                  <span class="item__text">{{chargePoint.clientCertThumb}}</span>
                </div>

              </div>
            </div>

          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>