<div class="page__inner">
  <div class="page__container">
    <div class="page__title h3">Charging Station : {{chargingStation.name}}</div>
    <div class="settings">
      <div class="settings__menu">
        <button (click)="changeTab('InformationsTab')" class="settings__link"
          [ngClass]="{'active' : tabsEnum == 'InformationsTab'}">Informations</button>

        <button (click)="changeTab('ImagesTab')" class="settings__link"
          [ngClass]="{'active' : tabsEnum == 'ImagesTab'}">Images</button>

        <button (click)="changeTab('ChargePointsTab')" class="settings__link"
          [ngClass]="{'active' : tabsEnum == 'ChargePointsTab'}">Charge Points</button>
        
      </div>
      <div class="settings__wrapper">
        <select class="select">
          <option (click)="changeTab('InformationsTab')">Informations</option>
          <option (click)="changeTab('ImagesTab')">Images</option>
          <option (click)="changeTab('ChargePointsTab')">Charge Points</option>
        </select>
        <div class="settings__list">
          <div class="settings__item" *ngIf="tabsEnum == 'InformationsTab'">
            <div class="settings__anchor" id="basics" data-value="Basics"></div>
            <div class="title-green settings__title">Informations</div>
            <div class="settings__profile">

            </div>
            <div class="settings__fieldset">
              <ng-container *ngIf="chargingStationLoaded">
                
                <app-display-cell 
                  [updateObservable]="updateChargingStationObservable.bind(this)" 
                  [object]="chargingStation"
                  inpType="text"
                  title="name"
                  [val]="chargingStation.name" [editable]="false"></app-display-cell>
                
                <app-display-cell 
                    [updateObservable]="updateChargingStationObservable.bind(this)" 
                    [object]="chargingStation"
                  inpType="text"
                  title="address"
                 
                  [val]="chargingStation.address"></app-display-cell>
                
                <app-display-cell 
                    [updateObservable]="updateChargingStationObservable.bind(this)" 
                    [object]="chargingStation"
                  inpType="select_enum"
                  enumName="ChargingStationNetworkEnum"
                  title="network"
                  val="{{chargingStation.network}}"></app-display-cell>
                
                <app-display-cell 
                    [updateObservable]="updateChargingStationObservable.bind(this)" 
                    [object]="chargingStation"
                  inpType="select_enum"
                  title="category"
                   enumName="ChargingStationCategoryEnum" 
                  val="{{chargingStation.category}}"></app-display-cell>
                
                <app-display-cell 
                  [updateObservable]="updateChargingStationObservable.bind(this)" 
                  [object]="chargingStation"
                  inpType="text"
                  title="chargerQuantity"
                  
                  val="{{chargingStation.chargerQuantity}}"></app-display-cell>
                
                <app-display-cell 
                  [updateObservable]="updateChargingStationObservable.bind(this)" 
                  [object]="chargingStation"
                  inpType="text"
                  title="city"
                   
                  val="{{chargingStation.city}}"></app-display-cell>
                
                <app-display-cell 
                    [updateObservable]="updateChargingStationObservable.bind(this)" 
                    [object]="chargingStation"
                  inpType="text"
                  title="organisation"
                  val="{{chargingStation.organisation}}"></app-display-cell>
                
                <app-display-cell 
                    [updateObservable]="updateChargingStationObservable.bind(this)" 
                    [object]="chargingStation"
                    inpType="select_enum"
                    enumName="ParkingTypeEnum"
                    title="parkingType" 
                    val="{{chargingStation.parkingType}}"></app-display-cell>
                
                <app-display-cell 
                    [updateObservable]="updateChargingStationObservable.bind(this)" 
                    [object]="chargingStation"
                  inpType="select_enum"
                  enumName="ChargingStationStatusEnum"
                  title="status" 
                  val="{{chargingStation.status}}"></app-display-cell>
              </ng-container>
              
            </div>
          </div>
          <div class="settings__item" *ngIf="tabsEnum == 'ChargePointsTab'">
            <ng-container *ngIf="chargingStation.id != null && chargingStation.id != undefined">
              <app-charging-station-charge-points [chargingStationID]="chargingStation.id"></app-charging-station-charge-points>
            </ng-container>
            
          </div>
          <div class="settings__item" *ngIf="tabsEnum == 'ImagesTab'">
            <ng-container *ngIf="chargingStation.id != null && chargingStation.id != undefined">
              <app-charging-station-images [chargingStationID]="chargingStation.id"></app-charging-station-images>
            </ng-container>
            
          </div>

        </div>
      </div>
    </div>
  </div>
</div>