<header class="header" data-id="#header">
  <button type="button" class="header__burger" aria-label="Open menu" (click)="toggleSidebar()"></button>
  <app-navbar-search></app-navbar-search>
  <button class="header__search">
    <svg class="icon icon-search">
      <use xlink:href="#icon-search"></use>
    </svg>
  </button>
  <div class="header__control">
    <app-navbar-notifications></app-navbar-notifications>
    <div class="account-control">
      <button type="button" class="account-trigger" [matMenuTriggerFor]="accountMenu" aria-label="Open account menu">
        <img *ngIf="imageUrl; else initials" [src]="imageUrl" (error)="onImageError()" alt="Your profile photo">
        <ng-template #initials><span class="avatar-initials">{{ userInitials }}</span></ng-template>
      </button>
      <mat-menu #accountMenu="matMenu" class="vx-account-overlay" xPosition="before">
        <div class="account-summary">
          <span class="account-avatar"><img *ngIf="imageUrl; else menuInitials" [src]="imageUrl" (error)="onImageError()" alt=""><ng-template #menuInitials>{{ userInitials }}</ng-template></span>
          <div>
            <span class="account-eyebrow">Signed in as</span>
            <strong>{{ user.firstName }} {{ user.lastName }}</strong>
            <span class="account-email">{{ user.email }}</span>
            <small>{{ user.role }}</small>
          </div>
        </div>
        <div class="account-menu-actions">
          <button mat-menu-item class="account-menu-item" (click)="goToProfile()"><span>My profile</span></button>
          <button mat-menu-item class="account-menu-item" *ngIf="access.isAdmin" routerLink="/dashboard/users"><span>Manage users & access</span></button>
        </div>
        <div class="account-divider"></div>
        <button mat-menu-item class="account-menu-item signout-action" (click)="logout()"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-arrow-right"></use></svg><span>Sign out</span></button>
      </mat-menu>
    </div>
  </div>
</header>
