<header class="header" data-id="#header">
  <button class="header__burger"></button>
  <app-navbar-search></app-navbar-search>
  <button class="header__search">
    <svg class="icon icon-search">
      <use xlink:href="#icon-search"></use>
    </svg>
  </button>
  <div class="header__control">
    <div class="header__item header__item_notifications">
      <button class="header__head active">
        <svg class="icon icon-notification">
          <use xlink:href="#icon-notification"></use>
        </svg>
      </button>
      <app-navbar-notifications></app-navbar-notifications>
    </div>
    <div class="header__item header__item_user" [ngClass]="{'active' : avatarMenuBody}">
      <button (click)="toggleUserMenu()" class="header__head profile">
        <ng-container *ngIf="imageUrl; else initials">
          <img [src]="imageUrl" (error)="onImageError()" alt="Avatar">
        </ng-container>
        <ng-template #initials>
          <span class="avatar-initials">{{ userInitials }}</span>
        </ng-template>
      </button>
        <div class="header__body header__item_user_body">
          <div class="header__nav">
            <button class="header__link" (click)="goToProfile()">Profile</button>
          </div>

          <div class="header__nav"><a class="header__link" (click)="logout()">Log out</a></div>
        </div>
    </div>
  </div>
  <div class="header__btns"><a class="header__link" href="sign-in.html">Sign in</a><a class="button header__button"
      href="sign-up.html">Sign up</a></div>
</header>