<header class="header" data-id="#header">
  <button class="header__burger"></button>
  <div class="search">
    <div class="search__head">
      <button class="search__start">
        <svg class="icon icon-search">
          <use xlink:href="#icon-search"></use>
        </svg>
      </button>
      <button class="search__direction">
        <svg class="icon icon-arrow-left">
          <use xlink:href="#icon-arrow-left"></use>
        </svg>
      </button>
      <input class="search__input" type="text" placeholder="Search or type a command">
      <button class="search__result">⌘ F</button>
      <button class="search__close">
        <svg class="icon icon-close-circle">
          <use xlink:href="#icon-close-circle"></use>
        </svg>
      </button>
    </div>
    <div class="search__body">
      <div class="search__box">
        <div class="search__category">Recent search</div>
        <div class="search__list">
          <div class="search__item"><a class="search__link js-popup-open" href="#popup-product"
              data-effect="mfp-zoom-in">
              <div class="search__preview"><img srcSet="img/content/product-pic-3@2x.jpg 2x"
                  src="img/content/product-pic-3.jpg" alt="Put your title here"></div>
              <div class="search__details">
                <div class="search__content">Small caption</div>
                <div class="search__title">Put your title here</div>
              </div>
            </a>
            <button class="search__remove">
              <svg class="icon icon-close">
                <use xlink:href="#icon-close"></use>
              </svg>
            </button>
          </div>
          <div class="search__item"><a class="search__link js-popup-open" href="#popup-product"
              data-effect="mfp-zoom-in">
              <div class="search__preview"><img srcSet="img/content/product-pic-4@2x.jpg 2x"
                  src="img/content/product-pic-4.jpg" alt="Put your title here"></div>
              <div class="search__details">
                <div class="search__content">Small caption</div>
                <div class="search__title">Put your title here</div>
              </div>
            </a>
            <button class="search__remove">
              <svg class="icon icon-close">
                <use xlink:href="#icon-close"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="search__box">
        <div class="search__category">Suggestions</div>
        <div class="search__list"><a class="search__suggestion" href="#" data-popup=".js-popup-product">
            <div class="search__icon">
              <svg class="icon icon-photos">
                <use xlink:href="#icon-photos"></use>
              </svg>
            </div>
            <div class="search__details">
              <div class="search__title">Put your title here</div>
              <div class="search__content">Small caption</div>
            </div>
            <div class="search__arrow">
              <svg class="icon icon-arrow-next">
                <use xlink:href="#icon-arrow-next"></use>
              </svg>
            </div>
          </a><a class="search__suggestion" href="#" data-popup=".js-popup-product">
            <div class="search__icon">
              <svg class="icon icon-photos">
                <use xlink:href="#icon-photos"></use>
              </svg>
            </div>
            <div class="search__details">
              <div class="search__title">Put your title here</div>
              <div class="search__content">Small caption</div>
            </div>
            <div class="search__arrow">
              <svg class="icon icon-arrow-next">
                <use xlink:href="#icon-arrow-next"></use>
              </svg>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <button class="header__search">
    <svg class="icon icon-search">
      <use xlink:href="#icon-search"></use>
    </svg>
  </button>
  <div class="header__control">
    <div class="header__item header__item_notifications">
      <button class="header__head active">
        <svg class="icon icon-notification">
          <use xlink:href="#icon-notification"></use>
        </svg>
      </button>
      <app-navbar-notifications></app-navbar-notifications>
    </div>
    <div class="header__item header__item_user" [ngClass]="{'active' : avatarMenuBody}">
      <button (click)="header_avatar()" class="header__head"><img src="img/content/avatar.jpg" alt="Avatar"></button>
      <div class="header__body" >
        <div class="header__nav">
          <a class="header__link" routerLink="/profile">Profile</a>
        </div>

        <div class="header__nav"><a class="header__link" (click)="logout()">Log out</a></div>
      </div>
    </div>
  </div>
  <div class="header__btns"><a class="header__link" href="sign-in.html">Sign in</a><a class="button header__button"
      href="sign-up.html">Sign up</a></div>
</header>