<div class="field">
  <div class="field__label">{{title | titlecase}}
    <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
      <svg class="icon icon-info">
        <use xlink:href="#icon-info"></use>
      </svg>
    </div>
    <div class="field__edit" *ngIf="editable" (click)="editing = true">
      <svg class="icon icon-edit">
        <use xlink:href="#icon-edit"></use>
      </svg>
    </div>
  </div>
  <div class="field__information" *ngIf="!editing">
    <ng-container *ngIf="inpType == 'text'">
      <ng-container *ngIf="isLink">
        <div class="link" routerLink="{{link}}"> {{val | titlecase}} </div>
      </ng-container>
      <ng-container *ngIf="!isLink">
        {{val | titlecase}}
      </ng-container>
      
    </ng-container>

    <ng-container *ngIf="inpType == 'number'">
      <ng-container *ngIf="isLink">
        <div class="link" routerLink="{{link}}"> {{val}} </div>
      </ng-container>
      <ng-container *ngIf="!isLink">
        {{val}}
      </ng-container>
      
    </ng-container>
    <ng-container *ngIf="inpType == 'select_enum'">
      {{val | camelCaseToSpace}}
    </ng-container>
  </div>
  <div class="field__wrap flex" *ngIf="editing">

    <ng-container *ngIf="inpType == 'text'">
      <input #inputField [(ngModel)]="updatedValue" class="field__input" type="text" value="{{val}}">
    </ng-container>

    <ng-container *ngIf="inpType == 'number'">
      <input #inputField [(ngModel)]="updatedValue" class="field__input" type="number" value="{{val}}">
    </ng-container>

    <ng-container *ngIf="inpType == 'select_enum'">
      <select class="select" [(ngModel)]="updatedValue">
        <option *ngFor="let value of getEnumValues()" [value]="value">{{value.toString() | camelCaseToSpace}}</option>
    </select>
    </ng-container>


    <button class="button-stroke inp-btn" (click)="updateVal()" >
      <ng-container *ngIf="!isLoading"> 
        <svg class="icon icon-check">
          <use xlink:href="#icon-check"></use>
        </svg> 
      </ng-container>
      <ng-container *ngIf="isLoading"> 
        <app-svg-spinner></app-svg-spinner> 
      </ng-container>
      
    </button>
    <button class="button-stroke inp-btn" (click)="editing = false">
      <svg class="icon icon-close">
        <use xlink:href="#icon-close"></use>
      </svg>
    </button>
  </div>
</div>