.field__information
    font-size: 16px
    color: #000

.field__label
    display: flex

.field__edit
    cursor: pointer

.flex
    display: flex

.inp-btn
    margin-left: 5px
    margin-right: 5px
    padding: 0 10px