<app-dashboard-form-container 
  title="New Charge Point"
  [items]="[
    { label: 'Dashboard', link: '/dashboard' },
    { label: 'Charge Points', link: '/dashboard/charging-points' },
    { label: 'Create' }
  ]">
  <div form>
    <!-- Charge Point Informations Form -->
    <ng-container *ngIf="currentStep == CreateChargePointFormEnum.ChargePointInformations">
      <app-create-charge-point-informations
        (nextStep)="nextStep(CreateChargePointFormEnum.ChargePointConnectors)"
        [form]="chargePointInformationsForm"
        ></app-create-charge-point-informations>
    </ng-container>

    <!-- Charge Point Informations Form -->
    <ng-container *ngIf="currentStep == CreateChargePointFormEnum.ChargePointConnectors">
      <app-create-charge-point-add-connectors
        (submit)="saveChargePoint()"
        (previousStepEvent)="currentStep = CreateChargePointFormEnum.ChargePointInformations"
        [chargePoint]="chargePointInformationsForm.value"
        ></app-create-charge-point-add-connectors>
    </ng-container>

  </div>
</app-dashboard-form-container>