<app-dashboard-form-container 
  title="New Charging Station"
  [items]="[
    { label: 'Dashboard', link: '/dashboard' },
    { label: 'Charging Stations', link: '/dashboard/charging-stations' },
    { label: 'Create' }
  ]">
  <div form>
    <!-- Charging Station Type Choice -->
    <ng-container *ngIf="currentStep == CreateChargingStationFormStepEnum.ChargingStationTypeChoice">
      <app-create-charging-station-type-choice
        (choiceEvent)="chargingStationTypeSelected($event)"
        ></app-create-charging-station-type-choice>
    </ng-container>

    <!-- Charging Station Informations -->
    <ng-container *ngIf="currentStep == CreateChargingStationFormStepEnum.ChargingStationInformations">
      <app-create-charging-station-informations
        [chargingStationType]="chargingStationType"
        [form]="chargingStationInformationsForm"
        (previousStepEvent)="currentStep = CreateChargingStationFormStepEnum.ChargingStationTypeChoice"
        (nextStep)="nextStep(CreateChargingStationFormStepEnum.ChargingStationAddress)">
      </app-create-charging-station-informations>
    </ng-container>

    <!-- Charging Station Address -->
    <ng-container *ngIf="currentStep == CreateChargingStationFormStepEnum.ChargingStationAddress">
      <app-create-charging-station-address
        [form]="chargingStationAddressForm"
        (previousStepEvent)="currentStep = CreateChargingStationFormStepEnum.ChargingStationInformations"
        (nextStep)="nextStep(CreateChargingStationFormStepEnum.AddChargePoints)">
    </app-create-charging-station-address>
    </ng-container>

    <!-- Charging Station Charge Points -->
    <ng-container *ngIf="currentStep == CreateChargingStationFormStepEnum.AddChargePoints">
      <app-create-charging-station-add-charge-points
        [chargingStationType]="chargingStationType"
        (previousStepEvent)="currentStep = CreateChargingStationFormStepEnum.ChargingStationAddress"
        (nextStep)="savingChargePoints($event)">
      </app-create-charging-station-add-charge-points>
    </ng-container>

    <ng-container *ngIf="currentStep == CreateChargingStationFormStepEnum.Images">
      <app-create-charging-station-images
        (previousStepEvent)="currentStep = CreateChargingStationFormStepEnum.AddChargePoints"
        (nextStep)="savingImages($event)">
      </app-create-charging-station-images>
    </ng-container>

    <!-- Charging Station Preview -->
    <ng-container *ngIf="currentStep == CreateChargingStationFormStepEnum.Preview">
      <app-create-charging-station-preview
        [chargingStationInformationsForm]="chargingStationInformationsForm"
        [chargingStationAddressForm]="chargingStationAddressForm"
        [chargePoints]="chargePoints"
        [chargingStationImages]="chargingStationImages"
        (previousStepEvent)="currentStep = CreateChargingStationFormStepEnum.Images"
        [isLoading]="isLoading"
        (submitEvent)="submitForm()">
      </app-create-charging-station-preview>
    </ng-container>
  </div>
</app-dashboard-form-container>