.btns_group{
    display: flex;
    width: 100%;
}

.btn_next{
    margin-left: auto;
    margin-right: 0px;
}

.charge_point_form{
    background-color: rgb(255, 254, 254);
}

.charge_point_connector_form{
    background-color: rgb(255, 255, 124);
}

.mt-20{
    margin-top: 20px;
}

.btn__remove{
    display: flex;
    justify-content: center;
    align-items: center;
    right: 48px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #EFEFEF;
}

.icon__remove{
    height: 24px;
    width: 24px;

}

.btn__remove_container{
    position: absolute;
    right: -8px;
    top: -8px;
}


.create__col:first-child {
    flex: 0 0 calc(100% );
    width: calc(100%);
    padding-right: 8px;
  }

  .create__group3 .field {
    flex: 0 0 calc(33% - 12px);
    width: calc(33% - 12px);
    margin: 0 6px 12px;
  }