<!-- inner-->
<div class="page__inner">
  <div class="page__container">
    <div class="page__title h3">New Charging Station</div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="create">
        <div class="create__row">
          <div class="create__col">
            <!-- Chargin station informations -->
            <div *ngIf="activeDiv === 1">
              <div class="create__card card">
                <div class="card__head">
                  <div class="title-green card__title">Name & description</div><a
                    class="button-stroke button-small card__button" href="products-dashboard.html">
                    <svg class="icon icon-arrow-left">
                      <use xlink:href="#icon-arrow-left"></use>
                    </svg><span>Back</span></a>
                </div>
                <div class="create__group">

                  <div class="field">
                    <div class="field__label">Network
                      <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                        <svg class="icon icon-info">
                          <use xlink:href="#icon-info"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="field__wrap">
                      <div class="field__wrap">
                        <select class="select" formControlName="chargingStationNetwork">
                          <option value="0">Public</option>
                          <option value="1">Private</option>
                          <option value="2">Partner</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="field">
                    <div class="field__label">Category
                      <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                        <svg class="icon icon-info">
                          <use xlink:href="#icon-info"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="field__wrap">
                      <div class="field__wrap">
                        <select class="select" formControlName="chargingStationCategory">
                          <option *ngFor="let key of getChargingStationCategoriesKeys()" value="{{key}}"> {{chargingStationCategories[key]}} </option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="field">
                    <div class="field__label">Charger quantity at location
                      <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                        <svg class="icon icon-info">
                          <use xlink:href="#icon-info"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="field__wrap">
                      <div class="field__wrap">
                        <select class="select" formControlName="chargingStationChargerQuantity">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

                <app-form-field class="field" title="Address" description="tbd" [control]="getFormControl('chargingStationAddress')"></app-form-field>

                <div class="create__group create__group3">
                  
                  <div class="field">
                    <div class="field__label">City
                      <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                        <svg class="icon icon-info">
                          <use xlink:href="#icon-info"></use>
                        </svg>
                      </div>
                    </div>
                    <app-search-input (optionSelected)="updateCity($event)" [control]="cityControl"
                      [options]="cities"></app-search-input>
                  </div>
                  <app-form-field class="field" title="Location Zip Code" description="tbd" [control]="getFormControl('chargingStationZipCode')"></app-form-field>
                </div>
                <div class="create__group">
                  <div class="field">
                    <div class="field__label">Parking Type
                      <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                        <svg class="icon icon-info">
                          <use xlink:href="#icon-info"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="field__wrap">
                      <div class="field__wrap">
                        <select class="select" formControlName="chargingStationParkingType">
                          <option value="ParallelParking"> Parallel Parking</option>
                          <option value="PerperndicularParking"> Perperndicular Parking </option>
                          <option value="AngleParking"> Angle Parking </option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="field">
                    <div class="field__label">Status
                      <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                        <svg class="icon icon-info">
                          <use xlink:href="#icon-info"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="field__wrap">
                      <div class="field__wrap">
                        <select class="select" formControlName="chargingStationStatus">
                          <option value="available">Available</option>
                          <option value="under_maintenance">Under Maintenance</option>
                          <option value="offline">Offline</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="create__label">Compatibility
                  <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                    <svg class="icon icon-info">
                      <use xlink:href="#icon-info"></use>
                    </svg>
                  </div>
                </div>
                <div class="create__list" formGroupName="chargingStationAmenities">
                  <label class="checkbox">
                    <input formControlName="wifi" class="checkbox__input" type="checkbox" checked><span
                      class="checkbox__inner"><span class="checkbox__tick"></span><span
                        class="checkbox__text">Wifi</span></span>
                  </label>
                  <label class="checkbox">
                    <input formControlName="parking" class="checkbox__input" type="checkbox" checked><span
                      class="checkbox__inner"><span class="checkbox__tick"></span><span
                        class="checkbox__text">Parking</span></span>
                  </label>
                  <label class="checkbox">
                    <input formControlName="restaurants" class="checkbox__input" type="checkbox"><span
                      class="checkbox__inner"><span class="checkbox__tick"></span><span
                        class="checkbox__text">Restaurants</span></span>
                  </label>
                  <label class="checkbox">
                    <input formControlName="washroom" class="checkbox__input" type="checkbox"><span
                      class="checkbox__inner"><span class="checkbox__tick"></span><span
                        class="checkbox__text">Washroom</span></span>
                  </label>
                  <label class="checkbox">
                    <input formControlName="sittingArea" class="checkbox__input" type="checkbox"><span
                      class="checkbox__inner"><span class="checkbox__tick"></span><span class="checkbox__text">Sitting
                        Area</span></span>
                  </label>

                </div>
                <div class="create__card card">
                  <div class="card__head">
                    <div class="title-blue card__title">Images & CTA</div>
                  </div>
                  <div class="file">
                    <div class="file__label">Cover images
                      <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed"
                        data-position="right">
                        <svg class="icon icon-info">
                          <use xlink:href="#icon-info"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="file__wrap">
                      <input class="file__input" type="file" />
                      <div class="file__box">
                        <svg class="icon icon-upload">
                          <use xlink:href="#icon-upload"></use>
                        </svg>Click or drop image
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="activeDiv === 2">
              <div class="create__card card">
                <div class="card__head">
                  <div class="title-green card__title">Charge Points</div>
                </div>
              </div>
              <div class="create__card card charge_point_form" formArrayName="chargePoints"
                  *ngFor="let control of chargePoints.controls; index as i">
                  <div class="create__group create__group3" [formGroupName]="i">
                    <div class="btn__remove_container">
                      <button type="button" class="btn__remove" (click)="removeChargePoint(i)">
                        <svg viewBox="0 0 1024 1024"  version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M176.662 817.173c-8.19 8.471-7.96 21.977 0.51 30.165 8.472 8.19 21.978 7.96 30.166-0.51l618.667-640c8.189-8.472 7.96-21.978-0.511-30.166-8.471-8.19-21.977-7.96-30.166 0.51l-618.666 640z" fill="" /><path d="M795.328 846.827c8.19 8.471 21.695 8.7 30.166 0.511 8.471-8.188 8.7-21.694 0.511-30.165l-618.667-640c-8.188-8.471-21.694-8.7-30.165-0.511-8.471 8.188-8.7 21.694-0.511 30.165l618.666 640z" fill="" /></svg>
                      </button>
                    </div>
                    <div class="field">
                      <div class="field__label">Charge Point Name
                        <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                          <svg class="icon icon-info">
                            <use xlink:href="#icon-info"></use>
                          </svg>
                        </div>
                      </div>
                      <div class="field__wrap">
                        <input class="field__input" type="text" formControlName="chargePointName" placeholder="Value"
                          required>
                      </div>
                    </div>

                    <div class="field">
                      <div class="field__label">Charge Point ID
                        <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                          <svg class="icon icon-info">
                            <use xlink:href="#icon-info"></use>
                          </svg>
                        </div>
                      </div>
                      <div class="field__wrap">
                        <input class="field__input" type="text" formControlName="chargePointID" placeholder="Value"
                          required>
                      </div>
                    </div>

                    <div class="field">
                      <div class="field__label">Category
                        <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                          <svg class="icon icon-info">
                            <use xlink:href="#icon-info"></use>
                          </svg>
                        </div>
                      </div>
                      <div class="field__wrap">
                        <div class="field__wrap">
                          <select class="select" formControlName="chargePointCategory">
                            <option value="TheTower">The Tower</option>
                            <option value="TheTowerPlus">The Tower plus</option>
                            <option value="VXCommercial">VX Commercial</option>
                            <option value="TheTowerDC">The Tower DC</option>
                            <option value="VXHome">VX Home</option>
                          </select>
                        </div>
                      </div>
                    </div>


                    <div class="field">
                      <div class="field__label">Charge Point Serial number
                        <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                          <svg class="icon icon-info">
                            <use xlink:href="#icon-info"></use>
                          </svg>
                        </div>
                      </div>
                      <div class="field__wrap">
                        <input class="field__input" type="text" formControlName="chargePointSerialNumber"
                          placeholder="Value" required>
                      </div>
                    </div>

                    <div class="field">
                      <div class="field__label">Charge Point Status
                        <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                          <svg class="icon icon-info">
                            <use xlink:href="#icon-info"></use>
                          </svg>
                        </div>
                      </div>
                      <div class="field__wrap">
                        <div class="field__wrap">
                          <select class="select" formControlName="chargePointStatus">
                            <option value="Available">Available</option>
                            <option value="Offline">Offline</option>
                            <option value="UnderMaintenance">Under Maintenance</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="create__card card charge_point_connector_form" formArrayName="chargePointConnectors"
                      *ngFor="let connectorCtrl of getChargePointConnectors(i).controls; let j=index">
                      <div class="btn__remove_container">
                        <button type="button"  class="btn__remove" (click)="removeChargePointConnector(i,j)">
                          <svg viewBox="0 0 1024 1024"  version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M176.662 817.173c-8.19 8.471-7.96 21.977 0.51 30.165 8.472 8.19 21.978 7.96 30.166-0.51l618.667-640c8.189-8.472 7.96-21.978-0.511-30.166-8.471-8.19-21.977-7.96-30.166 0.51l-618.666 640z" fill="" /><path d="M795.328 846.827c8.19 8.471 21.695 8.7 30.166 0.511 8.471-8.188 8.7-21.694 0.511-30.165l-618.667-640c-8.188-8.471-21.694-8.7-30.165-0.511-8.471 8.188-8.7 21.694-0.511 30.165l618.666 640z" fill="" /></svg>
                        </button>
                      </div>
                      <div class="create__group" [formGroupName]="j">
                        
                        

                        <div class="field">
                          <div class="field__label">Quantity
                            <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                              <svg class="icon icon-info">
                                <use xlink:href="#icon-info"></use>
                              </svg>
                            </div>
                          </div>
                          <div class="field__wrap">
                            <div class="field__wrap">
                              <select class="select" formControlName="chargePointConnectorQuantity">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                              </select>
                            </div>
                          </div>
                        </div>

                        <div class="field">
                          <div class="field__label">Speed
                            <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                              <svg class="icon icon-info">
                                <use xlink:href="#icon-info"></use>
                              </svg>
                            </div>
                          </div>
                          <div class="field__wrap">
                            <div class="field__wrap">
                              <select class="select" formControlName="chargePointConnectorSpeed">
                                <option value="7.3">7.3 KWh</option>
                                <option value="11">11 KWh</option>
                                <option value="22">22 KWh</option>
                                <option value="43">43 KWh</option>
                              </select>
                            </div>
                          </div>
                        </div>

                        <div class="create__card card charge_point_connector_tarif"
                          formArrayName="chargePointConnectorTarifs"
                          *ngFor="let tarifCtrl of getChargePointConnectorTarifs(i,j).controls; let k=index">
                          <div class="create__group" [formGroupName]="k">
                            <div class="btn__remove_container">
                              <button type="button"  class="btn__remove" (click)="removeChargePointConnectorTarif(i,j,k)">
                                <svg viewBox="0 0 1024 1024"  version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M176.662 817.173c-8.19 8.471-7.96 21.977 0.51 30.165 8.472 8.19 21.978 7.96 30.166-0.51l618.667-640c8.189-8.472 7.96-21.978-0.511-30.166-8.471-8.19-21.977-7.96-30.166 0.51l-618.666 640z" fill="" /><path d="M795.328 846.827c8.19 8.471 21.695 8.7 30.166 0.511 8.471-8.188 8.7-21.694 0.511-30.165l-618.667-640c-8.188-8.471-21.694-8.7-30.165-0.511-8.471 8.188-8.7 21.694-0.511 30.165l618.666 640z" fill="" /></svg>
                              </button>
                            </div>

                            <div class="field">
                              <div class="field__label">Unit
                                <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                                  <svg class="icon icon-info">
                                    <use xlink:href="#icon-info"></use>
                                  </svg>
                                </div>
                              </div>
                              <div class="field__wrap">
                                <div class="field__wrap">
                                  <select class="select" formControlName="chargePointConnectorTarifUnit">
                                    <option value="KW">KW</option>
                                    <option value="per minute">Per Minute</option>
                                  </select>
                                </div>
                              </div>
                            </div>

                            <div class="field">
                              <div class="field__label">Currency
                                <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                                  <svg class="icon icon-info">
                                    <use xlink:href="#icon-info"></use>
                                  </svg>
                                </div>
                              </div>
                              <div class="field__wrap">
                                <select class="select" formControlName="chargePointConnectorTarifCurrency">
                                  <option value="MAD">MAD</option>
                                  <option value="EUR">EUR</option>
                                  <option value="USD">USD</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button type="button"  class="button mt-20" (click)="addChargePointConnectorTarif(i,j)">Add Tarif</button>
                    </div>
                    <button type="button"  class="button" (click)="addChargePointConnector(i)">Add Connector</button>
                  </div>
                  <!-- charge point connectors -->
                </div>
                <button type="button"  (click)="addChargePoint()" class="button-stroke">
                  Add Charge Point</button>
            </div>
            <div *ngIf="activeDiv === 3">
              <h4>this is the preview</h4>
            </div>
            <div class="btns_group">
              <button *ngIf="activeDiv > 1" type="button" class="button-stroke btn_previous" (click)="showPreviousDiv()"> Previous step </button>
              
              <button type="button" *ngIf="activeDiv <= 2" class="button btn_next" (click)="showNextDiv()"> Next step </button>
              
              <button class="button" type="submit"> Submit </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>