.btns_group
    display: flex
    width: 100%
    margin-top: 32px

.btn_next
    margin-left: auto
    margin-right: 12px

.charge_point_form
    background-color: rgb(255, 254, 254)

.charge_point_connector_form
    background-color: rgb(255, 255, 124)

.mt-20
    margin-top: 20px

.btn__remove
    display: flex
    justify-content: center
    align-items: center
    width: 48px
    height: 48px
    border-radius: 50%
    border: 2px solid var(--primary6)
    transition: ease-in-out all .4s
    svg
        width: 24px
        height: 24px
        fill: var(--primary6)
        transition: ease-in-out all .4s
    &:hover
        border: 2px solid var(--primary9)
        svg
            fill: var(--primary9)

.icon__remove
    height: 24px
    width: 24px


.btn__remove_container
    position: absolute
    right: 8px
    top: 8px


.create__col:first-child 
    flex: 0 0 calc(100% )
    width: calc(100%)
    padding-right: 8px


.create__group3 .field 
    flex: 0 0 calc(33% - 12px)
    width: calc(33% - 12px)
    margin: 0 6px 12px


.charge_point_connector_form
    flex: 0 0 100%
    overflow-x: scroll
    .field
        flex: 0 0 20%
    .charge_point_connector_tarif
        flex: 0 0 45%
        padding: 12px
        .field
            flex: 0 0 40%


.upload-input
    position: absolute
    inset: 0
    opacity: 0
    cursor: pointer
    width: 100%
    z-index: 2

.file__wrap
    transition: ease-in-out all .4s
    background: white
    &:hover
        background: yellow

.files__box
    display: flex
    height: 100%
    align-items: center
    justify-content: center
    width: 100%
    position: absolute
        
    .image__box
        flex: 0 0 19%
        margin-right: 12px
        margin-left: 12px
        position: relative
        overflow: hidden
        height: 98%
        margin-top: 1%
        .image__clear
            position: absolute
            top: 8px
            left: 8px
            height: 32px
            width: 32px
            display: flex
            align-items: center
            justify-content: center
            text-align: center
            padding: 8px
            border-radius: 50%
            background: var(--primary1)
            color: var(--primary9)
            transition: ease-in-out all .2s
            z-index: 5
            cursor: pointer
            &:hover
                background: var(--primary9)
                color: var(--primary1)
        img
            position: absolute
            top: 0
            left: 0
            object-fit: cover
            width: 100%
            height: 100%
            border-radius: 6px