<div class="step-icon phone-step">
  <svg viewBox="0 0 24 24" fill="currentColor">
    <path
      d="M6.62,10.79C8.06,13.62 10.38,15.94 13.21,17.38L15.41,15.18C15.69,14.9 16.08,14.82 16.43,14.93C17.55,15.3 18.75,15.5 20,15.5A1,1 0 0,1 21,16.5V20A1,1 0 0,1 20,21A17,17 0 0,1 3,4A1,1 0 0,1 4,3H7.5A1,1 0 0,1 8.5,4C8.5,5.25 8.7,6.45 9.07,7.57C9.18,7.92 9.1,8.31 8.82,8.59L6.62,10.79Z" />
  </svg>
</div>

<ng-container *ngIf="currentStep == PhoneStepsEnum.EnterPhone">
  <h3>Enter your phone number</h3>
  <div class="form-group">
    <app-form-field
        class="field"
        title="Phone Number"
        description="Your phone number where we can reach you and that can be used in other functionalities"
        placeholder="Enter your phone number"
        [control]="getPhoneControl('phoneNumber')"
      ></app-form-field>
  </div>
  <div class="form-actions">
    <app-button variant="secondary" 
      (click)="addPhoneNumber()" 
      [isLoading]="isSendingVerificationSms"
      [disabled]="!this.phoneForm.valid">
      Submit
    </app-button>
  </div>
</ng-container>

<ng-container *ngIf="currentStep == PhoneStepsEnum.VerifyPhone">
  <h3>Verify Your Phone</h3>
  <p>We need to verify your phone number: <strong>{{phone}}</strong></p>

  <div class="verification-form" *ngIf="!phoneCodeSent">
    <app-button 
      (btnClick)="sendVerificationSMS()" 
      [isLoading]="isSendingVerificationSms" 
      variant="secondary">Send Verification SMS</app-button>
  </div>

  <div class="verification-form" *ngIf="phoneCodeSent">
    <p class="success-message">Verification SMS sent! Check your messages.</p>
    <div class="form-group">
      <label>Enter verification code:</label>
      <app-form-field
          class="field"
          title="Code"
          description="The verification code you received in your email"
          placeholder="Enter 6-digit code"
          [control]="getControl('verificationCode')"
        ></app-form-field>
    </div>
    <div class="form-actions">
      <app-button variant="secondary" (click)="verifyPhone()" [disabled]="!form.valid">
        Verify Phone
      </app-button>
    </div>
  </div>
</ng-container>
