<!-- inner-->
<div class="page__inner">
  <div class="page__container">
    <div class="page__title h3">New Recharge Order</div>
    <form [formGroup]="orderForm" (ngSubmit)="cpfOnSubmit()">
      <div class="create">
        <div class="create__row">
          <div class="create__col">
              <div class="create__card card charge_point_form">
                  <div class="create__group create__group3">
                    
  
                      <div class="field">
                        <div class="field__label">Order Status
                          <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                            <svg class="icon icon-info">
                              <use xlink:href="#icon-info"></use>
                            </svg>
                          </div>
                        </div>
                        <div class="field__wrap">
                          <div class="field__wrap">
                            <select class="select" formControlName="status">
                              <option value="Pending">Pending</option>
                              <option value="Processing">Processing</option>
                              <option value="Completed">Completed</option>
                              <option value="Failed">Failed</option>
                              <option value="Canceled">Canceled</option>
                              <option value="Refunded">Refunded</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    
                      <div class="field">
                        <div class="field__label">Card
                          <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                            <svg class="icon icon-info">
                              <use xlink:href="#icon-info"></use>
                            </svg>
                          </div>
                        </div>
                        <div class="field__wrap">
                          <div class="field__wrap">
                            <select class="select" formControlName="cardID">
                              <option value="">None</option>
                              <option *ngFor="let card of cards" value="{{card.id}}"> {{card.cardNumber+ " " + card.userName}}   </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    
                      <app-form-field
                        class="field"
                        title="Amount"
                        description="tbd"
                        [control]="getControl('amount')"
                      ></app-form-field>
                    
                    
                </div>
            </div>
            
          </div>
        </div>
        <div class="btns_group">
          <button [disabled]="orderForm.invalid" [ngClass]="{'disabled': orderForm.invalid}" class="button" type="submit"> 
              <app-svg-spinner *ngIf="isLoading"></app-svg-spinner>
              <ng-container *ngIf="!isLoading">
                  Submit
              </ng-container> 
          </button>
        </div>
      </div>
    </form>
  </div>