<div class="recharge_card_container">
  <div class="recharge_card_head">
    <div [ngClass]="{'small' : small}" class="recharge_card_logo">
      <img src="assets/img/logo.svg" alt="">
    </div>
    <!-- <div>
      {{card.cardType}}
    </div> -->
    <div>
      <button mat-button (click)="remove()">
        delete
      </button>
    </div>
  </div>

  <div class="recharge_card_body" [ngClass]="{'small' : small}">
    <p [ngClass]="{'small' : small}" class="card_number">{{card.cardNumber}}</p>
    
  </div>

  <div class="recharge_card_footer" [ngClass]="{'small' : small}">
    <div class="balance footer_element"> 
      <p [ngClass]="{'small' : small}" class="title">Balance</p>
      <p [ngClass]="{'small' : small}" class="value">{{card.balance}} DH</p>
    </div>
    <div class="expiration_date footer_element"> 
      <p [ngClass]="{'small' : small}" class="title">Exp. Date</p>
      <p [ngClass]="{'small' : small}" class="value">{{card.expirationDate | date:'MM / yyyy'}}</p>
    </div>
    <div class="activation_control footer_element">
      <p [ngClass]="{'small' : small}" class="title">Activation</p>
      <p [ngClass]="{'small' : small}" class="value">{{card.status}}</p>
    </div>
  </div>
</div>