<div class="overlay"></div>
<!-- inner-->
<div class="page__inner">
  <div class="page__container">
    <div class="page__title h3">Home</div>

    <!-- Chargers Overview -->
    <div class="card">
      <div class="card__head">
        <div class="title-purple card__title">Charge Points Connectors Overview</div>
      </div>
      <div class="connector__status">
        <app-connector-statuses class="connector__status__list"></app-connector-statuses>
      </div>
    </div>

    <div class="card">
      <app-card title="overview">
        <app-tabs-statistics></app-tabs-statistics>
      </app-card>
    </div>

    <div class="card">
      <div class="card__head">
        <div class="title-purple card__title">Links</div>
      </div>
      <div class="connector__status">
        <div class="connector__status__list">
          <app-small-card [number]="-1" routerLink="/dashboard/charging-stations" class="connector__status__item" style="background-color: #f2efff"
            title="Charging Stations" description="available"></app-small-card>
          <app-small-card [number]="-1" routerLink="/dashboard/charging-points" class="connector__status__item" style="background-color: #f2efff"
            title="Charge points" description="Unavailable"></app-small-card>
          <app-small-card [number]="-1" routerLink="/dashboard/connector-realtime" class="connector__status__item" style="background-color: #f2efff"
            title="Connector Real-time" description="Occupied"></app-small-card>
          <app-small-card [number]="-1" routerLink="/dashboard/charging-cards" class="connector__status__item" style="background-color: #f2efff"
            title="Recharge Cards" description="Faulted"></app-small-card>
          <app-small-card [number]="-1" routerLink="/dashboard/users" class="connector__status__item" style="background-color: #f2efff" title="Users"
            description="Reserved"></app-small-card>
        </div>
      </div>
      <div class="connector__status">
        <div class="connector__status__list">
          <app-small-card [number]="-1" routerLink="/dashboard/statistics" class="connector__status__item" style="background-color: #f2efff"
            title="Statistics" description="available"></app-small-card>
          <app-small-card [number]="-1" routerLink="/dashboard/recharge-orders" class="connector__status__item" style="background-color: #f2efff"
            title="Orders" description="Unavailable"></app-small-card>
          <app-small-card [number]="-1" routerLink="/dashboard/transactions" class="connector__status__item" style="background-color: #f2efff"
            title="Transactions" description="Occupied"></app-small-card>
          <app-small-card [number]="-1" routerLink="/dashboard/system-reports" class="connector__status__item" style="background-color: #f2efff"
            title="System Reports" description="Faulted"></app-small-card>
          <app-small-card [number]="-1" routerLink="/dashboard/reports" class="connector__status__item" style="background-color: #f2efff"
            title="Reports" description="Reserved"></app-small-card>
        </div>
      </div>
    </div>
  </div>
</div>
