.status
  padding: 2px 8px
  border-radius: 4px
  
.charging-session-status__not-started 
  color: #D35400
  background-color: rgba(211, 84, 0, 0.2)
  border-color: #D35400

.charging-session-status__pending
  color: #9B59B6
  background-color: rgba(155, 89, 182, 0.2)
  border-color: #9B59B6

.charging-session-status__completed
  color: #F39C12
  background-color: rgba(243, 156, 18, 0.2)
  border-color: #F39C12

