.status__description-container 
  font-family: Arial, sans-serif
  margin: 20px

.status__description-title 
  font-size: 24px
  font-weight: bold
  margin-bottom: 15px

.status__description-list 
  display: flex
  flex-direction: column
  gap: 15px

.status__description-item 
  display: flex
  align-items: center

.status__description-item-dot 
  width: 12px
  height: 12px
  border-radius: 50%
  margin-right: 10px
  padding: 0

.status__description-item-title 
  font-weight: bold
  margin-right: 10px

.status__description-item-description 
  color: #555


.status__description-item-dot--available 
  background-color: #00b050 

.status__description-item-dot--maintenance 
  background-color: #9e9e9e 

.status__description-item-dot--error 
  background-color: #ff0000 

.status__description-item-dot--disconnected 
  background-color: #c00000 

.status__description-item-dot--busy-reserved 
  background-color: #ffc000 

.status__description-item-dot--busy-blocked 
  background-color: #7030a0 

.status__description-item-dot--busy-scheduled 
  background-color: #00b0f0 

.status__description-item-dot--busy-non-released 
  background-color: #0070c0 

.status__description-item-dot--busy-non-charging 
  background-color: #002060 

.status__description-item-dot--other 
  background-color: #808080 

.status__description-item-dot--charging 
  background-color: #92d050 
