<div class="status__description-container">
  <div class="status__description-title">Charge point statuses</div>
  <div class="status__description-list">
    <div class="status__description-item">
      <div class="status__description-item-dot status__description-item-dot--available"></div>
      <div class="status__description-item-title">Available</div>
      <div class="status__description-item-description">The charge point is available for charging.</div>
    </div>
    <div class="status__description-item">
      <div class="status__description-item-dot status__description-item-dot--maintenance"></div>
      <div class="status__description-item-title">Maintenance</div>
      <div class="status__description-item-description">The charge point has been set in maintenance state by an owner/operator.</div>
    </div>
    <div class="status__description-item">
      <div class="status__description-item-dot status__description-item-dot--error"></div>
      <div class="status__description-item-title">Error</div>
      <div class="status__description-item-description">Hardware or software error.</div>
    </div>
    <div class="status__description-item">
      <div class="status__description-item-dot status__description-item-dot--disconnected"></div>
      <div class="status__description-item-title">Disconnected</div>
      <div class="status__description-item-description">Connection to the charge point cannot be established.</div>
    </div>
    <div class="status__description-item">
      <div class="status__description-item-dot status__description-item-dot--busy-non-released"></div>
      <div class="status__description-item-title">Busy Non Released</div>
      <div class="status__description-item-description">Charge session is finished, but the cable has not been released. Charging cannot start again.</div>
    </div>
    <div class="status__description-item">
      <div class="status__description-item-dot status__description-item-dot--busy-non-charging"></div>
      <div class="status__description-item-title">Busy Non Charging</div>
      <div class="status__description-item-description">Charge session is finished, but charging may continue later.</div>
    </div>
    <div class="status__description-item">
      <div class="status__description-item-dot status__description-item-dot--other"></div>
      <div class="status__description-item-title">Other</div>
      <div class="status__description-item-description">Passive or unknown status.</div>
    </div>
    <div class="status__description-item">
      <div class="status__description-item-dot status__description-item-dot--charging"></div>
      <div class="status__description-item-title">Charging</div>
      <div class="status__description-item-description">A vehicle is charging at the charge point.</div>
    </div>
  </div>
</div>
