<div class="card" id="invoice">
  <div class="invoice_header">
    <div class="invoice_logo">
      <img src="http://localhost:4200/assets/img/logo.svg" alt="">
    </div>
    <div class="invoice_title">
      INVOICE #1000
    </div>    
  </div>
  <div class="invoice_header flex">   
    <table>
      <tr>
        <td class="invoice_header_main">Billed to :</td>
        <td class="invoice_header_value">customer X</td>
      </tr>
      <tr>
        <td class="invoice_header_main">Pay to :</td>
        <td class="invoice_header_value">VoltaX Charging</td>
      </tr>
      <tr>
        <td class="invoice_header_main">Payment method :</td>
        <td class="invoice_header_value">CMI</td>
      </tr>
      <tr>
        <td class="invoice_header_main">Phone :</td>
        <td class="invoice_header_value">0610614476</td>
      </tr>
      <tr>
        <td class="invoice_header_main">Email :</td>
        <td class="invoice_header_value">chanaa.projects@gmail.com</td>
      </tr>
      <tr>
        <td class="invoice_header_main">CardID :</td>
        <td class="invoice_header_value">CARD023931</td>
      </tr>
      <tr>
        <td class="invoice_header_main">Date :</td>
        <td class="invoice_header_value">07 Feb 2023</td>
      </tr>
      <!-- add more rows as needed -->
    </table>   
  </div>
  <div class="invoice_body">
    <p class="invoice_details_title">Details</p>
    <div>
      <table class="invoice_center">
        <thead class="invoice_thead">
          <th>Description</th>
          <th>Amount</th>
        </thead>
        <tbody class="invoice_tbody">
          <tr>
            <td>Card Recharge</td>
            <td>500 DH</td>
          </tr>
        </tbody>     
      </table>
    </div>
  </div>
  <div class="invoice_footer">
    <p class="invoice_footer_message">Thank you for your purchase ! </p>
    <p class="invoice_footer_support">For any further questions please contact us at support@voltax.com </p>
  </div>
</div>
