.icon
    width: 40%
    margin-left: auto
    margin-right: auto
    height: 100px
    display: flex
    position: relative
    img
        top: 0
        left: 0
        position: absolute
        object-fit: contain
        height: 100%
        width: 100%

.form-container
    width: 65%
    margin-left: auto
    margin-right: auto
    text-align: center
    .entry__button
        display: block
        margin: 24px auto 0 auto

.title
    width: 100%
    text-align: center
    font-size: 2em
    font-weight: 500
    margin-bottom: 8px

.subtitle
    width: 100%
    text-align: center
    opacity: .7
