@import ./selects
@import ./buttons
@import ./inputs
body
  overflow-x: hidden
  margin: 0
  padding: 0
  font-family: 'Montserrat', sans-serif

:root
  --primary1: #ffffff  
  --primary2: #f2f2f2  
  --primary3: #e6e6e6  
  --primary4: #d9d9d9  
  --primary5: #cccccc  
  --primary6: #bfbfbf  
  --primary7: #b3b3b3  
  --primary8: #a6a6a6   
  --primary9: black

  --secondary1: #cd9a35  
  --secondary2: #f0b134  
  --secondary3: #e0bf75 
  --secondary4: #eedcb3  
  --secondary5: #f5e9cd  
  --secondary6: #ecefef 

  --professional1: #2b2a2b  
  --professional2: #2c2e35  
  --professional3: #4e4f52 
  --professional4: #6c7776  
  --professional5: #8f9a99  
  --professional6: #ced4d3 





.error-message
  color: red




