@import ./selects
@import ./buttons
@import ./inputs
body
  overflow-x: hidden
  margin: 0
  padding: 0
  font-family: 'Montserrat', sans-serif

:root
  --primary1: #ffffff  
  --primary2: #f2f2f2  
  --primary3: #e6e6e6  
  --primary4: #d9d9d9  
  --primary5: #cccccc  
  --primary6: #bfbfbf  
  --primary7: #b3b3b3  
  --primary8: #a6a6a6   
  --primary9: black

  --secondary1: #cd9a35  
  --secondary2: #f0b134  
  --secondary3: #e0bf75 
  --secondary4: #eedcb3  
  --secondary5: #f5e9cd  
  --secondary6: #ecefef 

  --professional1: #2b2a2b  
  --professional2: #2c2e35  
  --professional3: #4e4f52 
  --professional4: #6c7776  
  --professional5: #8f9a99  
  --professional6: #ced4d3 





.error-message
  color: red


.stat__list 
  display: flex
  justify-content: space-between 

@media only screen and (max-width: 1023px) 
  .stat__list 
    display: block  

.stat__item 
  display: block
  padding: 0 32px 0 64px
  color: #1A1D1F 
@media only screen and (max-width: 1339px) 
  .stat__item 
    padding-left: 48px  
@media only screen and (max-width: 1259px) 
  .stat__item 
    padding: 0 32px 0 24px  
@media only screen and (max-width: 1023px) 
  .stat__item 
    display: flex
    padding: 0  
.stat__item:not(:first-child) 
  border-width: 0 0 0 1px
  border-style: solid
  border-color: #EFEFEF 
  @media only screen and (max-width: 1023px) 
    .stat__item:not(:first-child) 
      margin-top: 16px
      padding-top: 16px
      border-width: 1px 0 0  
  body.dark .stat__item:not(:first-child) 
    border-color: #272B30 
.stat__item:first-child 
  padding-left: 0 
.stat__item:last-child 
  padding-right: 0 

.stat__icon 
  display: flex
  justify-content: center
  align-items: center
  width: 48px
  height: 48px
  margin-bottom: 24px
  border-radius: 50% 
  @media only screen and (max-width: 1023px) 
    .stat__icon 
      margin: 0 16px 0 0  
  .stat__icon .icon 
    width: 24px
    height: 24px
    fill: #1A1D1F 

.stat__label 
  display: flex
  align-items: center
  margin-bottom: 8px
  font-size: 13px
  font-weight: 600
  line-height: 1.23077
  color: #6F767E 

.stat .tooltip .icon 
  fill: #6F767E 

.stat__counter 
  min-width: 238px
  font-size: 48px
  font-weight: 600
  line-height: 1
  letter-spacing: -.03em 
  @media only screen and (max-width: 1339px) 
    .stat__counter 
      min-width: 200px  
  @media only screen and (max-width: 1023px) 
    .stat__counter 
      min-width: auto
      font-size: 40px  
  @media only screen and (max-width: 767px) 
    .stat__counter 
      font-size: 32px  
  body.dark .stat__counter 
    color: #FCFCFC 

.stat__indicator 
  display: inline-flex
  align-items: center
  margin-top: 8px
  padding: 4px
  color: #6F767E 
  body.dark .stat__indicator 
    background: #272B30
    border-radius: 8px 
  .stat__indicator span 
    margin-left: 4px
    font-size: 12px
    font-weight: 700
    line-height: 1.33333 

.countries__item 
  display: flex
  align-items: center
  color: #33383F 
  body.dark .countries__item 
    color: #EFEFEF 
  .countries__item:not(:last-child) 
    margin-bottom: 12px
    padding-bottom: 12px
    border-bottom: 1px solid #EFEFEF 
    body.dark .countries__item:not(:last-child) 
      border-color: #272B30 


.link
  cursor: pointer
  color: var(--primary8)
  transition: ease-in-out all .2s
  font-weight: 800
  &:hover
    color: var(--primary9)
    