.field__error
  color: red
  font-size: 0.8em

.form__actions
  margin-top: 24px
  display: flex

.field
  display: block
  margin-bottom: 24px !important 

.field__group
    display: flex
    flex-wrap: wrap
    .field
        flex: 0 0 48%
        margin-right: auto