

.setting__container
  width: 100%
  padding: 8px 6px
  align-items: center
  border-radius: 16px
  border: 1px solid var(--primary4)
  display: flex
  margin-top: 32px
  .setting__logo
    flex: 0 0 20%
    padding: 0px 18px
    &.setting__logo-map
      padding: 12px 40px
  .setting__informations
    flex: 0 0 70%
    .setting__name
      font-size: 1em
      font-weight: 600
      color: var(--primary9)
    .setting__description
      font-size: 0.9em
      font-weight: 400
      color: var(--primary8)
  .setting__toggle
    flex: 0 0 10%
  .setting__action
    flex: 0 0 10%