

.messages-container
  display: flex
  flex-wrap: wrap
  .message
    flex: 0 0 100%
    display: flex
    background: var(--professional2)
    color: var(--primary2)
    font-family: Montserrat
    font-weight: 400
    letter-spacing: 1px
    padding: 8px
    align-items: center
    justify-content: center
    .message-time
      margin-left: auto
    .message-icon
      flex: 0 0 5%
      svg
        height: 26px
        fill: white
        stroke: white
        background: #00009a
        width: 28px
        border-radius: 4px
        padding: 2px