<div class="title-purple card__title">
  Logs
</div>

<div class="table__actions_container">
  <div class="filters" [ngClass]="{'active': isFiltersActive}">
    <button class="button-square-stroke button-small filters__head" (click)="toggleActive($event)">
      <svg class="icon icon-filter">
        <use xlink:href="#icon-filter"></use>
      </svg>
    </button>
    <div class="filters__body">
        <div class="filters__top">
          <div class="title-red filters__title">Filtering Message Logs</div>
          <button class="filters__close" (click)="removeActive()">
            <svg class="icon icon-close">
              <use xlink:href="#icon-close"></use>
            </svg>
          </button>
        </div>
        <div  class="filters__group">
          
          <div class="filters__item">
            <div class="filters__list">
              <div class="field">
                <div class="field__label">By Message
                  <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                    <svg class="icon icon-info">
                      <use xlink:href="#icon-info"></use>
                    </svg>
                  </div>
                </div>
                <div class="field__wrap">
                  <div class="field__wrap">
                    <select class="select" [(ngModel)]="filters.message">
                      <option value="" selected>None</option>
                      <option value="BootNotification">BootNotification</option>
                      <option value="Authorize">Authorize</option>
                      <option value="MeterValues">MeterValues</option>
                      <option value="SecurityEventNotification">SecurityEventNotification</option>
                      <option value="StatusNotification">StatusNotification</option>
                      <option value="TransactionEvent">TransactionEvent</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="field" *ngIf="filters.message == 'TransactionEvent'">
                <div class="field__label">Event Type
                  <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
                    <svg class="icon icon-info">
                      <use xlink:href="#icon-info"></use>
                    </svg>
                  </div>
                </div>
                <div class="field__wrap">
                  <div class="field__wrap">
                    <select class="select" [(ngModel)]="eventType">
                      <option value="" selected>None</option>
                      <option value="Updated">Updated</option>
                      <option value="Started">Started</option>
                      <option value="Ended">Ended</option>
                    </select>
                  </div>
                </div>
              </div>
  
              
            </div>
          </div>
          
        </div>
        <div class="filters__btns">
          <button class="button-stroke filters__button" (click)="resetFilters()">Reset</button>
          <button class="button filters__button" (click)="applyFilters()">Apply</button>
        </div>
        
    </div>
    <div class="filters__overlay" (click)="removeActive()"></div>
  </div>
  <button class="button button__refresh" (click)="getLogs()">
    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3 3V8M3 8H8M3 8L6 5.29168C7.59227 3.86656 9.69494 3 12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21C7.71683 21 4.13247 18.008 3.22302 14" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </button>
  Realtime : <app-toggle (toggled)="realtimeOnToggle($event)" [isToggled]="realtimeOn"></app-toggle>
</div>

<ng-container *ngIf="isLoading">
  <app-preloader-container></app-preloader-container>
</ng-container>

<ng-container *ngIf="!isLoading">
  <div class="messages__container" *ngIf="!realtimeOn">
    <div class="message" *ngFor="let messageLog of messageLogs" (click)="displayMessage(messageLog)">
      <div class="message__icon">
        <div class="sent">
          <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 20L12 4M12 4L18 10M12 4L6 10"  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
      </div>
      <div class="message__content">{{messageLog.message}}</div>
      <div class="message__result">{{messageLog.result}}</div>
      <div class="message__time">{{messageLog.logTime  | date:'medium' }}</div>
    </div>
  </div>
  <div class="pagination__container">
    <app-pagination
      [pagination]="pagination"
      (refreshEvent)="getLogs($event)"
      ></app-pagination>
  </div>
</ng-container>




<ng-container *ngIf="messageLogDisplayed != null">
  <div class="message__modal">
    <app-connector-realtime-message-log [messageLog]="messageLogDisplayed"></app-connector-realtime-message-log>
  </div>
  <div class="message__modal_overlay" (click)="closeDiplayedMessageModal()"></div>
</ng-container>