

.messages__container
  display: flex
  flex-wrap: wrap
  margin-top: 32px
  border-radius: 4px
  overflow: hidden
  .message
    flex: 0 0 100%
    display: flex
    font-family: Montserrat
    font-weight: 400
    letter-spacing: 1px
    padding: 12px
    align-items: center
    justify-content: center
    border-bottom: 1px solid var(--primary4)
    .message__icon
      flex: 0 0 10%
      width: 10%
      text-align: center
      svg
        height: 26px
        fill: white
        stroke: white
        background: #00009a
        width: 28px
        border-radius: 4px
        padding: 2px
    .message__content
      flex: 0 0 25%
      width: 25%
    .message__result
      flex: 0 0 25%
      width: 25%
    .message__time
      flex: 0 0 47%
      width: 47%
     