.card__list 
  display: flex
  margin: 0 -6px 

  @media only screen and (max-width: 1023px) 
    margin: 0 -24px
    overflow: auto
    -webkit-overflow-scrolling: touch
    -ms-overflow-style: none
    scrollbar-width: none 

    &::-webkit-scrollbar 
      display: none 

    &:before, &:after 
      content: ""
      flex-shrink: 0
      width: 24px
      height: 1px  

  @media only screen and (max-width: 767px) 
    margin: 0 -16px 
    &:before, &:after 
      width: 16px  


.card__item 
  display: block
  flex: 0 0 calc(33.333% - 12px)
  width: calc(33.333% - 12px)
  margin: 0 6px
  padding: 32px
  border-radius: 12px
  color: var(--primary9)
  background: var(--primary1)

  @media only screen and (max-width: 1023px) 
    flex: 0 0 295px
    width: 295px
    margin: 0 
    &:not(:last-child) 
      margin-right: 12px  

  @media only screen and (max-width: 767px) 
    flex: 0 0 285px
    width: 285px  

  body.dark & 
    color: var(--primary1) 
    background: var(--professional1)

    &:nth-child(2n+1) 
      background: rgba(205, 154, 53, 0.15) !important // secondary1 orange tint
    &:nth-child(2n) 
      background: rgba(240, 177, 52, 0.1) !important  // secondary2 orange tint


.card__icon 
  display: flex
  justify-content: center
  align-items: center
  width: 48px
  height: 48px
  margin-bottom: 12px
  border-radius: 50%
  background: var(--professional1)

  .icon 
    width: 24px
    height: 24px
    fill: var(--primary1)
    stroke: var(--primary1)

  body.dark & 
    background: var(--primary1) 
    .icon 
      fill: var(--professional1) 
      stroke: var(--professional1) 


.card__line 
  display: flex 


.card__title 
  display: flex
  align-items: center
  margin-bottom: 4px
  font-size: 13px
  font-weight: 600
  line-height: 1.23077
  color: var(--professional1)

  body.dark & 
    color: var(--primary1) 


.stock .tooltip .icon 
  fill: var(--professional1)

  body.dark & 
    fill: var(--primary1) 


.card__counter 
  margin-bottom: 4px
  font-size: 48px
  font-weight: 600
  line-height: 1
  letter-spacing: -.03em 


.card__indicator 
  display: inline-flex
  align-items: center
  border-radius: 8px
  padding: 4px
  background: var(--primary1)
  color: var(--professional4)

  body.dark & 
    background: var(--professional1)
    color: var(--primary1)

  span 
    margin-left: 4px
    font-size: 12px
    font-weight: 700
    line-height: 1.33333 


.card__chart 
  width: 80px
  height: 80px
  margin-left: auto
