<!-- page-->
<div class="page page_simple">
  <div class="entry">
    <div class="entry__wrapper"><a class="entry__logo" href="#"><img class="some-icon" src="assets/img/logo.svg"
          alt="Core"><img class="some-icon-dark" src="assets/img/logo.svg" alt="Core"></a>
      <div class="h2 entry__title">Complete Your Profile</div>
      
      <form>
        <div class="field">
          <div class="field__label">Choose Your Car Brand
            <div class="tooltip" title="Maximum 100 characters. No HTML or emoji allowed">
              <svg class="icon icon-info">
                <use xlink:href="#icon-info"></use>
              </svg>
            </div>
          </div>
          <div class="field__wrap">
            <div class="field__wrap">
              <select class="select">
                <option>Bmw</option>
                <option>Volkswaguen</option>
                <option>Tesla</option>
              </select>
            </div>
          </div>
        </div>

        
        <button class="button entry__button" href="index.html#header">Next Step</button>
        <button class="button entry__button" href="index.html#header">Previous Step</button>
        <button class="button entry__button" href="index.html#header">Save current and ignore</button>
      </form>
      <div class="entry__note">This site is protected by reCAPTCHA and the Google Privacy Policy.</div>
    </div>
  </div>
</div>