<div class="stopped-reason__description-container">
  <div class="stopped-reason__description-title">Charge Point Stopped Reasons</div>
  <div class="stopped-reason__description-list">
    <div class="stopped-reason__description-item">
      <div class="stopped-reason__description-item-dot stopped-reason__description-item-dot--deauthorized"></div>
      <div class="stopped-reason__description-item-title">DeAuthorized</div>
      <div class="stopped-reason__description-item-description">The transaction was stopped because of the authorization status in the response to a transactionEventRequest.</div>
    </div>
    <div class="stopped-reason__description-item">
      <div class="stopped-reason__description-item-dot stopped-reason__description-item-dot--emergency-stop"></div>
      <div class="stopped-reason__description-item-title">EmergencyStop</div>
      <div class="stopped-reason__description-item-description">Emergency stop button was used.</div>
    </div>
    <div class="stopped-reason__description-item">
      <div class="stopped-reason__description-item-dot stopped-reason__description-item-dot--energy-limit-reached"></div>
      <div class="stopped-reason__description-item-title">EnergyLimitReached</div>
      <div class="stopped-reason__description-item-description">EV charging session reached a locally enforced maximum energy transfer limit.</div>
    </div>
    <div class="stopped-reason__description-item">
      <div class="stopped-reason__description-item-dot stopped-reason__description-item-dot--ev-disconnected"></div>
      <div class="stopped-reason__description-item-title">EVDisconnected</div>
      <div class="stopped-reason__description-item-description">Disconnecting of cable, vehicle moved away from inductive charge unit.</div>
    </div>
    <div class="stopped-reason__description-item">
      <div class="stopped-reason__description-item-dot stopped-reason__description-item-dot--ground-fault"></div>
      <div class="stopped-reason__description-item-title">GroundFault</div>
      <div class="stopped-reason__description-item-description">A GroundFault has occurred.</div>
    </div>
    <div class="stopped-reason__description-item">
      <div class="stopped-reason__description-item-dot stopped-reason__description-item-dot--immediate-reset"></div>
      <div class="stopped-reason__description-item-title">ImmediateReset</div>
      <div class="stopped-reason__description-item-description">A Reset(Immediate) command was received.</div>
    </div>
    <div class="stopped-reason__description-item">
      <div class="stopped-reason__description-item-dot stopped-reason__description-item-dot--local"></div>
      <div class="stopped-reason__description-item-title">Local</div>
      <div class="stopped-reason__description-item-description">Stopped locally on request of the EV Driver at the Charging Station. This is a regular termination of a transaction.</div>
    </div>
    <div class="stopped-reason__description-item">
      <div class="stopped-reason__description-item-dot stopped-reason__description-item-dot--local-out-of-credit"></div>
      <div class="stopped-reason__description-item-title">LocalOutOfCredit</div>
      <div class="stopped-reason__description-item-description">A local credit limit enforced through the Charging Station has been exceeded.</div>
    </div>
    <div class="stopped-reason__description-item">
      <div class="stopped-reason__description-item-dot stopped-reason__description-item-dot--master-pass"></div>
      <div class="stopped-reason__description-item-title">MasterPass</div>
      <div class="stopped-reason__description-item-description">The transaction was stopped using a token with a MasterPassGroupId.</div>
    </div>
    <div class="stopped-reason__description-item">
      <div class="stopped-reason__description-item-dot stopped-reason__description-item-dot--other"></div>
      <div class="stopped-reason__description-item-title">Other</div>
      <div class="stopped-reason__description-item-description">Any other reason.</div>
    </div>
    <div class="stopped-reason__description-item">
      <div class="stopped-reason__description-item-dot stopped-reason__description-item-dot--overcurrent-fault"></div>
      <div class="stopped-reason__description-item-title">OvercurrentFault</div>
      <div class="stopped-reason__description-item-description">A larger than intended electric current has occurred.</div>
    </div>
    <div class="stopped-reason__description-item">
      <div class="stopped-reason__description-item-dot stopped-reason__description-item-dot--power-loss"></div>
      <div class="stopped-reason__description-item-title">PowerLoss</div>
      <div class="stopped-reason__description-item-description">Complete loss of power.</div>
    </div>
    <div class="stopped-reason__description-item">
      <div class="stopped-reason__description-item-dot stopped-reason__description-item-dot--power-quality"></div>
      <div class="stopped-reason__description-item-title">PowerQuality</div>
      <div class="stopped-reason__description-item-description">Quality of power too low, e.g. voltage too low/high, phase imbalance, etc.</div>
    </div>
    <div class="stopped-reason__description-item">
      <div class="stopped-reason__description-item-dot stopped-reason__description-item-dot--reboot"></div>
      <div class="stopped-reason__description-item-title">Reboot</div>
      <div class="stopped-reason__description-item-description">A locally initiated reset/reboot occurred.</div>
    </div>
    <div class="stopped-reason__description-item">
      <div class="stopped-reason__description-item-dot stopped-reason__description-item-dot--remote"></div>
      <div class="stopped-reason__description-item-title">Remote</div>
      <div class="stopped-reason__description-item-description">Stopped remotely on request of the CSMS.</div>
    </div>
    <div class="stopped-reason__description-item">
      <div class="stopped-reason__description-item-dot stopped-reason__description-item-dot--soc-limit-reached"></div>
      <div class="stopped-reason__description-item-title">SOCLimitReached</div>
      <div class="stopped-reason__description-item-description">Electric vehicle has reported reaching a locally enforced maximum battery State of Charge (SOC).</div>
    </div>
    <div class="stopped-reason__description-item">
      <div class="stopped-reason__description-item-dot stopped-reason__description-item-dot--stopped-by-ev"></div>
      <div class="stopped-reason__description-item-title">StoppedByEV</div>
      <div class="stopped-reason__description-item-description">The transaction was stopped by the EV.</div>
    </div>
    <div class="stopped-reason__description-item">
      <div class="stopped-reason__description-item-dot stopped-reason__description-item-dot--time-limit-reached"></div>
      <div class="stopped-reason__description-item-title">TimeLimitReached</div>
      <div class="stopped-reason__description-item-description">EV charging session reached a locally enforced time limit.</div>
    </div>
    <div class="stopped-reason__description-item">
      <div class="stopped-reason__description-item-dot stopped-reason__description-item-dot--timeout"></div>
      <div class="stopped-reason__description-item-title">Timeout</div>
      <div class="stopped-reason__description-item-description">EV not connected within timeout.</div>
    </div>
  </div>
</div>
