
.stopped-reason__description-container 
  font-family: Arial, sans-serif
  margin: 20px

.stopped-reason__description-title 
  font-size: 24px
  font-weight: bold
  margin-bottom: 15px

.stopped-reason__description-list 
  display: flex
  flex-direction: column
  gap: 15px

.stopped-reason__description-item 
  display: flex
  align-items: center

.stopped-reason__description-item-dot 
  width: 12px
  height: 12px
  border-radius: 50%
  margin-right: 10px
  padding: 0

.stopped-reason__description-item-title 
  font-weight: bold
  margin-right: 10px

.stopped-reason__description-item-description 
  color: #555

.stopped-reason__description-item-dot--deauthorized 
  background-color: #FF5733
.stopped-reason__description-item-dot--emergency-stop 
  background-color: #C70039
.stopped-reason__description-item-dot--energy-limit-reached 
  background-color: #900C3F
.stopped-reason__description-item-dot--ev-disconnected 
  background-color: #581845
.stopped-reason__description-item-dot--ground-fault 
  background-color: #1F618D
.stopped-reason__description-item-dot--immediate-reset 
  background-color: #48C9B0
.stopped-reason__description-item-dot--local 
  background-color: #F39C12
.stopped-reason__description-item-dot--local-out-of-credit 
  background-color: #F1C40F
.stopped-reason__description-item-dot--master-pass 
  background-color: #2ECC71
.stopped-reason__description-item-dot--other 
  background-color: #8E44AD
.stopped-reason__description-item-dot--overcurrent-fault 
  background-color: #E74C3C
.stopped-reason__description-item-dot--power-loss 
  background-color: #34495E
.stopped-reason__description-item-dot--power-quality 
  background-color: #16A085
.stopped-reason__description-item-dot--reboot 
  background-color: #2980B9
.stopped-reason__description-item-dot--remote 
  background-color: #D35400
.stopped-reason__description-item-dot--soc-limit-reached 
  background-color: #1ABC9C
.stopped-reason__description-item-dot--stopped-by-ev 
  background-color: #9B59B6
.stopped-reason__description-item-dot--time-limit-reached 
  background-color: #E67E22
.stopped-reason__description-item-dot--timeout 
  background-color: #F39C12
