<div class="card profile-section">
  <div class="card-header">
    <h2>My Debit Cards</h2>
  </div>
  <div class="card" *ngIf="debitCards.length == 0 && showDCForm == false">
    <app-empty-card></app-empty-card>
  </div>

  <div class="debit_cards-container">
    <div *ngIf="showDCForm" class="add_debit_card-container">
      <app-add-debit-card-profile
        [userID]="userID" 
        (createdEvent)="getUserDebitCards()"
        (cancelEvent)="showDCForm = false"></app-add-debit-card-profile>
    </div>
    <div *ngIf="debitCards.length > 0 && showDCForm == false">
      <app-debit-card *ngFor="let debitCard of debitCards" [cardNumber]="'•••• ' + debitCard.last4"
        [cardHolderName]="debitCard.nameHidden" [type]="debitCard.type" [id]="debitCard.id"
        [expiryDate]="formatExpiry(debitCard)"
        (deleteCard)="deleteDebitCardByID($event)" class="debit__card_container">
      </app-debit-card>
    </div>

    <div *ngIf="showDCForm ==false">
      <app-button (click)="showDCForm = true" variant="secondary">
        Add Debit Card
      </app-button>
    </div>
  </div>


</div>