@import '../../../../styles/display-page'

.flex
    display: flex


.ml-auto
    margin-left: auto


.mt-20
    margin-top: 20px

.debit__card_container
    margin-bottom: 24px
    display: block
    width: 50%

.debit_cards-container
    margin-top: 32px

.add_debit_card-container
    width: 60%