<div class="overlay"></div>
<!-- inner-->
<div class="page__inner">
  <div class="page__container">
    <div class="page__title h3">My Dashboard</div>

    <!-- Welcome Card -->
    <div class="card welcome__card">
      <!-- Welcoming message -->
      <p class="welcome">Hello back {{loggedInUser.firstName}} {{loggedInUser.lastName}} ! </p>

      <!-- Warnings and very important alerts -->
      <p class="warning">You must complete your profile before you can use our services ! <button>complete profile</button> </p>
      
      

      <!-- Email should be verified -->
      <ng-container *ngIf="!loggedInUser.isEmailVerified">
        <p class="warning"> 
          <svg class="icon icon-close-circle">
            <use xlink:href="#icon-close-circle"></use>
          </svg> 
          You must Verify your Email before using our services ! <button>Verify Email</button> 
        </p>
      </ng-container>

      <!-- Has no phone number -->
      <ng-container *ngIf="loggedInUser.phone == null || loggedInUser.phone == ''">

        <p class="warning"> 
          <svg class="icon icon-close-circle">
            <use xlink:href="#icon-close-circle"></use>
          </svg> 
          You must add a phone number before using our services <button>Add phone number</button> 
        
        </p>

        <!-- Phone should be verified -->
        <ng-container *ngIf="!loggedInUser.isPhoneNumberVerified">
          <p class="warning"> 
            <svg class="icon icon-close-circle">
              <use xlink:href="#icon-close-circle"></use>
            </svg> 
            You must Verify your phone number before using our services ! <button>Verify Phone Number</button> 
          
          </p>
        </ng-container>
      </ng-container>
    </div>
    
    <!-- Chargers Overview -->
    <div class="card">
      <div class="card__head">
        <div class="title-purple card__title">My Recharge Cards</div>
      </div>
      <div>
        <ngx-slick-carousel class="carousel" 
        #slickModal="slick-carousel" 
        [config]="slideConfig" 
        (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)"
        (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)">
          <div ngxSlickItem *ngFor="let rechargeCard of rechargeCards" class="slide">
            <app-recharge-card ></app-recharge-card>
          </div>
      </ngx-slick-carousel>
        
      </div>
    </div>
  </div>
</div>


<button (click)="showPopup(elementX)">click</button>

<div #elementX class="popup popup_product js-popup js-popup-product">
  <div class="popup__overlay js-popup-overlay"></div>
  <app-complete-profile-popup class="popup__wrap js-popup-wrap"></app-complete-profile-popup>
</div>