@import ./../../../../../styles/connector-realtime
.message__property
  font-size: 0.9em
  color: var(--primary8)
.message__info
  margin-bottom: 12px


.message__container
  max-height: 70vh
  overflow: scroll